.breadcrumbs{
    padding: 25px 0 0 0;
    &__breadcrumb{
        color: #a8a8a8;
        float: left;
        font-size: 95%;
        padding: 8px 0px 8px 0px;
        position: relative;
        text-decoration: none; 
        &--services{
            color: #616364;
        }
        &:hover:after{
            width: 100%;
        }
        &:after{
            background: $green;
            bottom: 7px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
        &--current{
            cursor: default;
        }
    }

    &__dash{
        color: #a8a8a8;
        float: left;
        margin: 7px 5px 0px 4px;
        &--services{
            color: #616364;
        }
    }
}

.breadcrumbs__breadcrumb--current:hover:after{
    width: 0;
}