.category{
    background: #fff;
    padding: 0 0 30px 0;
    min-width: 1242px;
    &--products{
        background: none;
    }
    &__bg{
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: 0.25s;
        width: 100%;
        &--binder{
            background: url('../img/binder.png') no-repeat;
        }
        &--binder-active{
            background: url('../img/binder--active.png') no-repeat;
        }
        &--fabric{
            background: url('../img/fabric.png') no-repeat;
        }
        &--fabric-active{
            background: url('../img/fabric--active.png') no-repeat;
        }
        &--glue{
            background: url('../img/glue.png') no-repeat;
        }
        &--glue-active{
            background: url('../img/glue--active.png') no-repeat;
        }
        &--prepregs{
            background: url('../img/prepregs.png') no-repeat;
        }
        &--prepregs-active{
            background: url('../img/prepregs--active.png') no-repeat;
        }
        &--normal{            
            opacity: 1;
            z-index: 1;
        }
        &--active{
            opacity: 0;
            z-index: 2;
        }
    }
    &__card{
        background-size: cover;
        color: $black;
        height: 312px;
        padding: 43px 36px 0px 29px;
        position: relative;
        text-decoration: none;
        width: 542px;         
        &:hover .category__bg--active{
            opacity: 1;
        }
        &:hover .category__link{
            background: none;
            border-radius: 0;
            width: 152px;
        }
        &:hover .category__link-text{
            opacity: 1;
            right: 45px;
        }
        &:hover li:before{
            background: #fff;
        }
    }
    &__card:nth-child(2n){
        float: right;            
        margin: 30px 0 0 0;
    }
    &__card:nth-child(2n+1){
        float: left;            
        margin: 30px 0 0 0;
    }
    &__header{
        font-family: OpenSansBold, sans-serif;
        font-size: 220%;
        padding: 0 0 48px 0;
        position: relative;
        z-index: 2;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 2;
        li{
            background: url(../img/marker.svg) no-repeat 2px 13px;
            font-family: GentiumRegular, serif;
            font-size: 120%;
            line-height: 140%;
            padding: 0 0px 17px 22px;
            position: relative;
        }
        li:before{
            background: #1fcca3;
            border-radius: 10px;
            content: '';
            height: 5px;
            left: 2px;
            position: absolute;
            top: 13px;
            transition: 0.2s;
            width: 5px;
        }
    }
    &__marker{
        left: 2px;
        position: absolute;
        top: 13px;
        transition: 0.25s;
        &--normal{
            opacity: 0;
        }
        &--hover{
            opacity: 1;
        }
    }
    &__temperature{
        bottom: 53px;
        left: 31px;
        position: absolute;
        z-index: 2;
    }
    &__temperature-header{
        font-family: OpenSansBold, sans-serif;
        margin: 0px 0 13px 0;
    }
    &__temperature-text{
        color: #7c7c7c;
        font-family: GentiumRegular, serif;
        font-size: 115%; 
    }
    &__link{
        background: #1fcca3;
        bottom: 43px;
        border-radius: 25px;
        display: table;
        height: 40px;
        position: absolute;
        right: 31px;
        text-decoration: none;
        transition: 0.4s;
        width: 40px;
        z-index: 2;
    }
    &__link-image{
        position: absolute;
        right: 8px;
        top: 14px;
    }
    &__link-text{
        color: #fff;
        transition: 0.4s;
        font-family: OpenSansBold, sans-serif;
        opacity: 0;
        position: absolute;
        right: 8px;
        top: 8px;
    }
}