#map{
    height: 757px;
    width: 100%;
}

.itecma{
    &__map{
        position: relative;
    }
    &__map-container{
        left: 50%;
        margin-left: -621px;
        position: absolute;
        top: 0;
        width: 1242px;
    }
    &__map-header{
        font-family: OpenSansBold,sans-serif;
        font-size: 205%;
        padding: 64px 0 67px 0;
    }
    &__map-info{
        background: #fff;
        padding: 71px 0 89px 0;
        text-align: center;
        width: 499px;
    }
    &__map-address{
        font-family: $GR;
        font-size: 120%;
        line-height: 145%;
    }
    &__map-phone{
        color: $black;
        display: block;
        font-family: $OSBold;
        font-size: 130%;
        padding: 53px 0 0 0;
        text-decoration: none;
    }
    &__map-email{        
        display: block;
        color: $black;
        padding: 12px 0 0 0;
        text-decoration: none;
    }
    &__map-map-zoom-plus{
        background: url('../img/zoom-plus.png') no-repeat 0 0;
        cursor: pointer;
        height: 57px;
        position: absolute;
        right: 24px;
        top: 290px;
        width: 57px;
    }
    &__map-map-zoom-minus{
        background: url('../img/zoom-minus.png') no-repeat 0 0;
        cursor: pointer;
        height: 57px;
        position: absolute;
        right: 24px;
        top: 370px;
        width: 57px;
    }
}

.ymaps-2-1-47-map-bg-ru{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    filter: grayscale(100%);
}

.ymaps-2-1-48-ground-pane{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

ymaps canvas{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    filter: grayscale(100%);
}