.fabric-table-header{
    font-family: $OSBold;
    margin: 0;
    font-size: 145%;
    padding: 67px 0 33px 0;
}

.fabric{
    &__row{
        background: #f6f6f6;
        color: $black;
        display: block;
        font-family: $GRN;
        margin: 0 0 5px 0;
        padding: 14px 20px 13px 15px;
        text-decoration: none;
        transition: 0.2s;
        &:hover{
            background: $green;
        }
        &--first{
            background: #fff;
            color: #a8a8a8;
            font-family: OpenSans,sans-serif;
            font-size: 95%;
            padding: 0 20px 4px 15px;
            &:hover{
                background: #fff;
            }
        }
        p{
            padding: 0 0 3px 0 !important;
        }
    }
    &__column{
        display: table;
        float: left;
        &--link{
            padding: 0 36px 0 39px;
            width: 224px;
        }
        &--link-header{
            padding: 0 30px 0 43px;
            width: 224px;
        }
        &--arrow{
            float: right;
        }
        &--text{
            font-family: $GR;
            width: 365px;
        }
        &--text-header{
            width: 365px;
        }        
        &--img{
            width: 127px;
        }
    }
    &__column-info{
        display: table-cell;
        height: 127px;
        vertical-align: middle;
        &--link{
            display: inline-block;
        }
        &--header{
            height: 20px;
        }
    }
    &__img{
        display: block;
    }
    &__link{
        border-bottom: 1px solid $green;
        font-size: 120%;
        line-height: 145%;
    }
}
