.footer input:focus{
    border-bottom: 1px solid $green;
    border-top: 1px solid $green;
    border-left: 1px solid $green;
}

.footer{
    input{
        color: #fff;
        outline: none;
        transition: 0.2s;
    }
    height: 382px;
    left: 0;
    min-width: 1242px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: -382px;
    width: 100%;
    z-index: 0;
    &--services{
        height: 340px;
        bottom: -340px;
    }
    &__info{
        padding: 104px 0 0 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        &--services{
            padding: 88px 0 0 0;
        }
    }
    &__link{
        border-bottom: 1px solid  rgba(31, 204, 163, 0);
        color: #fff;
        margin: 0 46px 0 0;
        padding: 0 0 8px 0;
        position: relative;
        text-decoration: none;    
        &:hover:after{
            width: 100%;
        }
        &:after{
            background: $green;
            bottom: 6px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
    &__link-phone{
        color: #fff;
        display: block;
        font-family: OpenSansBold, sans-serif;
        font-size: 130%;
        float: right;
        margin: -6px 0 0 0;
        text-decoration: none;
    }
    &__link-email{
        color: #fff;
        float: right;
        font-size: 95%;
        margin: 4px 0 0 0;
        text-decoration: none;
    }
    &__top{
        border: 1px solid rgba(255, 255, 255, 0.1);
        bottom: 5px;
        cursor: pointer;
        float: left;
        height: 47px;
        position: absolute;
        transition: 0.3s;
        width: 45px;
        &-image-normal{
            opacity: 1;
            transition: 0.3s;
        }
        &-image-hover{
            opacity: 0;
            transition: 0.3s;
        }
        &:hover{
            border: 1px solid rgba(31, 204, 163, 0.3);
            height: 67px;
        }
        &:hover &-image-normal{
            opacity: 0;
        }
        &:hover &-image-hover{
            opacity: 1;
        }
    }
    &__row{
        padding: 77px 0 0 0;
        position: relative;
        &--services{
            padding: 58px 0 0 0;
        }
    }
    &__top-image{
        left: 15px;
        position: absolute;
        top: 18px;
    }
    &__social{
        border: 1px solid rgba(255, 255, 255, 0.1);
        float: left;
        margin: 0 0 0 96px;
        padding: 7px 41px 2px 23px;
    }
    &__subscribe{
        float: left;
        margin: 0 0 0 45px;
        position: relative;
    }
    &__subscribe-input{
        background: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: none;
        display: block;    
        float: left;
        padding: 16px 13px 16px 13px;
        width: 210px;
    }
    &__subscribe-button{
        background: #1fcca3;
        display: block;
        border: none;
        float: left;
        font-family: OpenSans, sans-serif;
        font-size: 105%;
        margin: 0;
        padding: 12px 17px 14px 23px;
    }
    &__netlab-link{
        position: relative;
        &:hover:after{
            width: 100%;
        }
        &:after{
            background: $green;
            bottom: -1px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
}

.footer__subscribe-input::-webkit-input-placeholder{
    color: #707070;
    font-family: OpenSansRegular, sans-serif;
    font-size: 110%;
}
.footer__subscribe-input:-moz-placeholder{
    color: #707070;
    font-family: OpenSansRegular, sans-serif;
    font-size: 110%;
}
.footer__subscribe-input:-ms-input-placeholder{
    color: #707070;
    font-family: OpenSans, sans-serif;
    font-size: 110%;
}

.footer__subscribe-text{
    color: #7a7a7a;
    font-size: 95%;
    margin: -32px 0 0 0;
    position: absolute;
}

.footer__column-right{
    color: #7b7b7b;
    float: right;
    font-size: 91%;
    text-align: right;
}

.footer__netlab{
    margin: 11px 0 0 0;
}

.footer__netlab-link{
    color: #7b7b7b;
    text-decoration: none;
}

.footer__social-icon{
    display: block;
    float: left;
    position: relative;
}

#twitter{
    display: block;
    height: 18px;
    margin: 0 49px 0 0;
    opacity: .3;
    padding: 9px 9px 10px 9px;
    transition: 0.2s;
    width: 20px;
}

#twitter:hover{
    fill: #1fcca3;
    opacity: 1;
}

#facebook{
    display: block;
    height: 22px;
    margin: -3px 51px 0 0;
    opacity: .3;
    padding: 9px 9px 10px 9px;
    transition: 0.2s;
    width: 10px;
}

#facebook:hover{
    fill: #1fcca3;
    opacity: 1;
}

#vk{
    display: block;
    height: 16px;
    margin: 0px 48px 0 0;
    opacity: .3;
    padding: 9px 9px 10px 9px;
    transition: 0.2s;
    width: 23px;
}

#vk:hover{
    fill: #1fcca3;
    opacity: 1;
}

#instagram{
    display: block;
    height: 17px;
    margin: -1px 0 0 0;
    opacity: .3;
    padding: 9px 9px 10px 9px;
    transition: 0.2s;
    width: 26px;
}

#instagram:hover{
    fill: #1fcca3;
    opacity: 1;
}