.guide{
    background: url('../img/guide/guide-bg.png') no-repeat;
    background-size: cover;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
    &__close{
        cursor: pointer;
        margin: -12px -12px 0 0;
        padding: 14px 39px 39px 15px;
        position: absolute;
        right: 0;
        &:hover .guide__close-img--hover{
            opacity: 1;
        }
        &:hover .guide__close-img--normal{
            opacity: 0;
        }
    }
    &__close-img{
        display: block;
        position: absolute;
        transition: 0.25s;
        width: 26px;
        &--normal{
            opacity: 1;
        }
        &--hover{
            opacity: 0;
        }
    }
    &__header{
        color: #fff;
        float: left;
        font-family: $OSBold;
        font-size: 205%;
        margin: 0;
        padding: 0 0 71px 0;
    }
    &__row{
        padding: 0 0 42px 0;
    }
    &__row-header{
        color: #fff;
        font-family: $OSBold;
        font-size: 115%;
        margin: 0;
        padding: 0 0 24px 0;
    }
    &__tab{
        border: 1px solid rgba(31, 204, 163, 0.2);
        color: $green;
        cursor: pointer;
        float: left;
        font-family: $GR;        
        height: 181px;
        margin: 0 29px 0 0;
        position: relative;
        text-align: center;
        transition: 0.25s;
        width: 181px;
        &--active{
            color: #fff;
        }
        &--active .guide__tab-bg{
            opacity: 1;
        }
        &--active .guide__tab-img--normal{
            opacity: 0;
        }
        &--active .guide__tab-img--hover{
            opacity: 1;
        }
        &:hover{
            color: #fff;
        }
        &:hover .guide__tab-bg{
            opacity: 1;
        }
        &:hover .guide__tab-img--normal{
            opacity: 0;
        }
        &:hover .guide__tab-img--hover{
            opacity: 1;
        }
    }
    &__tab-img{
        bottom: 0;
        display: block;
        left: 0;
        margin: 0 auto;
        position: absolute;
        &--normal{
            opacity: 1;
            transition: 0.25s;
        }
        &--hover{
            opacity: 0;
            transition: 0.25s;
        }
    }
    &__tab-img-container{
        margin: 0 auto;        
        position: relative;
        &--ship{
            height: 39px;
            padding: 39px 0 0;
            width: 38px;
        }
        &--snap{
            height: 20px;
            padding: 51px 0 0;
            width: 51px;
        }
        &--car{
            height: 24px;
            padding: 38px 0 0;
            width: 55px;
        }
        &--sport{
            height: 24px;
            padding: 52px 0 0;
            width: 46px;
        }
        &--aviation{
            height: 38px;
            padding: 32px 0 0;
            width: 40px;
        }
        &--rtm{
            height: 38px;
            padding: 39px 0 0;
            width: 54px;
        }
        &--winding{
            height: 29px;
            padding: 47px 0 0;
            width: 51px;
        }
        &--autoclave{
            height: 46px;
            padding: 30px 0 0;
            width: 35px;
        }
        &--infusion{
            height: 42px;
            padding: 30px 0 0;
            width: 42px;
        }
        &--lamination{
            height: 47px;
            padding: 23px 0 0;
            width: 17px;
        }
        &--high-temp{
            height: 43px;
            padding: 23px 0 0;
            width: 29px;
        }
        &--solid{
            height: 47px;
            padding: 23px 0 0;
            width: 42px;
        }
        &--high-strength{
            height: 53px;
            padding: 23px 0 0;
            width: 46px;
        }
        &--price{
            height: 53px;
            padding: 23px 0 0;
            width: 37px;
        }
    }
    &__tab-text{
        font-size: 115%;
        line-height: 125%;
        position: absolute;
        text-align: center;
        width: 100%;
        &--ship{
            bottom: 46px;
        }
        &--snap{
            bottom: 46px;
        }
        &--car{
            bottom: 31px;
        }
        &--sport{
            bottom: 31px;
        }
        &--aviation{
            bottom: 31px;
        }
        &--rtm{
            bottom: 46px;
        }
        &--winding{
            bottom: 46px;
        }
        &--autoclave{
            bottom: 46px;
        }
        &--infusion{
            bottom: 46px;
        }
        &--lamination{
            bottom: 37px;
        }
        &--high-temp{
            bottom: 27px;
        }
        &--solid{
            bottom: 27px;
        }
        &--high-strength{
            bottom: 55px;
        }
        &--price{
            bottom: 33px;
        }
    }
    &__tab-bg{
        background-size: cover;        
        height: 182px;
        left: 0;
        opacity: 0;        
        position: absolute;
        top: 0;
        transition: 0.25s;
        width: 182px;
        z-index: -1;
        &--ship{
            background: url('../img/guide/ship.png') no-repeat;           
        }
        &--snap{
            background: url('../img/guide/snap.png') no-repeat;           
        }
        &--car{
            background: url('../img/guide/car.png') no-repeat;           
        }
        &--sport{
            background: url('../img/guide/sport.png') no-repeat;           
        }
        &--aviation{
            background: url('../img/guide/aviation.png') no-repeat;           
        }
        &--rtm{
            background: url('../img/guide/rtm.png') no-repeat;           
        }
        &--winding{
            background: url('../img/guide/winding.png') no-repeat;           
        }
        &--autoclave{
            background: url('../img/guide/autoclave.png') no-repeat;           
        }
        &--infusion{
            background: url('../img/guide/infusion.png') no-repeat;           
        }
        &--lamination{
            background: url('../img/guide/lamination.png') no-repeat;           
        }
        &--high-temp{
            background: url('../img/guide/high-temp.png') no-repeat;           
        }
        &--solid{
            background: url('../img/guide/solid.png') no-repeat;           
        }
        &--high-strength{
            background: url('../img/guide/high-strength.png') no-repeat;           
        }
        &--price{
            background: url('../img/guide/price.png') no-repeat;           
        }
    }
    &__line{
        background: #fff;
        height: 1px;
        margin: 48px 0 35px 0;
        width: 100%;
    }
    &__result-header{
        color: #fff;
        font-family: $OSBold;
        font-size: 125%;
        margin: 0 0 25px 0;
    }
    &__result-item{
        margin: 0 0 22px 0;
    }
    &__result-item-column-left{
        color: #fff;
        float: left;
        font-family: $GR;
        font-size: 125%;
        padding: 11px 0 0 0;
        width: 121px;
    }
    &__result-item-column-right{
        background: #fff;
        color: $black;
        display: table;
        float: left;
        font-family: $GRN;
        font-size: 125%;
        min-width: 168px;
        padding: 14px 20px 15px 19px;
        text-align: center;
        text-decoration: none;
        transition: 0.25s;
        margin: 0 7px 7px 0;
        &:hover{
            background: $green;
        }
    }
    &__result-item-name{
        border-bottom: 1px solid $black;
    }
}