.header-logo{
    height: 55px;
    padding: 36px 0;
    position: absolute;
    width: 165px;
    z-index: 4;
    &__link{
        float: left;
        margin: 5px 0 0 0;
    }
}

.header-container{
    height: 128px;
    position: relative;
    width: 100%;
}

.header{
    left: 0;
    padding: 36px 0px;
    position: fixed;
    top: 0;
    transition: 0.30s;    
    /*transition-timing-function: cubic-bezier(1,0.5,1);*/
    width: 100%;
    z-index: 3;
    &--active{
        height: 0;
        padding: 14px 0 0 0;
        transition: 0.15s;    
        /*transition-timing-function: cubic-bezier(0.42,0,1,1);*/
        .wrapper{
            height: 0;
        }
    }
    &__menu-container{
        float: right;
        &--active{
            box-shadow: 0 2px 8px rgba(100,100,100,.25);
        }
    }
    &__menu{
        background: none;
        color: #1e1e1e;
        cursor: pointer;
        float: right;
        height: 24px;
        margin: 0 2px 0 0;
        padding: 14px 0px 15px 22px;    
        position: relative;
        transition: 0.3s;
        width: 124px;
        z-index: 2;
        &:hover .header__menu-block-container{
            background: $green;
            border: 1px solid $green;
        }
        &:hover .header__menu-hamburger-line{
            background: #fff;
        }
        &:hover .header__menu-text{
            color: #fff;
        }
        &--active{
            padding: 14px 0px 15px 14px;
            width: 43px;
        }
    }
    &__menu-block-container{
        background: #f0f0f0;
        border: 1px solid #f0f0f0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: 0.2s;
        width: 100%;
        z-index: -1;
    }
    &__phone{
        background: #f0f0f0;
        cursor: pointer;
        float: right;
        height: 55px;
        position: relative;
        transition: 0.2s;
        width: 55px;
        &:hover{
            background: #46d0b0;
        }
        &:hover .header__phone-image--normal{
            opacity: 0;
        }
        &:hover .header__phone-image--hover{
            opacity: 1;
        }
    }
    &__phone-image{
        left: 17px;
        position: absolute;
        top: 14px;
        &--hover{
            opacity: 0;
            transition: 0.2s;
        }
        &--normal{
            opacity: 1;
            transition: 0.2s;
        }
    }
    &__search{
        background: #fff;
        cursor: pointer;
        float: right;
        height: 55px;
        position: relative;
        transition: 0.25s;
        width: 55px;
        &:hover{
            background: #46d0b0;
        }
        &--active{
            &:hover{
                background: #fff;
            }
        }
        &--focus{
            border-bottom: 1px solid $green;
            border-top: 1px solid $green;
            height: 53px;
        }
    }
    &__search-close{
        background: #fff;
        cursor: pointer;
        float: right;
        height: 55px;
        position: relative;
        transition: .25s;
        width: 0px;
        &--active{
            width: 55px;
        }
        &--focus{
            border-bottom: 1px solid $green;
            border-right: 1px solid $green;
            border-top: 1px solid $green;
            height: 53px;
        }
        &:hover .header__search-close-img--hover{
            opacity: 1;
        }
        &:hover .header__search-close-img--normal{
            opacity: 0;
        }
    }
    &__search-close-img{
        position: absolute;
        right: 26px;
        top: 19px;
        width: 18px;
        transition: 0.2s;
        &--normal{
            opacity: 1;
        }
        &--hover{
            opacity: 0;
        }
    }
    &__search-input{
        background: #fff;
        border: none;
        float: right;
        font-size: 105%;
        height: 55px;
        outline: none;
        padding: 0;
        position: relative;
        transition: 0.25s;
        width: 0;
        &--active{
            width: 388px;
            padding: 0 0 0 15px;
        }
        &--active .header__search-image{
            right: 10px;
        }
        &--focus{
            border-bottom: 1px solid $green;
            border-left: 1px solid $green;
            border-top: 1px solid $green;
            height: 53px;
        }
    }
    &__search-image{
        right: 17px;
        position: absolute;
        top: 17px;
        &--hover{
            opacity: 0;
            transition: 0.2s;
        }
        &--normal{
            opacity: 1;
            transition: 0.2s;
        }
    }
    &__menu-hamburger{
        float: left;
    }
    &__menu-text{
        font-family: OpenSansBold, sans-serif;
        left: 66px;
        position: absolute;
        top: 16px;    
        transition: 0.2s;
    }
    &__menu-hamburger-line{
        background: #1e1e1e;
        height: 2px; 
        transition: 0.2s;
        width: 29px;
        &--1{
            margin: 0 0 9px 0;

        }
        &--2{
            margin: 0 0 9px 0;

        }
        &--3{

        }
    }
    &__guide{
        border-bottom: 1px solid rgba(255,255,255,.3);
        border-top: 1px solid rgba(255,255,255,.3);
        color: #fff;
        cursor: pointer;
        float: right;
        font-family: OpenSansSemibold, sans-serif;
        height: 22px;
        padding: 15px 0px 16px 0;
        position: relative;
        text-align: center;
        transition: 0.3s;
        width: 349px;
        &:hover{
            color: $green;
            border-bottom: 1px solid rgba(31,204,163,.3);
            border-top: 1px solid rgba(31,204,163,.3);
        }
        &--active{
            background: #1e1e1e;
            border: 1px solid rgba(255,255,255,1);
            width: 57px;
            &:hover{
                border: 1px solid rgba(255,255,255,1);
            }
            &:hover .header__guide-img--normal{
                opacity: 0;
            }
            &:hover .header__guide-img--hover{
                opacity: 1;
            }
        }
        &--active .header__guide-img--normal{
            opacity: 1;
        }
        &--active .header__guide-img--hover{
            opacity: 0;
        }
    }
    &__guide-img{
        left: 50%;
        margin: 0 0 0 -13px;
        opacity: 0;
        position: absolute;
        top: 12px;
        transition: 0.2s;
    }
    &__guide-text{
        position: absolute;
        width: 349px;
    }
}

.header__search:hover .header__search-image--normal{
    opacity: 0;
}

.header__search:hover .header__search-image--hover{
    opacity: 1;
}

.header__search--active:hover .header__search-image--normal{
    opacity: 1;
}

.header__search--active:hover .header__search-image--hover{
    opacity: 0;
}

.header__menu--active .header__menu-text{
    opacity: 0;
} 

.header__guide--active .header__guide-text{
    opacity: 0;
} 

.header__guide--opacity .header__guide-text{
    opacity: 1;
    transition: 0.2s;
    transition-delay: 0.4s;
} 

.header__search-input::-webkit-input-placeholder{
    color: #a7a7a7;    
    font-family: Open Sans, sans-serif;
    font-size: 95%;
}

.header__search-input:-moz-placeholder{
    color: #a7a7a7;    
    font-family: Open Sans, sans-serif;
    font-size: 95%;
}

.header__search-input:-ms-input-placeholder{
    color: #a7a7a7;    
    font-family: Open Sans, sans-serif;
    font-size: 95%;
}

@media(max-width: 1242px){
    .header{
        &__menu-container{
            right: 22px;
            position: fixed;
        }
    }
}