.history{
    &__item{
        background: url(../img/history-line.svg) repeat-y 42px 0;
        margin: 0 0 12px 0;
        &:last-child{
            background: none;
        }
    }
    &__date{        
        background: url(../img/history-circle.svg) no-repeat 1px 0;
        font-family: GentiumRegular,sans-serif;
        font-size: 120%;
        padding: 30px 0 32px;
        text-align: center;
        width: 85px;
    }
    &__date-column{
        background: #fff;
        float: left;
        height: 95px;
        width: 106px;
    }
    &__info-column{
        float: left;
        padding: 25px 0 11px 0;
        width: 822px;
    }
    &__header{
        font-family: $OSBold;
        font-size: 125%;
        line-height: 150%;
        padding: 0 0 7px 0;
    }
    p{
        margin: 0 0 8px !important;
        padding: 11px 0 0 0;
    }
    &__text-hidden{
        display: none;
    }
}
