.index-services{
    margin: 0 auto;
    padding: 98px 0 0 0;
    width: 1242px;
    &__column-left{
        float: left;
        padding: 68px 0 0 0;
        width: 48%;
    }
    &__column-right{
        float: left;
        padding: 68px 0 0 0;
        width: 48%;
    }
    &__column-center{
        float: left;
        width: 4%;
    }
    &__line{
        background: rgba(255,255,255,0.1);
        height: 218px;
        margin: 0 auto;
        width: 1px;
    }
    &__link{
        display: table;
        height: 100px;
        margin: 0 auto;
        position: relative;
        &--1:hover .index-services__arrow--1{
            left: 54%;
        }
        &--2:hover .index-services__arrow--2{
            left: 54%;
        }
    }
    &__icon{
        display: table;
        float: left;
    }
    &__arrow{
        bottom: 2px;
        left: 50%;
        position: absolute;
        transition: 0.25s;
    }
}

.index-services__text{
    color: #ffffff;
    display: table;
    float: left;
    font-family: OpenSansSemibold, sans-serif;
    font-size: 127%;
    margin: 24px 0 0 24px;
}