.index-slide{
    &__header{
        color: $black;
        font-family: OpenSansBold, sans-serif;
        font-size: 130%;
        position: relative;
        text-decoration: none;
        &:hover:after{
            width: 100%;
        }
        &:after{
            background: $green;
            bottom: -2px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
    p{
        font-family: GentiumRegular, serif;
        font-size: 120%;
        line-height: 160%;
        margin: 3px 0 0 0;
        padding: 0 0 8px 0;
    }
    &__image{
        background-size: cover;
        height: 348px;
        position: relative;
        width: 100%;
    }
    &__textblock{
        background: #fff;
        padding: 27px 29px 18px;
    }
}

.index-slider{
    &__arrow{
        height: 24px;
        position: absolute;
        top: 217px;
        transition: 0.3s;
        width: 53px;
        &--left{
            left: 0;
            padding: 19px 22px 20px 30px;
            &:hover{
                left: -14px;
            }
        }
        &--right{
            display: block;
            padding: 19px 22px 20px 30px;
            right: 0px;
            &:hover{
                right: -14px;
            }
        }
    }
    &__arrow-image{
        display: block;
        position: absolute;
        &--right-normal{
            background: url('../img/slider-arrow-right.svg') no-repeat;
            height: 23px;
            opacity: 1;
            right: 30px;
            transition: 0.3s;
            width: 13px;
        }
        &--left-normal{
            background: url('../img/slider-arrow-left.svg') no-repeat;
            height: 23px;
            left: 30px;
            opacity: 1;
            transition: 0.3s;
            width: 13px;
        }
        &--left-active{
            background: url('../img/slider-arrow-left-active.svg') no-repeat;
            height: 22px;
            left: 30px;
            opacity: 0;
            transition: 0.3s;
            width: 53px;
        }
        &--right-active{
            background: url('../img/slider-arrow-right-active.svg') no-repeat;
            height: 22px;
            opacity: 0;
            right: 30px;
            transition: 0.3s;
            width: 53px;
        }
    }
}

.index-slider__arrow--left:hover .index-slider__arrow-image--left-normal{
    opacity: 0;
}

.index-slider__arrow--right:hover .index-slider__arrow-image--right-normal{
    opacity: 0;
}

.index-slider__arrow--left:hover .index-slider__arrow-image--left-active{
    opacity: 1;
}

.index-slider__arrow--right:hover .index-slider__arrow-image--right-active{
    right: 30px;
    opacity: 1;
}