.navigation{
    margin: 0 0 0 -18px;
    &--team{
        margin: 35px 0 0 -18px;
    }
    &--search{
        margin: 48px 0 0 -18px;
    }
    &--articles{
        width: 943px;
    }
    &__page{
        color: #1e1e1e;
        display: block;
        float: left;
        font-family: $OSBold;
        height: 45px;
        margin: 0 3px 0 0;
        padding: 9px 0 0 0;
        text-align: center;
        text-decoration: none;
        width: 45px;
        &:hover .navigation__page-span:after{
            width: 100%;
        }
        &--active{
            background: url('../img/nav-circle.svg') no-repeat;
            &:hover .navigation__page-span{
                border-bottom: none; 
            }
        }
    }
    &__page-span{
        position: relative;
        &:after{
            background: $green;
            bottom: -1px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.15s;
            width: 0;
        }
    }
    &__next-page{
        color: #1fcca3;
        float: right;
        font-family: OpenSansBold, sans-serif;
        font-size: 105%;
        margin: 8px 0 0 0;
    }
}