.career-popup{
    background: rgba(255,255,255,1);
    display: none;
    left: 50%;
    margin-left: -355px;
    padding: 42px 0 64px 0;
    position: absolute;
    top: 195px;
    width: 669px;
    z-index: 10;
    &__close{
        cursor: pointer;
        padding: 13px 34px 36px 17px;
        position: absolute;
        right: 0;
        top: 0;
        &:hover .career-popup__close-img--hover{
            opacity: 1;
        }
        &:hover .career-popup__close-img--normal{
            opacity: 0;
        }
    }
    &__close-img{
        position: absolute;
        transition: 0.2s;
        &--normal{
            opacity: 1;
        }
        &--hover{
            opacity: 0;
        }
    }
    &__header{
        font-family: OpenSansBold, sans-serif;
        font-size: 145%;
        text-align: center;
    }
    &__post{
        font-family: OpenSansBold, sans-serif;
        font-size: 115%;
        padding: 13px 0 0 0;
        text-align: center;
    }
    &__necessary{
        color: #949494;
        display: table;
        font-family: GentiumRegular, serif;
        font-size: 110%;
        margin: 24px auto 34px;
        position: relative;
        &:before{
            color: #1fcca3;
            content: '*';
            left: -19px;
            position: absolute;
            top: 5px;
        }
    }
    &__summary-row{
        margin: 0 auto;
        padding: 0 0 0 14px;
        width: 378px;
    }
    &__summary-text{
        float: left;
        font-family: GentiumRegular, serif;
        font-size: 115%;
        margin: 7px 0 0 0;
    }
    &__summary-label{
        background: #1fcca3;
        float: right;
        font-family: GentiumRegular, serif;
        font-size: 115%;
        padding: 8px 0px;
        text-align: center;
        width: 170px;
    }
}

#summary{
    display: none;
}