.consultation{
    background: rgba(255,255,255,1);
    display: none;
    left: 50%;
    margin-left: -355px;
    padding: 47px 0 64px 0;
    position: absolute;
    top: 195px;
    width: 669px;
    z-index: 100;
    &__close{        
        cursor: pointer;
        padding: 13px 34px 36px 17px;
        position: absolute;
        right: 0;
        top: 0;
        &:hover .career-popup__close-img--hover{
            opacity: 1;
        }
        &:hover .career-popup__close-img--normal{
            opacity: 0;
        }
    }
    &__header{
        font-family: OpenSansBold, sans-serif;
        font-size: 145%;
        text-align: center;
    }
    &__text{
        font-family: GentiumRegular, serif;
        font-size: 120%;
        padding: 34px 0 9px 0;
        text-align: center;
    }
    &__necessary{
        color: #949494;
        display: table;
        font-family: GentiumRegular, serif;
        font-size: 120%;
        margin: 0 auto 45px;
        position: relative;
        &:before{
            color: #1fcca3;
            content: '*';
            left: -19px;
            position: absolute;
            top: 5px;
        }
    }
    &__input{
        background: none;
        border: 1px solid #d2d2d2;
        display: block;
        font-size: 105%;
        margin: 0 auto 23px;
        outline: none;
        padding: 14px 11px 11px 13px;
        position: relative;
        width: 368px;
        &--select{
            color: #1e1e1e;
            cursor: pointer;
            font-family: GentiumRegular, serif;
            font-size: 100%;
            margin: 0 auto 0 !important;
            padding: 9px 11px 9px 13px; 
        }
        &--textarea{
            font-family: GentiumRegular, serif;
            font-size: 110%;
            height: 79px;
            margin: 29px auto 35px;
            padding: 5px 11px 11px 13px;
            resize: none;
        }
        &:focus{
            border: 1px solid $green;
        }
    }
    &__input-container{
        display: table;
        margin: 0 auto;
        position: relative;
        &:after{
            color: #1fcca3;
            content: '*';
            right: -21px;
            position: absolute;
            top: 14px; 
        }
    }
    &__select{
        cursor: pointer;
        display: table;
        margin: 0 auto;
        position: relative;
    }
    &__select-arrow{
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.3s;
        width: 47px;
        &--active{
            background: #1fcca3 !important;
        }
    }
    &__select-arrow-image{
        position: absolute;
        right: 15px;
        top: 20px;
        transition: 0.2s;
    }
    &__select-variants{
        background: rgba(255,255,255,1);
        border-left: 1px solid #d2d2d2;
        border-bottom: 1px solid #d2d2d2;    
        border-right: 1px solid #d2d2d2;
        display: none;
        list-style: none;
        margin: 1px 0 0 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 46px;
        width: 234px;
        z-index: 1;
    }
    &__select-variants-li{
        font-family: GentiumRegular, serif;
        font-size: 115%;
        padding: 4px 0px 4px 21px;
    }
    &__select-variants-li-span{
        position: relative;
        &:hover:after{
            width: 100%;
        }
        &:after{
            background: $green;
            bottom: 4px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
} 

.consultation__select:hover .consultation__select-arrow{
    background: #1fcca3;
}

.consultation__select-arrow--active .consultation__select-arrow-image{
    top: 19px;
    transform: rotate(180deg);
}

.consultation__input::-webkit-input-placeholder{
    color: #1e1e1e;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.consultation__input:-moz-placeholder{
    color: #1e1e1e;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.consultation__input:-ms-input-placeholder{
    color: #1e1e1e;    
    font-family: GentiumRegular, serif;
    font-size: 110%;
}