.popup-description{
    background: #fff;
    display: none;
    left: 50%;
    margin-left: -440px;
    padding: 41px 0 87px 0;
    position: absolute;
    top: 203px;
    width: 879px;
    z-index: 100;
    &__close-container{
        cursor: pointer;
        padding: 15px 32px 37px 20px;
        position: absolute;
        right: 0;
        top: 0;
        &:hover .popup-description__close-img--normal{
            opacity: 0;
        }
        &:hover .popup-description__close-img--hover{
            opacity: 1;
        }
    }
    &__close-img{
        height: 22px;
        position: absolute;
        transition: 0.2s;
        width: 22px;
        &--normal{
            background: url('../img/close.svg') no-repeat;
            opacity: 1;
        }
        &--hover{
            background: url('../img/close-hover.svg') no-repeat;
            opacity: 0;
        }
    }
    &__container{
        padding: 0 99px 0 30px;
    }
    h2{
        font-family: $OSBold;
        font-size: 145%;
        padding: 0 0 34px;
        margin: 0;
    }
    p{
        font-family: $GR;
        line-height: 165%;
        margin: 0;
        padding: 0 0 0 75px;
        font-size: 115%;
    }
}