.product-slider{
    position: relative;
    &__slide{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 543px;
        position: relative;
    }
    &__header{
        font-family: OpenSansBold, sans-serif;
        font-size: 125%;
        margin: 0 0 28px 0;
    }
    p{
        font-family: $GR !important;
        font-size: 115% !important;
        line-height: 165% !important;
        margin: 0 0 23px 0 !important;
        padding: 0 !important;
        width: auto !important;
    }
    &__content{
        bottom: 42px;
        color: #fff;
        left: 0;
        padding-left: 4%;
        position: absolute;
        width: 91%;
    }
    &__controls{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__nav{
        background: #fff;
        cursor: pointer;
        position: absolute;
        top: 0;
        transition: 0.2s;
        height: 62px;
        width: 61px;
        z-index: 1;
        &--zindex{
            z-index: 7;
        }
        &-img{
            position: absolute;
            top: 26px;
            transition: 0.2s;
            &--prev{
                left: 26px;
            }
            &--next{
                right: 26px;
            }
            &--prev-normal{
                background: url('../img/slider-arrow-small-left.svg') no-repeat;
                height: 12px;
                opacity: 1;
                width: 7px;
            }
            &--prev-active{
                background: url('../img/slider-arrow-small-left-active.svg') no-repeat;
                height: 12px;
                opacity: 0;
                width: 34px;
            }
            &--next-normal{
                background: url('../img/slider-arrow-small-right.svg') no-repeat;
                height: 12px;
                opacity: 1;
                width: 7px;
            }
            &--next-active{
                background: url('../img/slider-arrow-small-right-active.svg') no-repeat;
                height: 12px;
                opacity: 0;
                width: 34px;                
            }
        }
        &:hover{
            background: $green;
        }
        &--next{       
            right: 0;
            &:hover .product-slider__nav-img--next-normal{
                opacity: 0;
            }
            &:hover .product-slider__nav-img--next-active{
                opacity: 1;
            }
            &:hover .product-slider__nav-img--next{
                right: 14px;
            }
        }
        &--prev{
            right: 61px;
            &:hover .product-slider__nav-img--prev-normal{
                opacity: 0;
            }
            &:hover .product-slider__nav-img--prev-active{
                opacity: 1;
            }
            &:hover .product-slider__nav-img--prev{
                left: 14px;
            }
        }
    }
}

.card__info-block-container .product-slider__slide{
     min-width: 1040px !important; 
}

.card__info-block-container .slidesContainer{
    margin-top: 0 !important;
}



.card__info-slider{
    position: relative;
}

.product-slider__content p{
    padding: 0 0 25px 0 !important;
}

.product-slider__gradient{
        position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 1;
    z-index: 1;
    background: red;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

}

.product-slider__content{
    z-index: 2;
}