.right-menu{   
    height: 100%;
    position: absolute;
    width: 100%;
    &--company{
        background-image: url('../img/right-bg--company.png');
        background-attachment: fixed;
        background-position: top left 100%;
        height: 100%;
    }
    &--service{
        background-image: url('../img/right-bg--service.png');
        background-attachment: fixed;
        background-position: top left 100%;
        height: 100%;
    }
    &--product{
        background-image: url('../img/right-bg--company.png');
        background-attachment: fixed;
        background-position: top left 100%;
        height: 100%;
    }
    &--fabric{
        background-image: url('../img/right-bg--fabric.png');
        background-attachment: fixed;
        background-position: top left 100%;
        height: 100%;
    }
    &--articles{
        background-image: url('../img/right-bg--articles.png');
        background-attachment: fixed;
        background-position: top left 100%;
        height: 100%;
    }
    &--news{
        background-image: url('../img/right-bg--articles.png');
        background-attachment: fixed;
        background-position: top left 100%;
        height: 100%;
        /*padding: 0 0 0 29px;*/
    }
    &__ul{        
        list-style: none;
        margin: 0;        
        padding: 112px 0 0 0;
        width: 290px;
        &--service{
            padding: 96px 0 0 0;
            width: 215px;

            
        }
        &--articles{
            list-style: none;
            margin: 0;
            padding: 90px 0 0 27px;
            width: 262px;
        }
    }
    &__li{
        margin: 0 0 43px 0;
        &--service{
            margin: 0 0 18px;
        }
    }
    &__link{
        border-bottom: 1px solid rgba(31, 204, 163, 0);
        color: #1e1e1e;
        font-family: OpenSansBold, sans-serif;
        font-size: 115%;
        padding: 10px 17px 10px 42px;
        text-decoration: none;
        &:hover .right-menu__span:after{
            width: 100%;
        }
        &--service{
            display: block;
            line-height: 135%;
            padding: 10px 17px 10px 30px;
        }
        &--active .right-menu__span:after{
            background: none;
        }
    }
    &__span{
        position: relative;
        &:after{
            background: $green;
            bottom: -1px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
}

.right-menu__link--active .right-menu__span{
    background-image: linear-gradient(#46d0b0, #46d0b0);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 90%;
}

@media(max-width: 1242px){
    .right-menu{
        &__ul{
            bottom: auto !important;
            left: auto !important;
            position: absolute !important;
            top: 0 !important;
        }
    }
}