.right-menu-fixed{
    /*background: rgba(0, 0, 0, .7);*/
    display: none;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    transition: .3s;
    width: 100%;
    z-index: 5;
    &__languages{
        left: 107px;
        position: absolute;
        top: 53px;
        a{
            color: $black;
            display: inline-block;
            font-family: $OSSemibold;
            line-height: 110%;
            margin: 0 15px 0 0;
            position: relative;
            text-decoration: none;  
            &:hover:after{
                width: 100%;
            }
            &:after{
                background: $green;
                bottom: -2px;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                transition: .2s;
                width: 0;
            }
        }
        a.active{
            background: $green;
            &:hover:after{
                width: 0;
            }
        }
    }
    &__menu-container{
        float: right;
        background: #fff;
        height: 100%;
        position: relative;
        transition: 0.8s;
        transition-timing-function: ease;
        width: 0;
    }
    &__menu{
        padding: 171px 0 0 0;
    }
    &__ul1{
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 100;
    }
    &__ul2{
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    &__link-span{
        position: relative;
        background-size: 0em;
        transition: 0.2s;
        &:after{
            background: $green;
            bottom: -1px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
    &__link-span2{
        position: relative;
        &:after{
            background: $green;
            bottom: 2px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
    &__link1{
        color: $black;
        display: block;
        font-family: $OSSemibold;
        font-size: 125%;        
        padding: 16px 0 16px 230px;
        text-decoration: none;
        transition: 1.1s;
        transition-timing-function: ease;
        &--active{
            color: $black;
            display: block;
            font-family: $OSSemibold;
            font-size: 125%;        
            padding: 16px 0 16px 230px;
            text-decoration: none;
            transition: 1.1s;
            transition-timing-function: ease;
        }
        &--active .right-menu-fixed__link-span{
            /*background-image: linear-gradient($green, $green);
            background-position: 0;
            background-repeat: repeat-x;
            background-size: 30em;*/
            color: $green;
        }
        &:hover .right-menu-fixed__link-span:after{
            width: 100%;
        }
        &:hover .right-menu-fixed__arrow--normal{
            opacity: 0;
        }
        &:hover .right-menu-fixed__arrow--hover{
            opacity: 1;
        }
    }    
    &__ul1-li{
        cursor: pointer;
    }
    &__hidden .right-menu-fixed__arrow-container{
        transform: rotate(0deg);
        transition: 0.2s;
    }
    &__hidden--active .right-menu-fixed__link-span{
        background-image: linear-gradient(#1fcca3,#1fcca3);
        background-position: 0;
        background-repeat: repeat-x;
        background-size: 30em;
        transition: 0.2s;
    }
    &__hidden--active .right-menu-fixed__arrow--normal{
        opacity: 0;
    }
    &__hidden--active .right-menu-fixed__arrow--hover{
        opacity: 1;
    }
    &__hidden--active .right-menu-fixed__link-span:after{
        width: 0 !important;
    }
    &__hidden--active .right-menu-fixed__arrow-container{
        top: 9px;
        transform: rotate(180deg);
        transition: 0.2s;
    }
    &__arrow{
        position: absolute;
        transition: 0.25s;
        width: 10px;
        &--normal{
            opacity: 1;
        }
        &--hover{
            opacity: 0;
        }
    }
    &__arrow-container{
        height: 8px;
        position: absolute;
        right: -22px;
        top: 11px;
        width: 10px;
    }
    &__link2{
        color: $black;
        display: block;
        font-family: $GR;
        font-size: 115%;        
        padding: 0 0 14px 148px;
        text-decoration: none;
        &:hover .right-menu-fixed__link-span2:after{
            width: 100%;
        }
    }
    &__close{
        background: none;
        color: #1e1e1e;
        cursor: pointer;
        height: 24px;
        left: 267px;
        margin: 0 2px 0 0;
        padding: 14px 0 15px 22px;
        position: absolute;
        top: 37px;
        transition: 0.3s;
        width: 133px;
        z-index: 1;

        &:after{
            background: #000;
            content: '';
            height: 1px;   
            margin-top: -1px; 
            position: absolute;
            right: -11px;
            top: 50%;
            transition: 0.2s;
            width: 20px;
            z-index: -1;
        }
        &:before{
            background: rgba(255,255,255,0);
            content: '';
            height: 1px;
            position: absolute;
            top: 50%;
            right: 0;    
            z-index: -1;
        }
        &:hover:after{  
            right: -1px;
            width: 100%;
        }
        &:hover:before{
            background: #000;
            height: 100%;
            left: 1px;
            position: absolute;
            top: 1px;
            transition: 0.2s;
            transition-delay: .3s;
            width: 100%;
        }
    }
}

.right-menu-fixed__close .header__menu-block-container{
    background: #fff;
    border: 1px solid #000;
}

.right-menu-fixed__close:hover .header__menu-block-container{
    background: none;
    border: 1px solid #000;
}

.right-menu-fixed__close:hover .header__menu-text{
    color: #fff;
    transition-delay: .3s;
}

.right-menu-fixed__close:hover .header__menu-hamburger-line--2{
    background: #fff;
    transition-delay: .3s;
}

.right-menu-fixed__close:hover .header__menu-hamburger-line--3{
    background: #fff;
    transition-delay: .3s;
}

.right-menu-fixed__close .header__menu-hamburger-line--2{
    margin: 10px 0 0 0;
    transform:rotate(45deg);
}

.right-menu-fixed__close .header__menu-hamburger-line--3{    
    margin: -2px 0 0 0;
    transform:rotate(-45deg);
}

.right-menu-fixed__close .header__menu-text{
    opacity: 1;
} 