.company__h2--team{
    padding: 56px 0 15px 0;
}

.team{
    &__employee{
        display: block;
        float: left;
        margin: 15px 30px 37px 0;
        text-decoration: none;
        width: 289px;
        &:hover .team__employee-header:after{
            width: 100%;
        }
    }
    &__employee-header{
        font-family: $OSBold;
        color: $black;
        display: inline;
        margin: 24px 0 7px 0;
        position: relative;
        &:hover:after{
            width: 100%;
        }
        &:after{
            background: $green;
            bottom: -1px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
    &__employee-text{
        color: $black;
        font-family: $GR;
        margin: 7px 0 0 0;
    }
}

.team__employee.team__employee--company-gallery{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 254px;
    margin: 0 30px 29px 0;
    position: relative;
    width: 289px;
}

.team__employee:nth-child(3n){
    margin: 15px 0 29px 0;
}

.team__employee.team__employee--company-gallery:nth-child(3n){
    margin: 0 0 29px 0;
}