.video-fixed{
    /*height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;*/
    &__video{
        /*width: 100%;*/
        left: 50%;
        position: fixed;
        top: 50%; 
        transform: translateX(-50%) translateY(-50%);
        height: auto;
        min-height: 100%;
        min-width: 100%; 
        overflow: hidden;  
        -webkit-transform: translateX(-50%) translateY(-50%);       
        width: auto; 
        z-index: -1000; 
    }
}