doctype html
html
    head
        title ITECMA | Все страницы
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    
        div.all-pages
            h1.all-pages__h1 Все страницы
            a.all-pages__link(href="index.html" target="_blank") 
                span.all-pages__link-span Главная
            a.all-pages__link(href="company.html" target="_blank") 
                span.all-pages__link-span О компании. О нас
            a.all-pages__link(href="vacancy.html" target="_blank") 
                span.all-pages__link-span О компании. Вакансии
            a.all-pages__link(href="team.html" target="_blank") 
                span.all-pages__link-span О компании. Команда
            a.all-pages__link(href="company-gallery.html" target="_blank") 
                span.all-pages__link-span О компании. Фотогалерея
            a.all-pages__link(href="history.html" target="_blank") 
                span.all-pages__link-span О компании. История компании   
            a.all-pages__link(href="news.html" target="_blank") 
                span.all-pages__link-span СтатьяНовостьЗаметка
            a.all-pages__link(href="products.html" target="_blank") 
                span.all-pages__link-span Продукция
            a.all-pages__link(href="product.html" target="_blank") 
                span.all-pages__link-span Страница продукта
            a.all-pages__link(href="fabric.html" target="_blank") 
                span.all-pages__link-span Ткани
            a.all-pages__link(href="services.html" target="_blank") 
                span.all-pages__link-span Услуги
            a.all-pages__link(href="service.html" target="_blank") 
                span.all-pages__link-span Страница услуги
            a.all-pages__link(href="binders.html" target="_blank") 
                span.all-pages__link-span Сравнение связующих
            a.all-pages__link(href="card.html" target="_blank") 
                span.all-pages__link-span Карточка
            a.all-pages__link(href="card-no-image.html" target="_blank") 
                span.all-pages__link-span Карточка без фото
            a.all-pages__link(href="downloads.html" target="_blank") 
                span.all-pages__link-span Загрузки
            a.all-pages__link(href="articles.html" target="_blank") 
                span.all-pages__link-span Библиотека
            a.all-pages__link(href="contacts.html" target="_blank") 
                span.all-pages__link-span Контакты
            a.all-pages__link(href="search.html" target="_blank") 
                span.all-pages__link-span Результаты поиска
            

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")
        