doctype html
html
    head
        title ITECMA | Библиотека
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide      

        div.itecma
            div.itecma__column.itecma__column--left
                div.itecma__main-content 
                    div.articles
                        div.breadcrumbs
                            a.breadcrumbs__breadcrumb(href="#") Главная
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Библиотека
                            div.clear
                        h1.articles__h1 Библиотека 
                        div.articles__tabs-container
                            div.articles__tab.articles__tab--active 
                                a(href="#") Профильные статьи
                            div.articles__tab 
                                a(href="#") Записи
                            div.clear
                        div.articles__options
                            div.articles__sort-tabs
                                a.articles__sort-tab.articles__sort-tab--active(href="#") ВСЕ
                                a.articles__sort-tab(href="#") ПОПУЛЯРНЫЕ
                                div.clear

                            div.select.select--articles-date
                                input.select__input.select__input--articles-date(placeholder="Год") 
                                div.select__select-arrow
                                    img.select__select-arrow-image(src="assets/img/select-bottom.svg" alt="Стрелочка")
                                div.select__container.select__container--articles-date
                                    ul.select__select-categories
                                        li.select__select-category
                                            span.select__select-category-span 2016
                                        li.select__select-category 
                                            span.select__select-category-span 2015
                                        li.select__select-category 
                                            span.select__select-category-span 2014
                                        li.select__select-category 
                                            span.select__select-category-span 2013
                                        li.select__select-category 
                                            span.select__select-category-span 2012
                                        li.select__select-category 
                                            span.select__select-category-span 2011
                                        li.select__select-category 
                                            span.select__select-category-span 2010

                            div.select.select--articles-month
                                input.select__input.select__input--articles-month(placeholder="Месяц") 
                                div.select__select-arrow
                                    img.select__select-arrow-image(src="assets/img/select-bottom.svg" alt="Стрелочка")
                                div.select__container.select__container--articles
                                    ul.select__select-categories
                                        li.select__select-category
                                            span.select__select-category-span Апр
                                        li.select__select-category 
                                            span.select__select-category-span Май
                                        li.select__select-category 
                                            span.select__select-category-span Июнь
                                        li.select__select-category 
                                            span.select__select-category-span Июль
                                        li.select__select-category 
                                            span.select__select-category-span Авг
                                        li.select__select-category 
                                            span.select__select-category-span Сент
                                        li.select__select-category 
                                            span.select__select-category-span Окт

                               
                            div.downloads__search-container.downloads__search-container--articles
                                input.downloads__search(placeholder="Введите запрос") 
                                img.downloads__search-img.downloads__search-img--normal(src="assets/img/search-small.svg" alt="Поиск")
                                img.downloads__search-img.downloads__search-img--hover(src="assets/img/search-small-hover.svg" alt="Поиск")
                            div.clear
                        div.articles__line.articles__line--top
                        div.articles__container(id="articles")
                            a.articles__article(href="#")
                                div.articles__article-img-container
                                    div.articles__article-img-plate 
                                    img.articles__article-img(src="assets/img/articles-1.png" alt="")
                                div.articles__article-date 12 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#")
                                div.articles__article-img-container
                                    div.articles__article-img-plate
                                    img.articles__article-img(src="assets/img/articles-2.png" alt="")
                                div.articles__article-date 17 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями в поставке под ключ 
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#") 
                                div.articles__article-date 30 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями в поставке под ключ 
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#")
                                div.articles__article-date 30 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями в поставке под ключ 
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#")
                                div.articles__article-date 30 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями в поставке под ключ 
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#")
                                div.articles__article-img-container
                                    div.articles__article-img-plate
                                    img.articles__article-img(src="assets/img/articles-3.png" alt="")
                                div.articles__article-date 17 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями в поставке под ключ 
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#")
                                div.articles__article-date 30 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями в поставке под ключ 
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#")
                                div.articles__article-img-container
                                    div.articles__article-img-plate
                                    img.articles__article-img(src="assets/img/articles-1.png" alt="")
                                div.articles__article-date 17 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями 
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#")
                                div.articles__article-img-container
                                    div.articles__article-img-plate
                                    img.articles__article-img(src="assets/img/articles-4.png" alt="")
                                div.articles__article-date 17 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями в поставке под ключ
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                            a.articles__article(href="#")
                                div.articles__article-date 30 апрель 2017
                                h2.articles__article-header Наш институт обладает необходимыми компетенциями в поставке под ключ 
                                div.articles__article-text В полимерном композиционном материале основное назначение полимерной матрицы состоит ...
                        
                        div.articles__line.articles__line--bottom

                        div.navigation.navigation--articles
                            a.navigation__page(href="#") 
                                span.navigation__page-span 1
                            a.navigation__page(href="#") 
                                span.navigation__page-span 2
                            a.navigation__page.navigation__page--active(href="#") 
                                span.navigation__page-span 3
                            a.navigation__page(href="#") 
                                span.navigation__page-span 4
                            a.navigation__page.navigation__page--dots(href="#") ...
                            a.navigation__page(href="#") 
                                span.navigation__page-span 14
                            a.green-link.green-link--downloads(href="#")
                                span.green-link__dash —
                                | Следующая страница
                            div.clear
                        
                div.clear
            div.itecma__column.itecma__column--right
                div.right-menu.right-menu--articles
                    div.right-menu__ul--articles
                        div.articles-menu__block.articles-menu__block--news
                            h2.articles-menu__block-header Новости
                            a.articles-menu__item(href="#")
                                div.articles-menu__date 12 апрель 2017
                                div.articles-menu__text Наш институт обладает необходимыми компетенциями в поставке 
                            a.articles-menu__item(href="#")
                                div.articles-menu__date 12 апрель 2017
                                div.articles-menu__text Космо-станция «Sолярис» — это самое необычное воплощение космоса 
                            a.articles-menu__item(href="#")
                                div.articles-menu__date 17 апрель 2017
                                div.articles-menu__text Открытые научно-популярные лекции академиков и членов-корреспондентов РАН
                            a.green-link.green-link--articles(href="#")
                                span.green-link__dash —
                                | Перейти в раздел
                            div.clear

                        div.articles-menu__block.articles-menu__block--events
                            h2.articles-menu__block-header Мероприятия
                            a.articles-menu__item(href="#")
                                div.articles-menu__date 12 апрель 2017
                                div.articles-menu__text Остров папуасов и райских птиц
                            a.articles-menu__item(href="#")
                                div.articles-menu__date 12 апрель 2017
                                div.articles-menu__text Наш институт обладает необходимыми компетенциями в поставке 
                            a.articles-menu__item(href="#")
                                div.articles-menu__date 17 апрель 2017
                                div.articles-menu__text Открытые научно-популярные лекции академиков и членов-корреспондентов РАН
                            a.green-link.green-link--articles(href="#")
                                span.green-link__dash —
                                | Перейти в раздел
                            div.clear
            div.clear
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")       