doctype html
html
    head
        title ITECMA | Сравнение связующих
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide       

        div.binders
            div.binders__wrapper
                div.breadcrumbs.breadcrumbs--company  
                    a.breadcrumbs__breadcrumb(href="#") Главная
                    div.breadcrumbs__dash - 
                    a.breadcrumbs__breadcrumb(href="#") Продукция
                    div.breadcrumbs__dash - 
                    a.breadcrumbs__breadcrumb(href="#") Связующие
                    div.breadcrumbs__dash - 
                    a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Сравнение связующих
                    div.clear
                h1.binders__header Сравнение связующих

                div.green-button.green-button--binders-back                    
                    div.green-button__container
                        img.binders__back.binders__back--green(src="assets/img/back-green.png" alt="назад")
                        img.binders__back.binders__back--white(src="assets/img/back-white.png" alt="назад")
                        button.green-button__button.green-button__button--binders-back Вернуться назад
                div.binders__nav
                    a.binders__nav-link.binders__nav-link--left(href="#") 
                        img.binders__nav-link-img.binders__nav-link-img--left-normal(src="assets/img/slider-arrow-small-left.svg" alt="ссылка")
                        img.binders__nav-link-img.binders__nav-link-img--left-hover(src="assets/img/slider-arrow-small-left-active.svg" alt="ссылка")
                    a.binders__nav-link.binders__nav-link--right(href="#") 
                        img.binders__nav-link-img.binders__nav-link-img--right-normal(src="assets/img/slider-arrow-small-right.svg" alt="ссылка")
                        img.binders__nav-link-img.binders__nav-link-img--right-hover(src="assets/img/slider-arrow-small-right-active.svg" alt="ссылка")
                    div.clear
                div.clear 

            div.binders__table 
                div.binders__table-row.binders__table-row--header
                    div.binders__table-header.binders__table-header--1 Механика композита
                    div.binders__table-header.binders__table-header--2
                        | Механические 
                        br
                        | хар-ки матрицы                    
                    div.clear
                div.binders__table-row.binders__table-row--first 
                    div.binders__col.binders__col--header.binders__col--number.binders__col--numberheader
                        div.binders__table-cell.binders__table-cell--header №
                    div.binders__col.binders__col--header.binders__col--link
                        div.binders__table-cell.binders__table-cell--header Назв-ие
                    div.binders__col.binders__col--header.binders__col--operation 
                        div.binders__table-cell.binders__table-cell--header t режим эксплуатации композита
                    div.binders__col.binders__col--header.binders__col--form 
                        div.binders__table-cell.binders__table-cell--header 
                            | t, 
                            br
                            | формования
                    div.binders__col.binders__col--header.binders__col--solid 
                        div.binders__table-cell.binders__table-cell--header t отверждения (пре, пост)
                    div.binders__col.binders__col--header.binders__col--period 
                        div.binders__table-cell.binders__table-cell--header Технологич-ое окно
                    div.binders__col.binders__col--header.binders__col--viscosity
                        div.binders__table-cell.binders__table-cell--header Динамическая вязкость, мПа*с
                    div.binders__col.binders__col--header.binders__col--components
                        div.binders__table-cell.binders__table-cell--header Компонентов
                    div.binders__col.binders__col--header.binders__col--glass
                        div.binders__table-cell.binders__table-cell--header t стеклования связующего
                    div.binders__col.binders__col--header.binders__col--strength-limit
                        div.binders__table-cell.binders__table-cell--header
                            | Предел 
                            br
                            | прочности на
                            br
                            | растяжении, МПа
                    div.binders__col.binders__col--header.binders__col--module-1 
                        div.binders__table-cell.binders__table-cell--header
                            | Модуль 
                            br
                            | упругости, 
                            br
                            | ГПа
                    div.binders__col.binders__col--header.binders__col--module-2
                        div.binders__table-cell.binders__table-cell--header
                            | Модуль 
                            br
                            | упругости, 
                            br
                            | ГПа
                    div.binders__col.binders__col--header.binders__col--module-3
                        div.binders__table-cell.binders__table-cell--header
                            | Модуль 
                            br
                            | упругости, 
                            br
                            | ГПа
                    div.clear

                a.binders__table-row(href="#")
                    div.binders__col.binders__col--number 
                        div.binders__table-cell 1.
                    div.binders__col.binders__col--link(href="#") 
                        div.binders__table-cell 
                            div.binders__link TO-26
                    div.binders__col.binders__col--operation 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--form 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--solid 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--period 
                        div.binders__table-cell 4 часа при t 60 asdf asdf asfd asfd sfasfd asfd 
                    div.binders__col.binders__col--viscosity 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--components 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--glass 
                        div.binders__table-cell 75
                    div.binders__col.binders__col--strength-limit 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--module-1 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-2 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-3 
                        div.binders__table-cell 30
                    div.clear

                a.binders__table-row(href="#")
                    div.binders__col.binders__col--number 
                        div.binders__table-cell 2.
                    div.binders__col.binders__col--link(href="#") 
                        div.binders__table-cell 
                            div.binders__link TO-26
                    div.binders__col.binders__col--operation 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--form 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--solid 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--period 
                        div.binders__table-cell 4 часа при t 60
                    div.binders__col.binders__col--viscosity 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--components 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--glass 
                        div.binders__table-cell 75
                    div.binders__col.binders__col--strength-limit 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--module-1 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-2 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-3 
                        div.binders__table-cell 30
                    div.clear

                a.binders__table-row(href="#")
                    div.binders__col.binders__col--number 
                        div.binders__table-cell 3.
                    div.binders__col.binders__col--link(href="#") 
                        div.binders__table-cell 
                            div.binders__link TO-26
                    div.binders__col.binders__col--operation 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--form 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--solid 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--period 
                        div.binders__table-cell 4 часа при t 60
                    div.binders__col.binders__col--viscosity 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--components 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--glass 
                        div.binders__table-cell 75
                    div.binders__col.binders__col--strength-limit 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--module-1 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-2 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-3 
                        div.binders__table-cell 30
                    div.clear

                a.binders__table-row(href="#")
                    div.binders__col.binders__col--number 
                        div.binders__table-cell 4.
                    div.binders__col.binders__col--link(href="#") 
                        div.binders__table-cell 
                            div.binders__link TO-26
                    div.binders__col.binders__col--operation 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--form 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--solid 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--period 
                        div.binders__table-cell 4 часа при t 60
                    div.binders__col.binders__col--viscosity 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--components 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--glass 
                        div.binders__table-cell 75
                    div.binders__col.binders__col--strength-limit 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--module-1 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-2 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-3 
                        div.binders__table-cell 30 asdf asdf asdf asdf asf asdf asd f
                    div.clear

                a.binders__table-row(href="#")
                    div.binders__col.binders__col--number 
                        div.binders__table-cell 5.
                    div.binders__col.binders__col--link(href="#") 
                        div.binders__table-cell 
                            div.binders__link TO-26
                    div.binders__col.binders__col--operation 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--form 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--solid 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--period 
                        div.binders__table-cell 4 часа при t 60
                    div.binders__col.binders__col--viscosity 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--components 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--glass 
                        div.binders__table-cell 75
                    div.binders__col.binders__col--strength-limit 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--module-1 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-2 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-3 
                        div.binders__table-cell 30
                    div.clear

                a.binders__table-row(href="#")
                    div.binders__col.binders__col--number 
                        div.binders__table-cell 6.
                    div.binders__col.binders__col--link(href="#") 
                        div.binders__table-cell 
                            div.binders__link TO-26
                    div.binders__col.binders__col--operation 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--form 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--solid 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--period 
                        div.binders__table-cell 4 часа при t 60
                    div.binders__col.binders__col--viscosity 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--components 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--glass 
                        div.binders__table-cell 75
                    div.binders__col.binders__col--strength-limit 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--module-1 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-2 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-3 
                        div.binders__table-cell 30
                    div.clear

                a.binders__table-row(href="#")
                    div.binders__col.binders__col--number 
                        div.binders__table-cell 7.
                    div.binders__col.binders__col--link(href="#") 
                        div.binders__table-cell 
                            div.binders__link TO-26
                    div.binders__col.binders__col--operation 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--form 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--solid 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--period 
                        div.binders__table-cell 4 часа при t 60
                    div.binders__col.binders__col--viscosity 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--components 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--glass 
                        div.binders__table-cell 75
                    div.binders__col.binders__col--strength-limit 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--module-1 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-2 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-3 
                        div.binders__table-cell 30
                    div.clear

                a.binders__table-row(href="#")
                    div.binders__col.binders__col--number 
                        div.binders__table-cell 8.
                    div.binders__col.binders__col--link(href="#") 
                        div.binders__table-cell 
                            div.binders__link TO-26
                    div.binders__col.binders__col--operation 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--form 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--solid 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--period 
                        div.binders__table-cell 4 часа при t 60
                    div.binders__col.binders__col--viscosity 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--components 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--glass 
                        div.binders__table-cell 75
                    div.binders__col.binders__col--strength-limit 
                        div.binders__table-cell 25
                    div.binders__col.binders__col--module-1 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-2 
                        div.binders__table-cell 30
                    div.binders__col.binders__col--module-3 
                        div.binders__table-cell 30
                    div.clear

            div.green-button.green-button--binders
                div.green-button__container
                    button.green-button__button.green-button__button--binders.popup-consultation-button Проконсультироваться у специалиста
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")