doctype html
html
    head
        title ITECMA | Карточка без фото
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/popup-description
        div.guide
            div.wrapper.wrapper--guide
                div.guide__close
                    img.guide__close-img.guide__close-img--normal(src="assets/img/close-big.svg" alt="закрыть")
                    img.guide__close-img.guide__close-img--hover(src="assets/img/close-big-hover.svg" alt="закрыть")   
                h1.guide__header Поможем найти, что вы ищите
                div.green-button.green-button--guide
                    div.green-button__container
                        button.green-button__button.green-button__button--guide.popup-consultation-button Проконсультироваться у специалиста
                div.clear

                div.guide__row
                    h2.guide__row-header Выберите отрасль
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--ship
                        div.guide__tab-img-container.guide__tab-img-container--ship
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/ship-normal.svg" alt="Судостроение")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/ship-hover.svg" alt="Судостроение")
                        div.guide__tab-text.guide__tab-text--ship Судостроение
                    div.guide__tab.guide__tab--active 
                        div.guide__tab-bg.guide__tab-bg--snap
                        div.guide__tab-img-container.guide__tab-img-container--snap
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/snap-normal.svg" alt="Оснастка")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/snap-hover.svg" alt="Оснастка")
                        div.guide__tab-text.guide__tab-text--snap Оснастка
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--car
                        div.guide__tab-img-container.guide__tab-img-container--car
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/car-normal.svg" alt="Автомобили и тюнинг")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/car-hover.svg" alt="Автомобили и тюнинг")
                        div.guide__tab-text.guide__tab-text--car 
                            | Автомобили
                            br
                            | и тюнинг
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--sport
                        div.guide__tab-img-container.guide__tab-img-container--sport
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/sport-normal.svg" alt="Спорт, отдых, хобби")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/sport-hover.svg" alt="Спорт, отдых, хобби")
                        div.guide__tab-text.guide__tab-text--sport 
                            | Спорт, отдых,
                            br
                            | хобби
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--aviation
                        div.guide__tab-img-container.guide__tab-img-container--aviation
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/aviation-normal.svg" alt="Авиация и космос")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/aviation-hover.svg" alt="Авиация и космос")
                        div.guide__tab-text.guide__tab-text--aviation 
                            | Авиация
                            br
                            | и космос
                    div.clear


                div.guide__row
                    h2.guide__row-header Выберите технологии
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--rtm
                        div.guide__tab-img-container.guide__tab-img-container--rtm
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/rtm-normal.svg" alt="РТМ")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/rtm-hover.svg" alt="РТМ")
                        div.guide__tab-text.guide__tab-text--rtm РТМ
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--winding
                        div.guide__tab-img-container.guide__tab-img-container--winding
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/winding-normal.svg" alt="Намотка")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/winding-hover.svg" alt="Намотка")
                        div.guide__tab-text.guide__tab-text--winding Намотка
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--autoclave
                        div.guide__tab-img-container.guide__tab-img-container--autoclave
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/autoclave-normal.svg" alt="Автоклав")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/autoclave-hover.svg" alt="Автоклав")
                        div.guide__tab-text.guide__tab-text--autoclave Намотка
                    div.guide__tab.guide__tab--active
                        div.guide__tab-bg.guide__tab-bg--infusion
                        div.guide__tab-img-container.guide__tab-img-container--infusion
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/infusion-normal.svg" alt="Инфузия")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/infusion-hover.svg" alt="Инфузия")
                        div.guide__tab-text.guide__tab-text--infusion Инфузия
                    div.guide__tab.guide__tab--active
                        div.guide__tab-bg.guide__tab-bg--lamination
                        div.guide__tab-img-container.guide__tab-img-container--lamination
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/lamination-normal.svg" alt="Ручное ламинирование")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/lamination-hover.svg" alt="Ручное ламинирование")
                        div.guide__tab-text.guide__tab-text--lamination Ручное ламинирование
                    div.clear


                div.guide__row
                    h2.guide__row-header Выберите характеристики материала
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--high-temp
                        div.guide__tab-img-container.guide__tab-img-container--high-temp
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/high-temp-normal.svg" alt="Высокотемпературное применение")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/high-temp-hover.svg" alt="Высокотемпературное применение")
                        div.guide__tab-text.guide__tab-text--high-temp
                            | Высоко-
                            br
                            | температурное
                            br
                            | применение
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--solid
                        div.guide__tab-img-container.guide__tab-img-container--solid
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/solid-normal.svg" alt="Отверждение при комнатной температуре")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/solid-hover.svg" alt="Отверждение при комнатной температуре")
                        div.guide__tab-text.guide__tab-text--solid 
                            | Отверждение
                            br
                            | при комнатной
                            br
                            | температуре
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--high-strength
                        div.guide__tab-img-container.guide__tab-img-container--high-strength
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/high-strength-normal.svg" alt="Высокопрочные")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/high-strength-hover.svg" alt="Высокопрочные")
                        div.guide__tab-text.guide__tab-text--high-strength Высокопрочные
                    div.guide__tab
                        div.guide__tab-bg.guide__tab-bg--price
                        div.guide__tab-img-container.guide__tab-img-container--price
                            img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/price-hover.svg" alt="Оптимальная цена")
                            img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/price-normal.svg" alt="Оптимальная цена")
                        div.guide__tab-text.guide__tab-text--price
                            | Оптимальная
                            br
                            | цена
                    div.clear

                div.guide__line

                div.guide__result-header Результат

                div.guide__result-item
                    div.guide__result-item-column-left Связующее:
                    a.guide__result-item-column-right(href="#")
                        span.guide__result-item-name SB270
                        |  для T < 250C
                    div.clear

                div.guide__result-item
                    div.guide__result-item-column-left Ткани:
                    a.guide__result-item-column-right(href="#")
                        span.guide__result-item-name PN-3M
                        |  для T < 430C
                    div.clear        

        div.card
            div.card__wrapper
                div.breadcrumbs 
                    a.breadcrumbs__breadcrumb(href="#") Главная
                    div.breadcrumbs__dash - 
                    a.breadcrumbs__breadcrumb(href="#") Продукция
                    div.breadcrumbs__dash - 
                    a.breadcrumbs__breadcrumb(href="#") Связующие
                    div.breadcrumbs__dash - 
                    a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Эпоксидное связуюещее Т‐37 
                    div.clear
                div.card__menu
                    div.card__menu-header
                        img.card__menu-header-img.card__menu-header-img--hover(src="assets/img/guide.svg" alt="Иконка")
                        img.card__menu-header-img.card__menu-header-img--normal(src="assets/img/guide-hover.svg" alt="Иконка") 
                        div.card__menu-header-text 
                            span.card__menu-header-text-span
                                | Результаты 
                                br
                                | путеводителя
                    div.card__menu-slider
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB 332
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span Т107
                        a.card__menu-slider-link.card__menu-slider-link--active(href="#") 
                            span.card__menu-slider-link-span СПИ-28
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB270
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB 332
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span Т107
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB 332
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB 332
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span Т107
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span СПИ-28
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB270
                        a.card__menu-slider-link(href="#")
                            span.card__menu-slider-link-span SB 332
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span Т107
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span СПИ-28
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB270
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB 332
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span Т107
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB 332
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB 332
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span Т107
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span СПИ-28
                        a.card__menu-slider-link(href="#") 
                            span.card__menu-slider-link-span SB270
                    div.clear

                h1.card__h1.card__h1--no-image Эпоксидное связующее T-37
               
                div.card__description-container.card__description-container--no-image
                    h3.card__description-h3.card__description-h3--no-image Краткое описание
                    div.card__no-image-container
                        p Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС
                        a.green-link.green-link--default(href="#")
                            span.green-link__dash —
                            | Читать всё
                        div.clear
                        div.green-button.green-button--card-description.popup-consultation-button
                            div.green-button__container
                                button.green-button__button.green-button__button--card-description Получить консультацию
                    
                div.card__social.card__social--no-image
                    a.card__social-icon.card__social-icon--twitter(href="#")
                        include ../img/twitter-normal.svg
                    a.card__social-icon.card__social-icon--facebook(href="#")
                        include ../img/facebook-normal.svg
                    a.card__social-icon.card__social-icon--vk(href="#")
                        include ../img/vk-normal.svg
                    a.card__social-icon.card__social-icon--instagram(href="#")
                        include ../img/instagram-normal.svg  
                div.clear

                div.card__line
                div.card__tabs-container
                    div.card__tab.card__tab--description.card__tab--active Описание
                    div.card__tab.card__tab--tech Технические характеристики
                    div.card__tab.card__tab--scope Область применения
                    div.card__tab.card__tab--downloads Документы для скачивания
                    div.card__tab.card__tab--gallery Фотогалерея
                    div.clear

                div.card__info
                    div.card__info-block.card__info-block--description.card__info-block--active(style="display:block") 
                        h2.card__info-block-h2 Описание
                        div.card__info-block-container
                            p Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС
                            p Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС
                            p Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС
                    
                    div.card__info-block.card__info-block--tech
                        h2.card__info-block-h2.card__info-block-h2--tech Технические характеристики
                        div.card__info-block-container.card__info-block-container--tech
                            h3.card__info-block-tech-h4 Критическое время жизни связующего
                            div.card__info-block-tech-table
                                div.card__info-block-tech-row
                                    div.card__info-block-tech-col.card__info-block-tech-col--1 Предел прочности растяжения
                                    div.card__info-block-tech-col.card__info-block-tech-col--2 AST D638 
                                    div.card__info-block-tech-col.card__info-block-tech-col--3 95
                                    div.clear
                                div.card__info-block-tech-row
                                    div.card__info-block-tech-col.card__info-block-tech-col--1 Модуль упругости
                                    div.card__info-block-tech-col.card__info-block-tech-col--2 AST D638 
                                    div.card__info-block-tech-col.card__info-block-tech-col--3 95
                                    div.clear
                                div.card__info-block-tech-row
                                    div.card__info-block-tech-col.card__info-block-tech-col--1 Удлинненеие при разрыве
                                    div.card__info-block-tech-col.card__info-block-tech-col--2 AST D638 
                                    div.card__info-block-tech-col.card__info-block-tech-col--3 95
                                    div.clear
                                div.card__info-block-tech-row
                                    div.card__info-block-tech-col.card__info-block-tech-col--1 температура стеклования
                                    div.card__info-block-tech-col.card__info-block-tech-col--2 AST D638 
                                    div.card__info-block-tech-col.card__info-block-tech-col--3 95
                                    div.clear
                                div.card__info-block-tech-row
                                    div.card__info-block-tech-col.card__info-block-tech-col--1 Предел прочности растяжения
                                    div.card__info-block-tech-col.card__info-block-tech-col--2 AST D638 
                                    div.card__info-block-tech-col.card__info-block-tech-col--3 95
                                    div.clear
                                div.card__info-block-tech-row
                                    div.card__info-block-tech-col.card__info-block-tech-col--1 Модуль упругости
                                    div.card__info-block-tech-col.card__info-block-tech-col--2 AST D638 
                                    div.card__info-block-tech-col.card__info-block-tech-col--3 95
                                    div.clear
                            h3.card__info-block-tech-h4 Предлагаемые условия переработки
                            ul.card__info-block-tech-ul
                                li.card__info-block-tech-li Эпоксидное связуюещее Т‐37 разработано для получения изделий из ПКМ методами намотки и ручного ламинирования. Связующее отличается низким значением усадки и высокими физико-механическими характеристиками. Связующее предназначено для изговтоления изделий с температурой эксплуатации до 100 ºС
                                li.card__info-block-tech-li Отвердить изделие в течение суток при комнатной температуре
                                li.card__info-block-tech-li Отвердить изделие в течение суток при комнатной температуре

                    div.card__info-block.card__info-block--scope
                        h2.card__info-block-h2 Область применения
                        div.card__info-block-container.card__info-block-container--scope
                            //include includes/product-slider
                            div.card__info-slider(style="position: relative;")
                                div.card__info-slider-container
                                    div.product-slider__slide(style="background:url('assets/img/product-slide.png')")
                                        div.product-slider__gradient
                                        div.product-slider__content
                                            div.product-slider__header Авиация и космос
                                            p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
                                            a.green-link.green-link--product.product__slider-link(href="#" data-text="<p>В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. При выборе связующего следует уделять внимание ряду ключевых параметров, которые обусловливают прочностные показатели конечного изделия. Температура эксплуатации (ограничена температурой стеклования полимерной матрицы и падением ее модуля упругости при нагревании. Следует обращать внимание именно на падение модуля упругости полимерной матрицы, так как он приближенно описывает падение прочности конечного изделия); Прочность полимерной матрицы (придает дополнительную прочность в направлениях, в которых отсутствует армирование, прочность при сдвигахмежслоевая прочность)); Трещиностойкость (высокое значение трещиностойкости обуславливает большую устойчивость к развитию трещин в композите, а также способствует устойчивости к ударным нагрузкам и более полной реализации прочности при нагрузках в разных направлениях в разных направлениях </p>")
                                                span.green-link__dash —
                                                | Подробнее
                                            div.clear
                                    div.product-slider__slide(style="background:url('assets/img/prepregs.png')")
                                        div.product-slider__gradient
                                        div.product-slider__content
                                            div.product-slider__header Авиация и космос
                                            p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
                                            a.green-link.green-link--product.product__slider-link(href="#" data-text="2")
                                                span.green-link__dash —
                                                | Подробнее
                                            div.clear
                                    div.product-slider__slide(style="background:url('assets/img/glue.png')")
                                        div.product-slider__gradient
                                        div.product-slider__content
                                            div.product-slider__header Авиация и космос
                                            p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
                                            a.green-link.green-link--product.product__slider-link(href="#" data-text="3")
                                                span.green-link__dash —
                                                | Подробнее
                                            div.clear 
                                    div.product-slider__slide(style="background:url('assets/img/fabric.png')")
                                        div.product-slider__gradient
                                        div.product-slider__content
                                            div.product-slider__header Авиация и космос
                                            p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
                                            a.green-link.green-link--product.product__slider-link(href="#" data-text="4")
                                                span.green-link__dash —
                                                | Подробнее
                                            div.clear

                    div.card__info-block.card__info-block--downloads
                        h2.card__info-block-h2.card__info-block-h2--downloads Документы для скачивания
                        div.downloads__categories
                            a.downloads__category.downloads__category--inn(href="#") Инновации
                            a.downloads__category.downloads__category--conc(href="#") Концепты
                            a.downloads__category.downloads__category--instr.downloads__category--active(href="#") Инструкции
                            div.clear

                        div.downloads__download-block.downloads__download-block--instr.downloads__download-block--active

                            a.downloads__download(href="#")
                                div.downloads__hover
                                    div.downloads__hover-info
                                        div.downloads__hover-info-container
                                            img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                            div.downloads__hover-text Загрузить
                                            div.clear
                                div.downloads__table-cell                        
                                    img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                    div.downloads__download-info
                                        div.downloads__download-name Производство гибкой графитовой фольги 
                                        div.downloads__download-size Вес. 340 МБ
                                    div.clear

                            a.downloads__download(href="#")
                                div.downloads__hover
                                    div.downloads__hover-info
                                        div.downloads__hover-info-container
                                            img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                            div.downloads__hover-text Загрузить
                                            div.clear
                                div.downloads__table-cell                        
                                    img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                    div.downloads__download-info
                                        div.downloads__download-name Производство гибкой графитовой фольги 
                                        div.downloads__download-size Вес. 340 МБ
                                    div.clear

                            a.downloads__download(href="#")
                                div.downloads__hover
                                    div.downloads__hover-info
                                        div.downloads__hover-info-container
                                            img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                            div.downloads__hover-text Загрузить
                                            div.clear
                                div.downloads__table-cell                        
                                    img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                    div.downloads__download-info
                                        div.downloads__download-name Производство гибкой графитовой фольги 
                                        div.downloads__download-size Вес. 340 МБ
                                    div.clear

                            a.downloads__download(href="#")
                                div.downloads__hover
                                    div.downloads__hover-info
                                        div.downloads__hover-info-container
                                            img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                            div.downloads__hover-text Загрузить
                                            div.clear
                                div.downloads__table-cell                        
                                    img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                    div.downloads__download-info
                                        div.downloads__download-name Производство гибкой графитовой фольги 
                                        div.downloads__download-size Вес. 340 МБ
                                    div.clear

                            a.downloads__download(href="#")
                                div.downloads__hover
                                    div.downloads__hover-info
                                        div.downloads__hover-info-container
                                            img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                            div.downloads__hover-text Загрузить
                                            div.clear
                                div.downloads__table-cell                        
                                    img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                    div.downloads__download-info
                                        div.downloads__download-name Производство гибкой графитовой фольги 
                                        div.downloads__download-size Вес. 340 МБ
                                    div.clear

                            a.downloads__download(href="#")
                                div.downloads__hover
                                    div.downloads__hover-info
                                        div.downloads__hover-info-container
                                            img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                            div.downloads__hover-text Загрузить
                                            div.clear
                                div.downloads__table-cell                        
                                    img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                    div.downloads__download-info
                                        div.downloads__download-name Производство гибкой графитовой фольги 
                                        div.downloads__download-size Вес. 340 МБ
                                    div.clear

                            div.clear

                        
                        div.navigation
                            a.navigation__page.navigation__page--downloads.navigation__page--downloads-1-1(href="#") 
                                span.navigation__page-span 1
                            a.navigation__page.navigation__page--downloads.navigation__page--downloads-2-1(href="#") 
                                span.navigation__page-span 2
                            a.navigation__page.navigation__page--downloads.navigation__page--downloads-3-1.navigation__page--active(href="#") 
                                span.navigation__page-span 3
                            a.navigation__page.navigation__page--downloads.navigation__page--downloads-4-1(href="#") 
                                span.navigation__page-span 4
                            a.navigation__page.navigation__page--dots(href="#") ...
                            a.navigation__page.navigation__page--downloads.navigation__page--downloads-14-1(href="#") 
                                span.navigation__page-span 14
                            a.green-link.green-link--downloads(href="#")
                                span.green-link__dash —
                                | Следующая страница
                            div.clear   

                    div.card__info-block.card__info-block--gallery
                        h2.card__info-block-h2.card__info-block-h2--gallery Фотографии
                        div.card__info-gallery
                            a.fancybox-company-gallery.card__info-gallery-slide(href="assets/img/company-gallery-1.png" rel="gallery" data-bg="assets/img/company-gallery-1.png" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                                div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-1.png');")
                                    div.fancybox__green-doodle
                            a.fancybox-company-gallery.card__info-gallery-slide(href="assets/img/company-gallery-2.png" rel="gallery" data-bg="assets/img/company-gallery-2.png" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                                div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-2.png');")
                                    div.fancybox__green-doodle
                            a.fancybox-company-gallery.card__info-gallery-slide(href="assets/img/company-gallery-3.png" rel="gallery" data-bg="assets/img/company-gallery-3.png" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                                div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-3.png');")
                                    div.fancybox__green-doodle
                            a.fancybox-company-gallery.card__info-gallery-slide(href="assets/img/company-gallery-6.png" rel="gallery" data-bg="assets/img/company-gallery-6.png" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                                div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-6.png');")
                                    div.fancybox__green-doodle
                            a.fancybox-company-gallery.card__info-gallery-slide(href="assets/img/company-gallery-4.png" rel="gallery" data-bg="assets/img/company-gallery-4.png" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                                div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-4.png');")
                                    div.fancybox__green-doodle
                            a.fancybox-company-gallery.card__info-gallery-slide(href="assets/img/company-gallery-5.png" rel="gallery" data-bg="assets/img/company-gallery-5.png" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                                div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-5.png');")
                                    div.fancybox__green-doodle
                            a.fancybox-company-gallery.card__info-gallery-slide(href="assets/img/company-gallery-6.png" rel="gallery" data-bg="assets/img/company-gallery-6.png" data-text="УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований") 
                                div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-6.png');")
                                    div.fancybox__green-doodle
                            div.clear


                div.green-button.green-button--card
                    div.green-button__container
                        button.green-button__button.green-button__button--binders.popup-consultation-button Проконсультироваться у специалиста
          
        include includes/video-fixed
        include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")