doctype html
html
    head
        title ITECMA | О компании
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide        

        div.itecma 
            div.itecma__column.itecma__column--left 
                div.itecma__main-content 
                    div.company
                        div.breadcrumbs
                            a.breadcrumbs__breadcrumb(href="#") Главная
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb(href="#") О компании
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") О нас
                            div.clear
                        h1.company__h1 О компании
                        h2.company__h2 О нас
                        p УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.
                        p Институт одним из первых в России реализует на практике идею партнерства крупнейшего научнообразовательного центра, государства и частного бизнеса в области науки и инноваций. Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.
                        p ЗАО «ИНУМиТ»  является инициатором и участником ряда крупных инновационных и образовательных проектов государственного значения в области создания в России производства нового поколения конструкционных и теплоогнезащитных материалов (журналы "Инновации" 2009 г., "Атомная стратегия" 2010г.). Успешное развитие института основано на фундаментальном образовании и научной базе МГУ, тесном контакте и партнерстве с НПО УНИХИМТЕК. ЗАО «ИНУМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.
                        p Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.  Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.                        
                div.clear
            div.itecma__column.itecma__column--right
                div.right-menu.right-menu--company
                    ul.right-menu__ul
                        li.right-menu__li
                            a.right-menu__link.right-menu__link--active(href="#") 
                                span.right-menu__span О нас
                        li.right-menu__li
                            a.right-menu__link(href="vacancy.html") 
                                span.right-menu__span Вакансии
                        li.right-menu__li
                            a.right-menu__link(href="team.html") 
                                span.right-menu__span Команда
                        li.right-menu__li
                            a.right-menu__link(href="company-gallery.html") 
                                span.right-menu__span Фотогалерея
                        li.right-menu__li
                            a.right-menu__link(href="history.html") 
                                span.right-menu__span История компании
            div.clear
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")