doctype html
html
    head
        title ITECMA | Фотогалерея
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header 
        include includes/popup-consultation
        include includes/guide
        include includes/black-bg

        div.itecma 
            div.itecma__column.itecma__column--left
                div.itecma__main-content 
                    div.company
                        div.breadcrumbs
                            a.breadcrumbs__breadcrumb(href="#") Главная
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb(href="#") О компании
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Фотогалерея
                            div.clear
                        h1.company__h1 О компании
                        h2.company__h2.company__h2--company-gallery Фотогалерея
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-1.png" rel="gallery" data-bg="assets/img/company-gallery-1.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-1.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-2.png" rel="gallery" data-bg="assets/img/company-gallery-2.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-2.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-3.png" rel="gallery" data-bg="assets/img/company-gallery-3.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-3.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-4.png" rel="gallery" data-bg="assets/img/company-gallery-4.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-4.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-5.png" rel="gallery" data-bg="assets/img/company-gallery-5.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-5.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-6.png" rel="gallery" data-bg="assets/img/company-gallery-6.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-6.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-1.png" rel="gallery" data-bg="assets/img/company-gallery-1.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-1.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-2.png" rel="gallery" data-bg="assets/img/company-gallery-2.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-2.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-3.png" rel="gallery" data-bg="assets/img/company-gallery-3.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-3.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-4.png" rel="gallery" data-bg="assets/img/company-gallery-4.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-4.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-5.png" rel="gallery" data-bg="assets/img/company-gallery-5.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-5.png');")
                                div.fancybox__green-doodle
                        a.fancybox-company-gallery.team__employee.team__employee--company-gallery(href="assets/img/company-gallery-6.png" rel="gallery" data-bg="assets/img/company-gallery-6.png" data-text="<p>УМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований</p>") 
                            div.fancybox__image-container.fancybox__image-container--company-gallery(style="background-image: url('assets/img/company-gallery-6.png');")
                                div.fancybox__green-doodle
                        div.clear

                        div.navigation.navigation--team
                            a.navigation__page(href="#") 
                                span.navigation__page-span 1
                            a.navigation__page(href="#") 
                                span.navigation__page-span 2
                            a.navigation__page.navigation__page--active(href="#") 
                                span.navigation__page-span 3
                            a.navigation__page(href="#") 
                                span.navigation__page-span 4
                            a.navigation__page.navigation__page--dots(href="#") ...
                            a.navigation__page(href="#") 
                                span.navigation__page-span 14
                            a.green-link.green-link--downloads(href="#")
                                span.green-link__dash —
                                | Следующая страница
                            div.clear
                                        
                div.clear
            div.itecma__column.itecma__column--right
                div.right-menu.right-menu--company
                    ul.right-menu__ul
                        li.right-menu__li
                            a.right-menu__link(href="company.html") 
                                span.right-menu__span О нас
                        li.right-menu__li
                            a.right-menu__link(href="#") 
                                span.right-menu__span Вакансии
                        li.right-menu__li
                            a.right-menu__link(href="team.html") 
                                span.right-menu__span Команда
                        li.right-menu__li
                            a.right-menu__link.right-menu__link--active(href="company-gallery.html") 
                                span.right-menu__span Фотогалерея
                        li.right-menu__li
                            a.right-menu__link(href="history.html") 
                                span.right-menu__span История компании
            div.clear
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")