doctype html
html
    head
        title ITECMA | Контакты
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body        
        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide

        div.itecma 
            div.itecma__map
                div.itecma__map-map(id="map")
                div.itecma__map-container
                    div.itecma__map-header Контакты
                    div.itecma__map-info
                        div.itecma__map-address 
                            | г. Москва, ул. Ленинские Горы, дом 1, 
                            br
                            | строение 11
                        a.itecma__map-phone(href="tel:+74959393592") +(495) 939-35-92
                        a.itecma__map-email(href="mailto:inumit@info.ru") inumit@info.ru
                        div.green-button.green-button--contacts
                            div.green-button__container
                                button.green-button__button.green-button__button--contacts.popup-consultation-button Получить консультацию
        include includes/video-fixed
        include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")
        //script(src="assets/js/contacts.js")