doctype html
html
    head
        title ITECMA | Загрузки
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide
   
        div.downloads
            div.downloads__wrapper
                div.breadcrumbs 
                    a.breadcrumbs__breadcrumb(href="#") Главная
                    div.breadcrumbs__dash - 
                    a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Загрузки
                    div.clear
                h1.downloads__h1 Загрузки
                div.downloads__search-container
                    input.downloads__search(placeholder="Введите запрос")
                    img.downloads__search-img.downloads__search-img--normal(src="assets/img/search-small.svg" alt="Поиск")
                    img.downloads__search-img.downloads__search-img--hover(src="assets/img/search-small-hover.svg" alt="Поиск")
                div.downloads__select-container
                    div.select.select--downloads
                        input.select__input.select__input--downloads(placeholder="Научные разработки") 
                        div.select__select-arrow
                            img.select__select-arrow-image(src="assets/img/select-bottom.svg" alt="Стрелочка")
                        div.select__container.select__container--downloads
                            ul.select__select-categories
                                li
                                    a.active(href="#") Название категории 1
                                li
                                    a(href="#") Название категории 2
                                li
                                    a(href="#") Название категории 3
                                li
                                    a(href="#") Название категории 4
                                li
                                    a(href="#") Название категории 5
                                li
                                    a(href="#") Название категории 6
                                li
                                    a(href="#") Название категории 7
                div.clear 

                div.downloads__line 
                h2.downloads__h2 Научные разработки
                div.downloads__categories
                    a.downloads__category.downloads__category--inn(href="#") Инновации
                    a.downloads__category.downloads__category--conc(href="#") Концепты
                    a.downloads__category.downloads__category--instr.downloads__category--active(href="#") Инструкции
                    div.clear 

                div.downloads__download-container
                    div.downloads__download-block
                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        a.downloads__download(href="#")
                            div.downloads__hover
                                div.downloads__hover-info
                                    div.downloads__hover-info-container
                                        img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                                        div.downloads__hover-text Загрузить
                                        div.clear
                            div.downloads__table-cell                        
                                img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
                                div.downloads__download-info
                                    div.downloads__download-name Производство гибкой графитовой фольги 
                                    div.downloads__download-size Вес. 340 МБ
                                div.clear

                        div.clear

                div.navigation
                    a.navigation__page.navigation__page--downloads.navigation__page--downloads-1(href="#") 
                        span.navigation__page-span 1
                    a.navigation__page.navigation__page--downloads.navigation__page--downloads-2(href="#") 
                        span.navigation__page-span 2
                    a.navigation__page.navigation__page--downloads.navigation__page--downloads-3.navigation__page--active(href="#") 
                        span.navigation__page-span 3
                    a.navigation__page.navigation__page--downloads.navigation__page--downloads-4(href="#") 
                        span.navigation__page-span 4
                    a.navigation__page.navigation__page--dots(href="#") ...
                    a.navigation__page.navigation__page--downloads.navigation__page--downloads-14(href="#") 
                        span.navigation__page-span 14
                    a.green-link.green-link--downloads(href="#")
                        span.green-link__dash —
                        | Следующая страница
                    div.clear
          
        include includes/video-fixed
        include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")