doctype html
html
    head
        title ITECMA | Ткани
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide
        include includes/popup-description
        div.itecma
            div.itecma__column.itecma__column--left
                div.itecma__main-content 
                    div.product
                        div.breadcrumbs.breadcrumbs--company  
                            a.breadcrumbs__breadcrumb(href="#") Главная
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb(href="#") Продукция
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Связующие
                            div.clear 
                        h1.product__header Ткани и ленты h1 
                        div.product__anchors
                            div.product__anchors-anchor.product__anchors-anchor--description.product__anchors-anchor--selected(id="product__anchors-anchor--description") Описание и выгода
                            div.product__anchors-anchor.product__anchors-anchor--types(id="product__anchors-anchor--types") Типы категории
                            div.product__anchors-anchor.product__anchors-anchor--area(id="product__anchors-anchor--area") Область применения
                            div.clear

                        div(id="product__description-block")
                            h2.product__header-h2 Описание и выгода h2
                            p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. При выборе связующего следует уделять внимание ряду ключевых параметров, которые обусловливают прочностные показатели 
                            h3.product__header-h3 Заголовок h3
                            div.product__list
                                div.product__list-item
                                    div.product__list-left 1
                                    div.product__list-right По типу плетения
                                    div.clear
                                div.product__list-item
                                    div.product__list-left 2
                                    div.product__list-right По марке используемого волокна и количеству монофиламентов в жгуте (1К, 3К, 12К, 24К)
                                    div.clear
                                div.product__list-item
                                    div.product__list-left 3
                                    div.product__list-right По плотности готовой ткани: масса от 90 г до 1200 г на кв.м. 
                                    div.clear

                            div.product__description-hidden
                                h2.product__header-h2 Описание и выгода h2
                                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. При выборе связующего следует уделять внимание ряду ключевых параметров, которые обусловливают прочностные показатели 
                            
                            div.product__read-more.product__read-more--fabric
                                div.product__read-more-line
                                div.product__read-more-button
                                    div.product__read-more-button-text Читать все
                                    img.product__read-more-button-select(src="assets/img/select-bottom-green.svg" alt="стрелочка")
                                    div.clear
                                div.clear

                        div(id="product__types")        
                            h1.fabric-table-header Типы

                            div.fabric
                                div.fabric__row.fabric__row--first
                                    div.fabric__column.fabric__column--img 
                                        div.fabric__column-info.fabric__column-info--header Изображение
                                    div.fabric__column.fabric__column--link-header
                                        div.fabric__column-info.fabric__column-info--header Тип
                                    div.fabric__column.fabric__column--text-header
                                        div.fabric__column-info.fabric__column-info--header Применение и преимущество
                                    div.clear
                                a.fabric__row(href="#")
                                    div.fabric__column.fabric__column--img
                                        div.fabric__column-info 
                                            img.fabric__img(src="assets/img/fabric-1.png" alt="ткань")
                                    div.fabric__column.fabric__column--link
                                        div.fabric__column-info
                                            span.fabric__link Однонаправленная лента ТЕНЗОХИМ
                                    div.fabric__column.fabric__column--text
                                        div.fabric__column-info
                                            p Для применения в строительной отрасли
                                    div.fabric__column.fabric__column--arrow
                                        div.fabric__column-info
                                            img.fabric__arrow(src="assets/img/light-arrow.svg" alt="стрелка")
                                    div.clear  
                                a.fabric__row(href="#")
                                    div.fabric__column.fabric__column--img
                                        div.fabric__column-info 
                                            img.fabric__img(src="assets/img/fabric-2.png" alt="ткань")
                                    div.fabric__column.fabric__column--link
                                        div.fabric__column-info
                                            span.fabric__link Однонаправленная лента
                                    div.fabric__column.fabric__column--text
                                        div.fabric__column-info
                                            p Лента обладает лучшими механическими характеристиками, чем ткань, за счет отсутствия перегибов при плетении.
                                    div.fabric__column.fabric__column--arrow
                                        div.fabric__column-info
                                            img.fabric__arrow(src="assets/img/light-arrow.svg" alt="стрелка")
                                    div.clear  
                                a.fabric__row(href="#")
                                    div.fabric__column.fabric__column--img
                                        div.fabric__column-info 
                                            img.fabric__img(src="assets/img/fabric-3.png" alt="ткань")
                                    div.fabric__column.fabric__column--link
                                        div.fabric__column-info
                                            span.fabric__link Полотно
                                    div.fabric__column.fabric__column--text
                                        div.fabric__column-info
                                            p Самый стабильный тип ткани за счет большого количества переплетений, однако такая ткань хуже драпируется и имеет самые слабые механические характеристики
                                    div.fabric__column.fabric__column--arrow
                                        div.fabric__column-info
                                            img.fabric__arrow(src="assets/img/light-arrow.svg" alt="стрелка")
                                    div.clear 
                                a.fabric__row(href="#")
                                    div.fabric__column.fabric__column--img
                                        div.fabric__column-info 
                                            img.fabric__img(src="assets/img/fabric-4.png" alt="ткань")
                                    div.fabric__column.fabric__column--link
                                        div.fabric__column-info
                                            span.fabric__link Сатин
                                    div.fabric__column.fabric__column--text
                                        div.fabric__column-info
                                            p Лучше всего драпируется и имеет самые высокие механические характеристики, однако данный тип ткани наименее стабилен
                                    div.fabric__column.fabric__column--arrow
                                        div.fabric__column-info
                                            img.fabric__arrow(src="assets/img/light-arrow.svg" alt="стрелка")
                                    div.clear 

                            div.product__line.product__line--fabric 

                        div(id="product__area")    
                            h2.product__header-h2.product__header-h2--slider Область применения                        
                            include includes/product-slider
                        
                        div.green-button.green-button--product
                            div.green-button__container.green-button__container--product
                                button.product__button.green-button__button.green-button__button--product.popup-consultation-button Проконсультироваться у специалиста 
                        
                div.clear
            div.itecma__column.itecma__column--right.itecma__column--service
                div.right-menu.right-menu--fabric
                    ul.right-menu__ul.right-menu__ul--service
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service(href="product.html")
                                span.right-menu__span Связующие
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service.right-menu__link--active(href="fabric.html")
                                span.right-menu__span Ткани и ленты
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service(href="product.html")
                                span.right-menu__span Клеи и клеевые пленки
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service(href="product.html")
                                span.right-menu__span Препреги
            div.clear
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")