doctype html
html
    head
        title ITECMA | Главная
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide
 
        div.first-screen             
            div.first-screen__info
                div.wrapper
                    div.first-screen__col1
                        h1.first-screen__header Российский производитель композиционных материалов
                        p Наши материалы используют ведущие предприятия космической отрасли и гражданской авиации России
                        div.green-button
                            div.green-button__container
                                a.first-screen__link.green-button__button.green-button__button--index(href="company.html") В раздел о компании
                    div.first-screen__col2
                        include includes/index-slider                 
                    div.clear

        include includes/category    
        include includes/index-services   

        div.index-footer-line
       
        include includes/video-fixed 
        include includes/footer--services

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")