doctype html
html
    head
        title ITECMA | СтатьяНовостьЗаметка
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide        

        div.itecma
            div.itecma__column.itecma__column--left
                div.itecma__main-content 
                    div.news
                        div.breadcrumbs
                            a.breadcrumbs__breadcrumb(href="#") Главная
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb(href="#") Новости
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Название новости
                            div.clear
                        h1.news__h1 Институт создан на базе кафедры химических технологий и новых материалов МГУ им. М.В.Ломоносова 
                        div.news__date 30 апрель 2017
                        div.news__content
                            img(src="assets/img/news-img.png" alt="картинка статьи")
                            div.news__social
                                a.news__social-icon.news__social-icon--twitter(href="#")
                                    include ../img/twitter-normal.svg
                                a.news__social-icon.news__social-icon--facebook(href="#")
                                    include ../img/facebook-normal.svg
                                a.news__social-icon.news__social-icon--vk(href="#")
                                    include ../img/vk-normal.svg
                                a.news__social-icon.news__social-icon--instagram(href="#")
                                    include ../img/instagram-normal.svg
                                div.clear
                            p ЗАО «ИНУМиТ» — компания, специализирующаяся на проведении научных и прикладных исследований, разработке технологий производства и поставке оборудования в области углеродных и полимерных композиционных материалов.
                            p Институт одним из первых в России реализует на практике идею партнерства крупнейшего научно-образовательного центра, государства и частного бизнеса в области науки и инноваций. Такое объединение усилий позволяет реализовать полностью инновационный цикл от фундаментальных исследований до производства и внедрения наукоемкой продукции, решая на современном уровне задачи создания, сертификации и продвижения на рынок новых материалов, технологий ресурсосбережения и безопасности, подготовки специалистов в области материаловедения и управления высокотехнологичными проектами.
                div.clear
            div.itecma__column.itecma__column--right
                div.right-menu.right-menu--news
                    div.right-menu__news-header Читайте так же
                    a.right-menu__news(href="#")
                        div.right-menu__news-date 12 апрель 2017 
                        span.right-menu__news-link Наш институт обладает необходимыми компетенциями в поставке 
                    a.right-menu__news(href="#")
                        div.right-menu__news-date 12 апрель 2017
                        span.right-menu__news-link Космо-станция «Sолярис» — это самое необычное воплощение космоса
                    a.right-menu__news(href="#")
                        div.right-menu__news-date 17 апрель 2017
                        span.right-menu__news-link Открытые научно-популярные лекции академиков и членов-корреспондентов РАН
                    a.right-menu__news(href="#")
                        div.right-menu__news-date 12 апрель 2017
                        span.right-menu__news-link Остров папуасов и райских птиц
                    a.right-menu__news(href="#")
                        div.right-menu__news-date 12 апрель 2017
                        span.right-menu__news-link Наш институт обладает необходимыми компетенциями в поставке
                    a.right-menu__news(href="#")
                        div.right-menu__news-date 17 апрель 2017
                        span.right-menu__news-link Открытые научно-популярные лекции академиков и членов-корреспондентов РАН
                    div.right-menu__news-link-container 
                        a.green-link.green-link--default(href="#")
                            span.green-link__dash —
                            | Перейти в раздел
                        div.clear
            div.clear
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")