doctype html
html
    head
        title ITECMA | Связующие
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide
        include includes/popup-description

        div.itecma 
            div.itecma__column.itecma__column--left
                div.itecma__main-content 
                    div.product
                        div.breadcrumbs.breadcrumbs--company  
                            a.breadcrumbs__breadcrumb(href="#") Главная
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb(href="#") Продукция
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Связующие
                            div.clear
                        h1.product__header Связующие (клеи и клеевые плёнки)
                        div.product__anchors
                            div.product__anchors-anchor.product__anchors-anchor--description.product__anchors-anchor--selected(id="product__anchors-anchor--description") Описание и выгода
                            div.product__anchors-anchor.product__anchors-anchor--types(id="product__anchors-anchor--types") Типы категории
                            div.product__anchors-anchor.product__anchors-anchor--area(id="product__anchors-anchor--area") Область применения
                            div.clear
                        div(id="product__description-block")
                            h2.product__header-h2 Описание и выгода
                            p 
                                | В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. При выборе связующего следует уделять внимание ряду ключевых параметров, которые обусловливают прочностные показатели конечного изделия. Температура эксплуатации (ограничена температурой стеклования полимерной матрицы и падением ее модуля упругости при нагревании. Следует обращать внимание именно на падение модуля упругости полимерной матрицы, так как он приближенно описывает падение прочности конечного изделия); Прочность полимерной матрицы (придает дополнительную прочность в направлениях, в которых отсутствует армирование, прочность при сдвигахмежслоевая прочность)); Трещиностойкость (высокое значение трещиностойкости обуславливает большую устойчивость к развитию трещин в композите, а также 
                                span.product__description-hidden способствует устойчивости к ударным нагрузкам и более полной реализации прочности при нагрузках полной реализации прочности при нагрузках в разных направлениях, так при растяжении вдоль 0 °изделия сформованного 0/90°, слои выложенные 90° удлиняться примерно на 0,8%, тогда как максимальная прочность слоев по 0° реализуется при удлинении более 1%, что может приводить к растрескиванию поперечных слоев (Transverse Ply Cracking), в случае низкой трещиностойкости матрицы);
                        div.product__read-more
                            div.product__read-more-line
                            div.product__read-more-button
                                div.product__read-more-button-text Читать все
                                img.product__read-more-button-select(src="assets/img/select-bottom-green.svg" alt="стрелочка")
                                div.clear
                            div.clear
                        div(id="product__types")
                            h2.product__header-h2.product__header-h2--types Типы связующего
                            div.product__table-h2 До 150
                            div.product__table-header
                                div.product__table-header-name Продукты
                                div.product__table-header-purpose Предназначение
                                div.clear
                            a.product__row(href="#")
                                div.product__row-link 
                                    span.product__row-link-span ТО-26
                                div.product__row-purpose для строительной индустрии
                                img.product__row-arrow(src="assets/img/light-arrow.svg" alt="стрелочка")
                                div.clear
                            a.product__row(href="#")
                                div.product__row-link 
                                    span.product__row-link-span ТО-26
                                div.product__row-purpose для строительной индустрии
                                img.product__row-arrow(src="assets/img/light-arrow.svg" alt="стрелочка")
                                div.clear
                            div.product__table-h2 До 250
                            div.product__table-header
                                div.product__table-header-name Продукты
                                div.product__table-header-purpose Предназначение
                                div.clear
                            a.product__row(href="#")
                                div.product__row-link 
                                    span.product__row-link-span ТО-26
                                div.product__row-purpose для судостроения
                                img.product__row-arrow(src="assets/img/light-arrow.svg" alt="стрелочка")
                                div.clear
                            div.product__table-h2 До 400
                            div.product__table-header
                                div.product__table-header-name Продукты
                                div.product__table-header-purpose Предназначение
                                div.clear
                            a.product__row(href="#")
                                div.product__row-link 
                                    span.product__row-link-span ТО-26
                                div.product__row-purpose для судостроения
                                img.product__row-arrow(src="assets/img/light-arrow.svg" alt="стрелочка")
                                div.clear

                            div.green-button__container.green-button__container--product-compare
                                a.product__button.green-button__button.green-button__button--product.popup-consultation-button(href="/products/svyazuyushchie/compare/") Сравнить связующие
  
                        div.product__line
                        
                        div(id="product__area")
                            h2.product__header-h2.product__header-h2--slider Область применения
                            include includes/product-slider
                        
                        div.green-button.green-button--product
                            div.green-button__container.green-button__container--product
                                button.product__button.green-button__button.green-button__button--product.popup-consultation-button Проконсультироваться у специалиста 
                        
                div.clear
            div.itecma__column.itecma__column--right.itecma__column--service
                div.right-menu.right-menu--product 
                    ul.right-menu__ul.right-menu__ul--service
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service.right-menu__link--active(href="product.html")
                                span.right-menu__span Связующие
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service(href="fabric.html")
                                span.right-menu__span Ткани и ленты
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service(href="product.html")
                                span.right-menu__span Клеи и клеевые пленки
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service(href="product.html")
                                span.right-menu__span Препреги
            div.clear
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")