doctype html
html
    head
        title ITECMA | Результаты поиска
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide       

        div.search
            div.search__wrapper
                h1.search__h1 По вашему запросу: 23 результата
                div.search__input-container
                    input.search__input(placeholder="Институт новых углеродных материалов")
                    img.search__input-icon.search__input-icon--normal(src="assets/img/search-black.svg" alt="иконка")
                    img.search__input-icon.search__input-icon--hover(src="assets/img/search.svg" alt="иконка") 
                div.search__items-container
                    div.search__item
                        div.search__item-date 30 апрель 2017
                        a.search__item-link(href="#")
                            | Наш  
                            span.search__item-link-underline 
                                span.search__item-link-underline-span  институт
                            |   обладает необходимыми компетенциями в поставке под ключ производственного и лабораторного оборудования необходимого для производства
                        a.green-link.green-link--vacancy(href="#")
                            span.green-link__dash —
                            | Статьи  
                        div.clear

                    div.search__item
                        div.search__item-date 30 апрель 2017
                        a.search__item-link(href="#")
                            | Наш  
                            span.search__item-link-underline 
                                span.search__item-link-underline-span  институт
                            |   обладает необходимыми компетенциями в поставке под ключ производственного и лабораторного оборудования необходимого для производства
                        a.green-link.green-link--vacancy(href="#")
                            span.green-link__dash —
                            | Статьи  
                        div.clear
                    
                    div.search__item
                        div.search__item-date 30 апрель 2017
                        a.search__item-link(href="#")
                            | Наш  
                            span.search__item-link-underline 
                                span.search__item-link-underline-span  институт
                            |   обладает необходимыми компетенциями в поставке под ключ производственного и лабораторного оборудования необходимого для производства
                        a.green-link.green-link--vacancy(href="#")
                            span.green-link__dash —
                            | Статьи  
                        div.clear

                    div.search__item
                        div.search__item-date 30 апрель 2017
                        a.search__item-link(href="#")
                            | Наш  
                            span.search__item-link-underline 
                                span.search__item-link-underline-span  институт
                            |   обладает необходимыми компетенциями в поставке под ключ производственного и лабораторного оборудования необходимого для производства
                        a.green-link.green-link--vacancy(href="#")
                            span.green-link__dash —
                            | Статьи  
                        div.clear

                    div.navigation.navigation--search 
                        a.navigation__page(href="#") 
                            span.navigation__page-span 1
                        a.navigation__page(href="#") 
                            span.navigation__page-span 2
                        a.navigation__page.navigation__page--active(href="#")  
                            span.navigation__page-span 3
                        a.navigation__page(href="#") 
                            span.navigation__page-span 4
                        a.navigation__page.navigation__page--dots(href="#") ... 
                        a.navigation__page(href="#") 
                            span.navigation__page-span 14
                        a.green-link.green-link--downloads(href="#")
                            span.green-link__dash —
                            | Следующая страница
                        div.clear 

        include includes/video-fixed
        include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")