doctype html
html
    head
        title ITECMA | Страница услуги
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide

        div.itecma
            div.itecma__column.itecma__column--left
                div.itecma__main-content 
                    div.product
                        div.breadcrumbs
                            a.breadcrumbs__breadcrumb(href="#") Главная
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb(href="#") Услуги
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Научные разработки
                            div.clear
                        h1.product__header Научные разработки
                        h2.product__header-h2.product__header-h2--service Заголовок
                        p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. При выборе связующего следует уделять внимание ряду ключевых параметров, которые обусловливают прочностные показатели конечного изделия. Температура эксплуатации (ограничена температурой стеклования полимерной матрицы и падением ее модуля упругости при нагревании. Следует обращать внимание именно на падение модуля упругости полимерной матрицы, так как он приближенно описывает падение прочности конечного изделия); Прочность полимерной матрицы (придает дополнительную прочность в направлениях, в которых отсутствует армирование, прочность при сдвигахмежслоевая прочность)); Трещиностойкость (высокое значение трещиностойкости обуславливает большую устойчивость к развитию трещин в композите
                        p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. При выборе связующего следует уделять внимание ряду ключевых параметров, которые обусловливают прочностные показатели конечного изделия. Температура эксплуатации (ограничена температурой стеклования полимерной матрицы и падением ее модуля упругости при нагревании. Следует обращать внимание именно на падение модуля упругости полимерной матрицы, так как он приближенно описывает падение прочности конечного изделия); Прочность полимерной матрицы (придает дополнительную прочность в направлениях, в которых отсутствует армирование, прочность при сдвигахмежслоевая прочность)); Трещиностойкость (высокое значение трещиностойкости обуславливает большую устойчивость к развитию трещин в композите
                        
                        div.product__line.product__line--service
                        h2.product__header-h2.product__header-h2--slider Фотогалерея
                        
                        include includes/product-slider--service
                        
                        div.green-button.green-button--service
                            div.green-button__container.green-button__container--product
                                button.product__button.green-button__button.green-button__button--product.popup-consultation-button Проконсультироваться у специалиста 
                        
                div.clear
            div.itecma__column.itecma__column--right.itecma__column--service
                div.right-menu.right-menu--service
                    ul.right-menu__ul.right-menu__ul--service
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service.right-menu__link--active(href="service.html") 
                                span.right-menu__span Техническое 
                        li.right-menu__li.right-menu__li--service
                            a.right-menu__link.right-menu__link--service(href="service.html") 
                                span.right-menu__span Научные разработки
            div.clear
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")