doctype html
html
    head
        title ITECMA | Услуги
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header  
        include includes/popup-consultation
        include includes/black-bg
        include includes/guide

        div.services 
            div.breadcrumbs.breadcrumbs--company
                a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--services(href="#") Главная
                div.breadcrumbs__dash.breadcrumbs__dash--services -  
                a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--services.breadcrumbs__breadcrumb--current(href="#") Продукция
                div.clear 
            h1.services__header.services__header--products Услуги  
            //a.services__header-link.services__header-link--next(href="#")
            //    div.services__header-link-img-container.services__header-link-img-container--right
            //        img.services__header-link-img.services__header-link-img--right-active(src="assets/img/slider-arrow-small-right-active.svg" alt="Следующая")
            //        img.services__header-link-img.services__header-link-img--right-normal(src="assets/img/slider-arrow-small-right.svg" alt="Следующая")
            //a.services__header-link.services__header-link--prev(href="#")
            //    div.services__header-link-img-container.services__header-link-img-container--left
            //        img.services__header-link-img.services__header-link-img--left-active(src="assets/img/slider-arrow-small-left-active.svg" alt="Предыдущая")
            //        img.services__header-link-img.services__header-link-img--left-normal(src="assets/img/slider-arrow-small-left.svg" alt="Предыдущая")
            div.clear
            div.services__container
                div.services__container-slider
                    div
                        a.services__service.services__service--tech(href="#")
                            div.services__bg.services__bg--normal.services__bg--tech
                            div.services__bg.services__bg--active.services__bg--tech-active    
                            div.services__svg
                                include ../img/service-1.svg 
                            div.services__service-name Техническое оснащение
                            img.services__service-arrow.services__service-arrow--1(src="assets/img/slider-arrow-small-right-active.svg")
                        a.services__service.services__service--science(href="#")
                            div.services__bg.services__bg--normal.services__bg--science
                            div.services__bg.services__bg--active.services__bg--science-active  
                            div.services__svg
                                include ../img/service-2.svg
                            div.services__service-name Научные разработки
                            img.services__service-arrow.services__service-arrow--2(src="assets/img/slider-arrow-small-right-active.svg")
                        div.clear
                    div
                        a.services__service.services__service--tech(href="#")
                            div.services__bg.services__bg--normal.services__bg--tech
                            div.services__bg.services__bg--active.services__bg--tech-active   
                            div.services__svg
                                include ../img/service-1.svg 
                            div.services__service-name Техническое оснащение
                            img.services__service-arrow.services__service-arrow--1(src="assets/img/slider-arrow-small-right-active.svg")
                        a.services__service.services__service--science(href="#")
                            div.services__bg.services__bg--normal.services__bg--science
                            div.services__bg.services__bg--active.services__bg--science-active
                            div.services__svg
                                include ../img/service-2.svg
                            div.services__service-name Научные разработки
                            img.services__service-arrow.services__service-arrow--2(src="assets/img/slider-arrow-small-right-active.svg")
                        div.clear
            div.services__line
         
            include includes/video-fixed
            include includes/footer--services

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")