doctype html
html
    head
        title ITECMA | Вакансии
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")   
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body    

        include includes/header 
        include includes/popup-vacancy
        include includes/black-bg
        include includes/popup-consultation
        include includes/guide

        div.itecma
            div.itecma__column.itecma__column--left
                div.itecma__main-content 
                    div.company
                        div.breadcrumbs
                            a.breadcrumbs__breadcrumb(href="#") Главная
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb(href="#") О компании
                            div.breadcrumbs__dash - 
                            a.breadcrumbs__breadcrumb.breadcrumbs__breadcrumb--current(href="#") Вакансии
                            div.clear
                        h1.company__h1 О компании
                        h2.company__h2.company__h2--vacancy Вакансии
                        div.vacancy
                            div.vacancy__header Топ менеджер
                            p Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                            div.vacancy__hidden
                                p Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».                           
                            div.vacancy__bottom                                
                                a.green-link.green-link--vacancy(href="#")
                                    span.green-link__dash —
                                    | Подробнее о вакансии
                                div.green-button.green-button--vacancy
                                    div.green-button__container
                                        button.vacancy__button.green-button__button Откликнуться на вакансию
                                div.clear 
                        div.vacancy
                            div.vacancy__header Топ менеджер
                            p Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                            div.vacancy__hidden
                                p Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».                           
                            div.vacancy__bottom
                                a.green-link.green-link--vacancy(href="#")
                                    span.green-link__dash —
                                    | Подробнее о вакансии
                                div.green-button.green-button--vacancy
                                    div.green-button__container
                                        button.vacancy__button.green-button__button Откликнуться на вакансию
                                div.clear 
                        div.vacancy
                            div.vacancy__header Топ менеджер
                            p Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».
                            div.vacancy__hidden
                                p Некоммерческая организация без конкурса заключила контракт на 118 миллионов рублей с компанией, которая обслуживает подмосковные электрички. Об этом говорится в докладе антикоррупционной организации «Трансперенси интернешнл — Россия».                           
                            div.vacancy__bottom
                                a.green-link.green-link--vacancy(href="#")
                                    span.green-link__dash —
                                    | Подробнее о вакансии
                                div.green-button.green-button--vacancy
                                    div.green-button__container
                                        button.vacancy__button.green-button__button Откликнуться на вакансию
                                div.clear                 
                div.clear
            div.itecma__column.itecma__column--right
                div.right-menu.right-menu--company
                    ul.right-menu__ul
                        li.right-menu__li
                            a.right-menu__link(href="company.html") 
                                span.right-menu__span О нас
                        li.right-menu__li
                            a.right-menu__link.right-menu__link--active(href="#") 
                                span.right-menu__span Вакансии
                        li.right-menu__li
                            a.right-menu__link(href="team.html") 
                                span.right-menu__span Команда
                        li.right-menu__li
                            a.right-menu__link(href="company-gallery.html") 
                                span.right-menu__span Фотогалерея
                        li.right-menu__li
                            a.right-menu__link(href="history.html") 
                                span.right-menu__span История компании
            div.clear
          
            include includes/video-fixed
            include includes/footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js")
        script(src="assets/js/app.min.js")