.all-pages{
    padding: 38px 0 0 36px;
    &__h1{
        font-family: $OSBold;
        margin: 0;
        padding: 7px 0 12px 0;
    }
    &__link{
        color: rgb(0, 171, 255);
        display: table;
        padding: 6px 28px 6px 2px;
        text-decoration: none;
        &:hover{            
            color: rgba(255, 29, 100, 1);
        }
        &:hover .all-pages__link-span{
            border-bottom: 1px solid rgba(255, 29, 100, 0.2);
        }
    }
    &__link-span{
        border-bottom: 1px solid rgba(0, 171, 255, 0.2);
    }
}