.articles{
    min-height: 1100px;
    padding: 0 0 110px 0;
    width: 960px;
    &__breadcrumbs{
        color: #a8a8a8;
        font-size: 95%;
        padding: 34px 0 0;
    }
    &__h1{
        font-family: $OSBold;
        font-size: 205%;
        margin: 0;
        padding: 32px 0 41px 0;
    }
    &__tab{
        border-bottom: 1px solid #d2d2d2;
        border-left: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;
        cursor: pointer;
        float: left;
        font-family: $OSSemibold;
        transition: 0.25s;
        &:nth-last-child(2){
            border-right: 1px solid #d2d2d2;
        }
        &:nth-last-child(2):hover{
            border-right: 1px solid $green;
        }
        &:nth-last-child(2).articles__tab--active{
            border-right: 1px solid $green;
        }
        &--active{
            background: $green;
            border-bottom: 1px solid $green;
            border-left: 1px solid $green;
            border-top: 1px solid $green;
        }
        &:hover{
            background: $green;
            border-bottom: 1px solid $green;
            border-left: 1px solid $green;
            border-top: 1px solid $green;
        }
        &:hover + .articles__tab{
            border-left: 1px solid $green;
        }
        a{
            display: block;
            color: $black;
            padding: 15px 19px 14px 15px;
            text-decoration: none;
        }
    }
    &__line{
        background: #d2d2d2;
        height: 1px;
        margin: 30px 0 36px;
        width: 924px;
        &--bottom{
            margin: 29px 0 42px;
        }
    }  
    &__container{
        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
    &__article{
        border-top: 1px solid #d2d2d2;
        color: $black;
        display: block;
        float: left;
        margin: 0 30px 0 0;
        padding: 33px 0 30px 0;
        text-decoration: none;
        width: 289px;
        &--first{
            border-top: none;
            padding: 0 0 30px 0;
        }
        &:hover .articles__article-header{
            border-bottom: 1px solid $green;
        }
        &:hover .articles__article-img-plate{
            background: rgba(31, 204, 163, 0.25);
        }
        &:nth-child(1){
            border-top: none;
            padding: 0 0 30px;
        }
        &:nth-child(2){
            border-top: none;
            padding: 0 0 30px;
        }
        &:nth-child(3){
            border-top: none;
            padding: 0 0 30px;
        }
    }
    &__article-img-container{
        margin: 0 0 30px 0;
        position: relative;
    }
    &__article-img-plate{
        background: rgba(31, 204, 163, 0);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: 0.25s;        
        width: 100%;
    }
    &__article-img{
        display: block;
        width: 100%;
    }
    &__article-date{
        color: #a8a8a8;
        font-family: $GR;
        margin: -7px 0 0 0;
        padding: 0px 0 11px;
    }
    &__article-header{ 
        display: inline;
        font-family: $OSBold;
        font-size: 100%;  
        line-height: 155%;
        margin: 0;
    }
    &__article-text{
        font-family: $GR;
        font-size: 120%;
        line-height: 135%;
        padding: 17px 0 0;
    }
    &__options{
        margin: 27px 0 0;
        width: 925px;
    }
    &__sort-tabs{
        float: left;
        padding: 10px 0 0 0;
    }
    &__sort-tab{
        color: #a8a8a8;
        float: left;
        font-size: 85%;
        margin: 0 23px 0 0;
        position: relative;
        text-decoration: none;
        &--active{
            color: #505050;
            cursor: default;
        }
        &:hover:after{
            width: 100%;
        }
        &:after{
            background: $green;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }

    }
}

.articles-menu{
    &__block{
        &--news{
            padding: 0 0 34px 0;
        }
    }
    &__block-header{
        color: $black;
        font-family: $OSBold;
        font-size: 155%;
        margin: 0;
        padding: 0 0 31px 0;
    }    
    &__item{
        display: block;
        margin: 0 0 19px 0;
        text-decoration: none;
    }
    &__text{
        color: $black;
        display: inline;
        font-family: $OSBold;
        line-height: 160%;
        &:hover{
            border-bottom: 1px solid $green;
        }
    }
    &__date{
        font-family: $GR;
        color: #959595;
        padding: 0px 0 11px 0;
    }
}

.articles__tab--articles.articles__tab--active{
    border-bottom: 1px solid $green;
    border-left: 1px solid $green;
    border-top: 1px solid $green;
}

.articles__tab--recored.articles__tab--active{
    border-bottom: 1px solid $green;
    border-right: 1px solid $green;
    border-top: 1px solid $green;
}

.articles__sort-tab--active:hover:after{
    width: 0;
}