.binders{
    background: #fff;
    padding: 4px 0 90px 0;
    min-width: 1247px;
    &__wrapper{
        margin: 0 auto;
        width: 1242px;
    }
    &__header{
        color: $black;
        font-family: $OSBold;        
        font-size: 205%;
        margin: 0;
        padding: 21px 0 38px 0;
    }
    &__back{
        left: 18px;
        position: absolute;
        top: 14px;
        z-index: 2;
        &--white{
            opacity: 0;
            transition: 0.25s;
        }
        &--green{
            opacity: 1;
            transition: 0.25s;
        }
    }
    &__nav{
        float: right;
    }
    &__nav-link{
        border: 1px solid #d2d2d2;
        display: block;
        float: left;
        padding: 24px 30px 36px 29px;
        position: relative;
        text-decoration: none;  
        transition: 0.25s;
        &:hover{
            background: $green;
            border: 1px solid $green;
        }
        &--left{
            right: -1px;
            &:hover .binders__nav-link-img--left-hover{
                left: 15px;
                opacity: 1;
            }
            &:hover .binders__nav-link-img--left-normal{
                opacity: 0;
            }
            &:hover + .binders__nav-link--right{
                border-left: 1px solid $green;
            }
        }
        &--right{
            &:hover .binders__nav-link-img--right-hover{
                opacity: 1;
                right: 15px;
            }
            &:hover .binders__nav-link-img--right-normal{
                opacity: 0;
            }
        }
    }
    &__nav-link-img{        
        position: absolute;
        top: 24px;
        transition: 0.25s;
        &--left-normal{
            height: 11.5px;
            left: 25px;
            opacity: 1;
        }
        &--left-hover{
            height: 11.5px;
            left: 25px;
            opacity: 0;
        }
        &--right-normal{
            height: 11px;
            right: 25px;
            opacity: 1;
        }
        &--right-hover{
            height: 11px;
            right: 25px;
            opacity: 0;
        }
    }
    &__table{
        display: table;
        margin: 0 auto;
        width: 1247px;
    }
    &__table-row{
        background: #f6f6f6;
        color: $black;
        display: table;
        margin: 0 0 5px 0;
        width: 100%;
        text-decoration: none;        
        &:hover{
            background: $green;
        }
        &--first{
            background: #fff;
            border-top: 1px solid #d2d2d2;
            margin: 0;
            min-width: 1242px;
            &:hover{
                background: #fff;
            }
        }
        &--header{
            background: #fff;
            padding: 14px 0 0 0;
            &:hover{
                background: #fff;
            }
        }
    }
    &__table-header{
        float: right;
        font-family: $OSBold;
        font-size: 80%;
        line-height: 105%;
        text-align: center;
        &--1{
            margin: 13px 0 4px 0;
            width: 162px;
        }
        &--2{
            margin: 0 0 4px 0;
            width: 224px;
        }
    }
    &__table-cell{
        display: table-cell;
        height: 54px;
        vertical-align: middle;
        &--header{
            height: 51px;
            line-height: 110%;
        }
    }
    &__link{
        border-bottom: 1px solid $green;
        display: table;
    }
    &__col{
        display: table;
        float: left;
        font-family: $GR;
        vertical-align: middle;
        width: 105px;
        &--number{
            font-size: 120%;            
            padding: 0 0 0 5px;
            text-align: right;            
            width: 17px;
        }
        &--numberheader{
            text-align: left;
        }
        &--header{
            color: #a8a8a8;
            font-family: OpenSans, sans-serif;
            font-size: 75%;
        }
        &--link{
            padding: 0 10px 0 10px;
            width: 64px;
        }
        &--operation{
            text-align: center;
            width: 96px;
        }
        &--form{
            text-align: center;
            width: 91px;
        }
        &--solid{
            text-align: center;
            width: 114px;
        }
        &--period{
            line-height: 120%;
            padding: 0 14px 0;
            text-align: center;
            width: 95px;
        }
        &--viscosity{
            text-align: center;
            width: 125px;
        }
        &--components{
            text-align: center;
            width: 100px;  
        }
        &--glass{
            position: relative;
            text-align: center;
            width: 114px;
            &:before{
                background: #cbcbcb;
                content: '';
                height: 100%;
                right: 0;
                position: absolute;
                top: 0;
                width: 1px;
            }
            &:after{
                background: #cbcbcb;
                content: '';
                height: 5px;
                right: 0;
                position: absolute;
                top: -5px;
                width: 1px;
            }
        }
        &--strength-limit{
            text-align: center;
            width: 126px;
        }
        &--module-1{
            text-align: center;
            position: relative;
            width: 88px;
            &:before{
                background: #cbcbcb;
                content: '';
                height: 100%;
                right: 0;
                position: absolute;
                top: 0;
                width: 1px;
            }
            &:after{
                background: #cbcbcb;
                content: '';
                height: 5px;
                right: 0;
                position: absolute;
                top: -5px;
                width: 1px;
            }
        }
        &--module-2{
            text-align: center;
            width: 82px;
        }
        &--module-3{
            text-align: center;
            width: 70px;
        }
    }
}

.binders__table-row--first .binders__col--glass:after{
    background: none;
}

.binders__table-row--first .binders__col--module-1:after{
    background: none;
}