.card{
    background: #fff;
    min-width: 1250px;
    padding: 0 0 106px 0;
    &__wrapper{
        margin: 0 auto;
        width: 1242px;
    }
    &__menu{
        background: #f6f6f6;
        margin: 25px 0 0 0;
        position: relative;
    }
    &__menu .controls{
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 84px;
    }
    &__menu-header{        
        background: #1e1e1e;
        cursor: pointer;
        display: table;
        float: left;
        padding: 16px 23px 17px 13px;
        position: relative;
        transition: 0.25s;
        &:hover{
            background: $green;
        }
        &:hover .card__menu-header-img--normal{
            opacity: 0;
        }
        &:hover .card__menu-header-img--hover{
            opacity: 1;
        }
    }
    &__menu-header-img{
        display: block;
        left: 13px;
        position: absolute;
        top: 16px;
        transition: 0.25s;
        &--normal{
            opacity: 1;
        }
        &--hover{
            opacity: 0;
        }
    }
    &__menu-header-text{
        color: #fff;
        font-family: $OSBold;
        font-size: 90%;
        line-height: 140%;
        margin: -5px 0 0 46px; 
    }
    &__menu-header-text-span{
        border-bottom: 1px solid #fff;
    }
    &__menu-slider{
        float: left;
        min-height: 30px;
        margin: 21px 0 0 29px;
        width: 895px;
    }    
    &__menu-slider-link{
        color: $black;
        display: table;
        font-family: $GR;
        font-size: 115%;
        height: 22px;
        margin: 0 38px 0 0 !important;
        position: relative;
        text-decoration: none;
        width: auto !important;        
        &:after{
            background: $green;
            bottom: -2px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.25s;
            width: 0;
        }
        &:hover:after{
            width: 100%;
        }
        &--active{
            color: $green;
            &:hover:after{
                width: 0;
            }
        }
    }
    &__slider-arrow{
        cursor: pointer;
        height: 12px;
        position:absolute;
        width: 7px;
        &--left{
            background: url('../img/slider-arrow-small-left.svg') no-repeat 19px 28px;
            padding: 28px 15px 28px 19px;
            left: 0;
        }
        &--right{
            background: url('../img/slider-arrow-small-right.svg') no-repeat 15px 28px;
            padding: 28px 19px 28px 15px;
            right: 0;
        }
    }
    &__slider-arrow-image{
        display: block;
        width: 7px;
    }

    &__slider-container{
        float: left;
        position: relative;
        width: 606px;
        &:hover .card__slider-plus-line{
            background: $green;
        }
    }
    &__slider-plus-container{
        background: #fff;
        border-radius: 25px;
        bottom: 32px;
        cursor: pointer;
        height: 35px;
        left: 28px;
        position: absolute;
        width: 35px;
        z-index: 2;
    }
    &__slider-plus-line{        
        background: #1e1e1e;
        position: absolute;
        transition: 0.25s;
        &--1{
            height: 12px;
            left: 17px;
            top: 12px;
            width: 2px;
        }
        &--2{
            height: 2px;
            left: 12px;
            top: 17px;
            width: 12px;
        }
    }
    &__main-slider-arrow{
        background: #fff;
        position: absolute;
        top: 0;
        &--right{
            padding: 25px 27px 26px 23px;
            right: 0;
        }
        &--left{
            padding: 25px 31px 26px 27px;
            right: 57px;
        }
    }
    &__slide-img{
        display: block;
        width: 100%;
    }
    &__description-container{
        float: left;
        margin: 0 0 0 30px;
        width: 503px;
        &--no-image{
            margin: 0 0 0 0;
        }
    }
    &__description-h3{
        font-family: $OSBold;
        font-size: 145%;
        margin: -7px 0 21px 0;
        &--no-image{
            margin: -7px 0 26px 0;
        }
    }
    p{
        font-family: $GR;
        font-size: 115%;
        line-height: 165%;
        margin: 0 0 9px 0;
    }

    &__no-image-container{
        margin: 0 0 0 104px;
        width: 923px;
    }

    &__social{
        float: right;
        margin: -14px -4px 0 0;
        &--no-image{
            margin: -14px 93px 0 0;
        }
    }

    &__social-icon{
        display: block;
        padding: 14px;
        position: relative;
        &--twitter{
            height: 18px;
            margin: 0 0 19px 3px;
            width: 22px;
            &:hover #twitter-normal{
                fill: $green;
                opacity: 1;
            }
        }
        &--facebook{
            height: 22px;
            margin: -2px 0 17px 7px;
            width: 14px;
            &:hover #facebook-normal{
                fill: $green;
                opacity: 1;
            }
        }
        &--vk{
            height: 16px;
            margin: 2px 6px 22px 0;
            width: 26px;
            &:hover #vk-normal{
                fill: $green;
                opacity: 1;
            }
        }
        &--instagram{
            height: 16px;
            margin: 0 0 0 4px;
            width: 26px;
            &:hover #instagram-normal{
                fill: $green;
                opacity: 1;
            }
        }
    }




    &__h1{
        color: $black;
        font-family: $OSBold;
        font-size: 205%;
        line-height: 130%;
        margin: 0;
        padding: 52px 0 52px 0;
        &--no-image{
            padding: 52px 0 71px 0;
        }
    }
    &__line{
        background: #d2d2d2;
        height: 1px;
        margin: 54px 0 50px 0;
        width: 100%;
    }
    &__tab{
        border-bottom: 1px solid #d2d2d2;
        border-left: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;
        cursor: pointer;
        float: left;
        font-family: $OSSemibold;
        padding: 15px 24px 14px 21px;
        transition: 0.2s;
        &--gallery{
            border-right: 1px solid #d2d2d2;
            &:hover{
                border-right: 1px solid $green;
            }
        }
        &--scope{
            &:hover + .card__tab--downloads{
                border-left: 1px solid $green;
            }
        }
        &--downloads{
            &:hover + .card__tab--gallery{
                border-left: 1px solid $green;
            }
        }
        &--description{
            &:hover + .card__tab--tech{
                border-left: 1px solid $green;
            }
        }
        &--tech{
            &:hover + .card__tab--scope{
                border-left: 1px solid $green;
            }
        }
        &--active{
            background: $green;
            border-bottom: 1px solid $green;
            border-left: 1px solid $green;
            border-top: 1px solid $green;
        }
        &--active.card__tab--description + .card__tab--tech{
            border-left: 1px solid $green;
        }
        &--active.card__tab--tech + .card__tab--scope{
            border-left: 1px solid $green;
        }
        &--active.card__tab--scope + .card__tab--downloads{
            border-left: 1px solid $green;
        }
        &--active.card__tab--downloads + .card__tab--gallery{
            border-left: 1px solid $green;
        }
        &--active.card__tab--gallery{
            border-right: 1px solid $green;
        }
        &:hover{
            background: $green;
            border-bottom: 1px solid $green;
            border-left: 1px solid $green;
            border-top: 1px solid $green;
        }
    }
    &__info-block-h2{
        font-family: $OSBold;
        font-size: 145%;
        margin: 0;
        padding: 49px 0 18px 0;
        &--tech{
            padding: 49px 0 38px 0;
        }
        &--downloads{
            padding: 49px 0 38px 0;
        }
        &--gallery{
            padding: 49px 0 28px 0;
        }
    }
    &__info{
        min-height: 650px;
    }
    &__info-block{
        display: none;
        &--gallery{
            margin: 0 0 71px 0;
        }
        &--scope{
            /*min-height: 500px;*/
        }
    }
    &__info-block-container{
        margin: 0 auto;
        width: 1040px;
        table{
            border: none !important; 
            font-family: GentiumRegular,sans-serif;
            font-size:110%;
            width: 100%;
            tr{
                background:#f6f6f6;
            }
            td{
                border-bottom: 6px solid #fff !important;
                border-top: none !important;
                border-left: none !important;
                border-right: none !important;
                padding: 10px 9px 12px 9px;
                max-width: 300px;
            }
            td:first-child{
                padding-left: 18px;
            }
            td:last-child{
                padding-right: 18px;
            }
        }
        &--scope{
            padding: 25px 0 62px 0;
        }
        p{
            font-family: $GR;
            font-size: 120%;
            line-height: 160%;
            margin: 0;
            padding: 30px 0 0 0;
            max-width: 1018px;
            &:first-child{
                padding: 0;
            }
        }
        ul{
            line-height: 185%;
            list-style: none;
            margin: 3px 0 0 0;
            padding: 0 0 0 38px;
            li{
                position: relative;
                &:before{
                    background: #1fcca3;
                    border-radius: 10px;
                    content: '';
                    height: 5px;
                    left: -17px;
                    position: absolute;
                    top: 13px;
                    width: 5px;
                }
            }
        }
    }
    &__info-block-tech-table{
        padding: 0 0 54px 0;
    }
    &__info-block-tech-h4{
        font-family: $OSSemibold;
        font-size: 115%;
        margin: 0;
        padding: 0 0 20px 0;
    }
    &__info-block-tech-row{
        background: #f6f6f6;
        display: table;
        font-family: $GR;
        font-size: 120%;
        padding: 12px 0;
        margin: 0 0 8px 0;
    }
    &__info-block-tech-col{
        float: left;
        &--1{
            padding: 0 0 0 13px;
            width: 743px;
        }
        &--2{
            width: 200px;
        }
        &--3{
            padding: 0 17px 0 0;
            text-align: right;
            width: 58px;
        }
    }
    &__info-block-tech-ul{
        font-family: $GR;        
        font-size: 120%;
        list-style: none;
        margin: -6px 0 63px 0;
        padding: 0;
        width: 1030px;
    }
    &__info-block-tech-li{
        background: url('../img/tech-li.png') no-repeat 1px 12px;
        line-height: 160%;
        margin: 0 0 20px 0;
        padding: 0 0 0 20px;
    }
}

.card__tab--description.card__tab--active{
    border-left: 1px solid $green;
}

#twitter-normal{
    opacity: .2;
    transition: 0.2s;
}

#facebook-normal{
    opacity: .2;
    transition: 0.2s;
}

#vk-normal{
    opacity: .2;
    transition: 0.2s;
}

#instagram-normal{
    opacity: .2;
    transition: 0.2s;
}

.card__info b{
    font-weight: normal;
}

.card__info-block-container ul li{
    font-family: GentiumRegular,sans-serif;
    font-size: 120%;
    line-height: 160%;
}