.company{
    padding: 0 0 130px 0;
    &__h1{
        font-family: OpenSansBold, sans-serif;
        font-size: 205%;
        margin: 0;
        padding: 25px 0 0 0;
    }
    &__h2{
        font-family: OpenSansBold, sans-serif;
        font-size: 145%;
        margin: 0;
        padding: 56px 0 14px 0;
        &--history{
            padding: 56px 0 36px 0;
        }
    }
    p{
        font-family: $GR;
        font-size: 120%;
        line-height: 160%;
        margin: 0 0 31px 0;
    }
}