.downloads{
    background: #fff;
    padding: 0 0 63px 0;
    min-width: 1242px;
    &__wrapper{
        margin: 0 auto;
        width: 1242px;
    }
    &__h1{
        float: left;
        font-family: $OSBold;
        font-size: 205%;
        margin: 25px 0 0 0;
    }
    &__search-container{
        float: right;
        position: relative;
        margin: 22px 0 0 0;
        &--articles{
            margin: 0;
        }
        &:hover .downloads__search-img--hover{
            opacity: 1;
        }
        &:hover .downloads__search-img--normal{
            opacity: 0;
        }        
    }
    &__search{
        border: 1px solid #d2d2d2;
        display: block;
        font-size: 105%;
        outline: none;
        padding: 10px 12px 8px 12px;
        width: 324px;
        &:focus ~ .downloads__search-img--hover{
            opacity: 1;
        }
        &:focus ~ .downloads__search-img--normal{
            opacity: 0;
        }
    }
    &__search-img{
        position: absolute;
        right: 11px;
        top: 12px;
        transition: 0.2s;
        &--hover{
            opacity: 0;
        }
        &--normal{
            opacity: 1;
        }
    }
    &__h2{
        font-family: $OSBold;
        font-size: 145%;
        margin: 0;
        padding: 34px 0 31px 0;
    }
    &__line{
        background: #d2d2d2;
        height: 1px;
        margin: 27px 0 0px 0;
        width: 100%;
    }
    &__select-container{
        display: block;
        float: right;
        margin: 22px 0 0 0;
    }
    &__select-input{
        border: 1px solid #d2d2d2;
        color: $black;
        cursor: pointer;
        font-family: $GR;
        font-size: 100%;
        padding: 9px 11px 9px 13px;
    }
    &__categories{
        padding: 0 0 31px 0;
    }
    &__category{
        color: #a8a8a8;
        cursor: pointer;
        float: left;
        margin: 0 39px 0 0;
        padding: 7px 0px 7px 0;
        position: relative;
        text-decoration: none;
        &:after{
            background: $green;
            bottom: 6px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
        &--active{
            color: $green;
            cursor: default;
        }             
        &:hover:after{
            width: 100%;
        } 
    }
    &__download-container{
        margin: 0 0 32px 0;
    }
    &__download{
        color: $black;
        border: 1px solid #d2d2d2;
        display: table;
        float: left;
        margin: 0 30px 32px 0;
        position: relative;
        text-decoration: none;
        &:hover .downloads__hover{
            opacity: 1;
        }
    }
    &__download-block{
        
    }
    &__download-info{
        float: left;
        width: 225px;
    }
    &__download-img{
        display: block;
        float: left;
        padding: 7px 38px 0 0;
    }
    &__table-cell{
        display: table-cell;
        height: 135px;
        padding: 0 21px 0 28px;
        vertical-align: middle;
        width: 342px;
    }
    &__download-name{
        font-family: $OSBold;
        line-height: 160%;
        margin: -1px 0 0 0;
    }
    &__download-size{
        color: #a8a8a8;
        font-family: $GR;
        padding: 1px 0 0 0;
    }
    &__hover{
        background: $green;
        display: table;
        height: 137px;
        left: -1px;
        opacity: 0;
        position: absolute;
        top: -1px;
        transition: 0.2s;
        width: 393px;
    }
    &__hover-info{
        display: table-cell;
        height: 120px;
        vertical-align: middle;
    }
    &__hover-info-container{
        display: table;
        margin: 0 auto;
    }
    &__hover-img{
        display: block;
        float: left;
        margin: 0 0 0 -33px;
    }
    &__hover-text{
        border-bottom: 1px solid #fff;
        color: #fff;
        float: left;
        font-family: $OSBold;
        margin: 17px 0 0px 21px;
    }
}

.downloads__category--active:hover:after{
    width: 0;
}

.downloads__download:nth-child(3n){
    margin: 0 0 32px 0;
}

.downloads__search::-webkit-input-placeholder{
    color: $black;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.downloads__search:-moz-placeholder{
    color: $black;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.downloads__search:-ms-input-placeholder{
    color: $black; 
    font-family: GentiumRegular, serif;
    font-size: 110%;
}