.first-screen{
    &__info{
        height: 671px;
    }
    &__col1{
        color: #fff;
        float: left;
        padding: 133px 0 0 0;
        width: 500px;
    }
    &__col2{
        float: right;
        padding: 68px 0 0 0;
        position: relative;
        width: 606px;
    }
    &__header{
        font-family: OpenSansBold, sans-serif;
        font-size: 205%;
        line-height: 140%;
        margin: 0 0 33px 0;
    }
    p{
        font-family: GentiumRegular, serif;
        font-size: 120%;
        line-height: 165%;
        margin: 0;
        padding: 0px 0 12px 0;
    }
    &__link{
        margin: 42px 0 0 0;
        text-decoration: none;
    }
}

.index-footer-line{
    background: rgba(255,255,255,0.1);
    height: 1px;
    margin: 80px auto 0px;
    width: 1242px;
}