.news{
    min-height: 1100px;
    padding: 0 0 137px 0;
    &__breadcrumbs{
        color: #a8a8a8;
        padding: 34px 0 0 0;
        font-size: 95%;
    }
    &__h1{
        font-family: $OSBold;
        font-size: 205%;
        line-height: 140%;
        margin: 0;
        padding: 22px 0 0;
    }
    &__date{
        color: #a8a8a8;
        font-family: $GR;
        font-size: 125%;
        padding: 32px 0 54px 0;
    }
    &__content{
        margin: 0 auto;
        width: 712px;
        img{
            max-width: 100%;
        }
    }
    &__social{
        padding: 29px 0 24px 0;
    }
    p{
        font-family: $GR;
        font-size: 120%;
        line-height: 145%;
        margin: 0;
        padding: 0 0 27px 0;
    }
}

.right-menu{
    &__news{
        display: block;
        padding: 0 29px 15px 29px;
        text-decoration: none;
        width: 266px;
        &:hover .right-menu__news-link{
            border-bottom: 1px solid $green;
        }
    }
    &__news-header{
        font-family: $OSBold;
        font-size: 145%;
        padding: 95px 0 22px 29px;
    }
    &__news-date{
        color: #9e9e9e;
        font-family: $GR;
        padding: 0 0 10px 0;
    }
    &__news-link{
        border-bottom: 1px solid rgba(31, 204, 163, 0);
        color: #1e1e1e;
        font-family: $OSBold;
        line-height: 160%;
        text-decoration: none;
    }
    &__news-link-container{
        margin: -7px 0 0 0;
        width: 291px;
    }
}

.news__social-icon{
    display: block;
    float: left;
    padding: 14px;
    position: relative;
    &--twitter:hover #twitter-normal{
        fill: $green;
        opacity: 1;
    }
    &--facebook:hover #facebook-normal{
        fill: $green;
        opacity: 1;
    }
    &--vk:hover #vk-normal{
        fill: $green;
        opacity: 1;
    }
    &--instagram:hover #instagram-normal{
        fill: $green;
        opacity: 1;
    }
}

.news__social-icon-image{
    position: absolute;
}

.news__social-icon--twitter{
    height: 18px;
    width: 22px;
    margin: 0 35px 0 -14px;
}

.news__social-icon-image--twitter{
    opacity: .2;
    transition: .2s;
}

.news__social-icon-image--twitter-hover{
    opacity: 0;
    transition: .2s;
}

.news__social-icon--twitter:hover .news__social-icon-image--twitter-hover{
    opacity: 1;
}

.news__social-icon--twitter:hover .news__social-icon-image--twitter{
    opacity: 0;
}

.news__social-icon--facebook{
    height: 22px;
    margin: -2px 42px 0 0;
    width: 14px;
}

.news__social-icon-image--facebook{
    opacity: .2;
    transition: .2s;
}

.news__social-icon-image--facebook-hover{
    opacity: 0;
    transition: .2s;
}

.news__social-icon--facebook:hover .news__social-icon-image--facebook-hover{
    opacity: 1;
}

.news__social-icon--facebook:hover .news__social-icon-image--facebook{
    opacity: 0;
}


.news__social-icon--vk{
    height: 16px;
    margin: -1px 43px 0 0;
    width: 26px;
}

.news__social-icon-image--vk{
    opacity: .2;
    transition: .2s;
}

.news__social-icon-image--vk-hover{
    opacity: 0;
    transition: .2s;
}

.news__social-icon--vk:hover .news__social-icon-image--vk-hover{
    opacity: 1;
}

.news__social-icon--vk:hover .news__social-icon-image--vk{
    opacity: 0;
}


.news__social-icon--instagram{
    height: 16px;
    margin: -2px 0 0 0;    
    width: 26px;
}

.news__social-icon-image--instagram-normal{
    opacity: .2;
    transition: .2s;
}

.news__social-icon-image--instagram-hover{
    opacity: 0;
    transition: .2s;
}

.news__social-icon--instagram:hover .news__social-icon-image--instagram-hover{
    opacity: 1;
}

.news__social-icon--instagramk:hover .news__social-icon-image--instagram{
    opacity: 0;
}