.product{
    &__header{
        font-family: $OSBold;
        font-size: 205%;
        margin: 0;
        padding: 25px 0 41px 0;
    }
    &__anchors-anchor{
        border-bottom: 1px solid #d2d2d2;
        border-left: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;
        cursor: pointer;
        font-family: $OSBold;
        float: left;
        padding: 16px 17px 15px 17px;
        transition: 0.2s;
        &--description{
            &:hover{
                border-bottom: 1px solid $green;
                border-left: 1px solid $green;
                border-top: 1px solid $green;
                color: $green;
            }
            &:hover + .product__anchors-anchor--types{
                border-left: 1px solid $green;
            }
        }
        &--area{
            border-right: 1px solid #d2d2d2;
            &:hover{
                border-bottom: 1px solid $green;
                border-left: 1px solid $green;
                border-right: 1px solid $green;
                border-top: 1px solid $green;
                color: $green;
            }
        }
        &--types{
            &:hover{
                border-bottom: 1px solid $green;
                border-left: 1px solid $green;
                border-top: 1px solid $green;
                color: $green;
            }
            &:hover + .product__anchors-anchor--area{
                border-left: 1px solid $green;
            }
        }
        &--selected{
            background: $green;
            border-bottom: 1px solid $green;
            border-left: 1px solid $green;
            border-top: 1px solid $green;
            cursor: default;
            &:hover{
                color: $black;
            }
        }
        &--selected.product__anchors-anchor--description + .product__anchors-anchor--types{
            border-left: 1px solid $green;
        }
        &--selected.product__anchors-anchor--types + .product__anchors-anchor--area{
            border-left: 1px solid $green;
        }
        &--selected.product__anchors-anchor--area{
            border-right: 1px solid $green;
        }
    }
    &__header-h2{
        font-family: $OSBold;
        font-size: 145%;
        margin: 0;
        padding: 64px 0 0 0;
        &--types{
            padding: 38px 0 18px 0;
        }
        &--slider{
            padding: 42px 0 41px 0;
        }
        &--service{
            padding: 9px 0 19px 0;
        }
    }
    &__header-h3{
        font-family: $OSBold;
        font-size: 115%;
        margin: 19px 0 13px 0;
    }
    &__list-left{
        color: $green;
        float: left;
        font-family: $OSSemibold;
        font-size: 125%;
        width: 33px;
    }
    &__list-right{
        float: left;
        font-family: $GR;
        font-size: 115%;
        width: 875px;
    }
    &__list-item{
        margin: 0 0 9px 0px;
    }
    p{
        font-family: $GR;
        font-size: 120%;
        line-height: 160%;
        margin: 0;
        padding: 18px 0 0 0;
    }
    &__description-hidden{
        display: none;
    }
    &__read-more{
        padding: 16px 0 0;
        &-line{
            background: #d2d2d2;
            float: left;
            height: 1px;
            margin: 15px 0 0 0;
            width: 753px;
        }
        &-button{
            cursor: pointer;
            float: right;
            margin: -4px 7px 0 0;
            padding: 7px;
            &-text{
                color: $green;
                font-family: $OSBold;
                float: left;
                margin: 0 10px 0 0;
            }
            &-select{
                display: block;
                float: right;
                margin: 9px 0 0 0;
                transition: 0.25s;
                transition-delay: 0.4s;
                width: 12px;
            }
            &--active .product__read-more-button-select{
                margin: 7px 0 0;
                transform: rotate(180deg);
            }
        }
        &--fabric{
            padding: 42px 0 0;
        }
    }
    &__table{
        &-h2{
            color: $green;
            font-family: $OSBold;
            font-size: 125%;
            padding: 21px 0 18px 0;
        }
        &-header{
            color: #a8a8a8;
            font-size: 95%;
            padding: 0 0 9px 0;
            &-name{
                float: left;
                width: 394px;
            }
            &-purpose{
                float: left;
            }
        }
    }
    &__row{
        background: #f6f6f6;
        display: block;
        margin: 0 0 5px 0px;
        padding: 14px 17px 16px 15px;
        text-decoration: none;
        transition: 0.2s;
        &:hover{
            background: $green;
        }
        &:hover .product__row-link-span{
            border-bottom: 1px solid $green;
        }
        &-link{
            float: left;
            font-family: $GR;
            font-size: 115%;
            width: 379px;
            &-span{
                color: $black;
                border-bottom: 1px solid $green;
                display: table;
                line-height: 130%;
                transition: 0.2s;
            }            
        }
        &-purpose{
            color: $black;
            float: left;
            font-family: $GR;
            font-size: 115%;
            width: 400px;
        }
        &-arrow{
            display: block;
            float: right;
            margin: 9px 0 0 0;
        }
    }
    &__line{
        background: #d2d2d2;
        height: 1px;
        margin: 116px 0 0 0;
        width: 100%;
        &--service{
            margin: 72px 0 0 0;
        }
        &--fabric{
            margin: 98px 0 12px;
        }
    }
}


.product ul li:before{
    background: #1fcca3;
    border-radius: 10px;
    content: '';
    height: 5px;
    left: -17px;
    position: absolute;
    top: 13px;
    width: 5px;
}

.product ul li{
    font-family: GentiumRegular,sans-serif;
    font-size: 120%;
    line-height: 160%;
    position:relative
}

.product ul{
    list-style: none;
}

.product h2{
    font-family: OpenSansBold,sans-serif;
    font-size: 145%;
    margin: 42px 0 0 0;
}