.search{
    background: #fff;
    min-width: 1242px;
    padding: 64px 0 115px;
    &__wrapper{
        margin: 0 auto;
        width: 1242px;
    }
    &__h1{
        color: #1e1e1e;
        font-family: $OSBold;
        font-size: 205%;
        margin: 0;
        padding: 0 0 55px 0;
    }
    &__input{
        background: #f0f0f0;
        border: none;
        font-size: 105%;
        outline: none;
        padding: 19px 0 18px 19px;
        width: 651px;
        &:hover ~ .search__input-icon--hover{
            opacity: 1;
        }
        &:hover ~ .search__input-icon--normal{
            opacity: 0;
        } 
        &:focus ~ .search__input-icon--hover{
            opacity: 1;
        }
        &:focus ~ .search__input-icon--normal{
            opacity: 0;
        }
    }
    &__input-container{
        display: table;
        margin: 0 auto;
        position: relative;
    }
    &__input-icon-container{

    }
    &__input-icon{
        position: absolute;
        right: 17px;
        top: 18px;
        transition: 0.2s;
        &--normal{
            opacity: 1;
        }
        &--hover{
            opacity: 0;
        }
    }
    &__items-container{        
        margin: 47px auto 0;
        width: 1031px;
    }
    &__item{
        border-bottom: 1px solid #d2d2d2;
        margin: 0 0 28px 0;
        padding: 0 0 24px 0;
    }
    &__item-date{
        color: #a8a8a8;
        font-family: $GR;
        font-size: 100%;
        padding: 0 0 11px 0;
    }
    &__item-link{
        color: $black;
        display: block;
        font-family: $OSBold;
        line-height: 160%;
        padding: 0 0 14px 0;
        text-decoration: none;
        &:hover .search__item-link-underline-span{
            background-size: 10em;
            border-bottom: 1px solid rgba(255,255,255,0);
        }
    }
    &__item-link-underline-span{
        background-image: linear-gradient($green, $green);
        background-position: -8px;
        background-repeat: repeat-x;
        background-size: 0em;
        border-bottom: 1px solid $green;
        transition: 0.40s ease;
    }
}

.search__input::-webkit-input-placeholder{
    color: $black;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.search__input:-moz-placeholder{
    color: $black;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.search__input:-ms-input-placeholder{
    color: $black; 
    font-family: GentiumRegular, serif;
    font-size: 110%;
}