.services{
    margin: 0 auto 340px;
    width: 1244px;
    &__header{
        color: #fff;
        float: left;
        font-family: $OSBold;
        font-size: 205%;
        margin: 0;
        padding: 33px 0 49px 0;
        &--products{
            padding: 25px 0 22px 0;
        }
    }
    &__bg{
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: .25s;
        width: 100%;
        &--normal{
            opacity: 1;
            z-index: 1;
        }
        &--active{
            opacity: 0;
            z-index: 2;
        }
        &--tech{
            background-image: url('../img/service--tech.png');
        }
        &--tech-active{
            background-image: url('../img/service--tech--active.png');
        }
        &--science{
            background-image: url('../img/service--science.png');
        }
        &--science-active{
            background-image: url('../img/service--science--active.png');
        }
    }
    &__container{
        position: relative;
    }
    &__slider-nav{
        background: #fff;
        cursor: pointer;
        position: absolute;
        top: -57px;
        transition: .2s;
        height: 56px;
        width: 55px;
        z-index: 1;
        &--prev{
            right: 57px;
            &:hover .services__slider-nav-img--prev-normal{
                opacity: 0;
            }
            &:hover .services__slider-nav-img--prev-active{
                opacity: 1;
            }
            &:hover .services__slider-nav-img--prev{
                left: 11px;
            }
        }
        &--next{
            right: 1px;
            &:hover .services__slider-nav-img--next-normal{
                opacity: 0;
            }
            &:hover .services__slider-nav-img--next-active{
                opacity: 1;
            }
            &:hover .services__slider-nav-img--next{
                right: 11px;
            }
        }
        &:hover{
            background: $green;
        }
    }
    &__slider-nav-img{        
        position: absolute;
        top: 23px;
        transition: 0.2s;
        &--prev{
            left: 23px;
        }
        &--next{
            right: 23px;
        }
        &--prev-active{
            background: url('../img/slider-arrow-small-left-active.svg') no-repeat;
            height: 11px;
            opacity: 0;
            width: 34px;
        }
        &--next-active{
            background: url('../img/slider-arrow-small-right-active.svg') no-repeat;
            height: 11px;
            opacity: 0;
            width: 34px;
        }
        &--prev-normal{
            background: url('../img/slider-arrow-small-left.svg') no-repeat;
            height: 11px;
            opacity: 1;
            width: 7px;
        }
        &--next-normal{
            background: url('../img/slider-arrow-small-right.svg') no-repeat;
            height: 11px;
            width: 7px;
        }
    }
    &__header-link{
        background: #fff;
        float: right;
        height: 55px; 
        position: relative;
        text-decoration: none;
        transition: 0.2s;
        width: 55px;     
        &:hover{
            background: $green;
        }
        &--prev{
            margin: 13px 1px 0 0;
            &:hover .services__header-link-img--left-normal{
                opacity: 0;
            }
            &:hover .services__header-link-img--left-active{
                opacity: 1;
            }
            &:hover .services__header-link-img-container--left{
                left: 10px;
            }
        }
        &--next{
            margin: 13px 1px 0 0;
            &:hover .services__header-link-img--right-normal{
                opacity: 0;
            }
            &:hover .services__header-link-img--right-active{
                opacity: 1;
            }
            &:hover .services__header-link-img-container--right{
                right: 10px;
            }
        }
    }
    &__header-link-img{
        display: block;
        position: absolute;
        top: 0;
        transition: 0.2s;
        &--left-active{
            left: 0;
            opacity: 0;
        }
        &--left-normal{
            left: 0;
            opacity: 1;
            width: 7px;
        }
        &--right-active{
            opacity: 0;
            right: 0;
        }
        &--right-normal{
            opacity: 1;
            right: 0;
            width: 7px;
        }
    }
    &__header-link-img-container{
        position: absolute;
        top: 23px;
        transition: 0.2s;
        &--right{
            right: 22px;
        }
        &--left{
            left: 22px;
        }
    }
    &__service{
        display: block;
        height: 476px;
        margin: 30px 0 0 0;
        position: relative;
        text-decoration: none;
        width: 607px;
        &--tech{
            /*background: url('../img/service--tech.png') no-repeat 0 0;*/
            float: left;
            &:hover .services__service-arrow--1{
                left: 53%;
            }
        }
        &--science{
            /*background: url('../img/service--science.png') no-repeat 0 0;*/
            float: right;
            &:hover .services__service-arrow--2{
                left: 53%;
            }
        }
        &:hover .services__bg--active{
            opacity: 1;
        }
    }
    &__svg{
        display: table;
        margin: 0 auto;
        padding: 114px 0 0 0;
        position: relative;
        z-index: 2;
    }
    &__service-name{
        color: $black;
        font-family: $OSBold;
        font-size: 125%;
        padding: 51px 0 102px 0;
        position: relative;
        text-align: center;
        z-index: 2;
    }
    &__service-arrow{
        display: block;
        left: 50%;
        margin: 0 0 0 -10px;
        position: absolute;
        transition: .35s;
        z-index: 2;
    }
    &__line{
        background: rgba(255,255,255,.15);
        height: 1px;
        margin: 167px 0 0 0;
        width: 100%;
        &--products{
            margin: 130px 0 0;
        }
    }
}