.company__h2--vacancy{
    padding: 56px 0 45px 0;
}

.vacancy{
    border-bottom: 1px solid #d2d2d2;
    margin: 0 0 37px;
    padding: 0 0 22px;
    &__header{
        font-family: OpenSansBold, sans-serif;
        font-size: 115%;
        padding: 0 0 15px 0;
    }
    &__link{
        color: #1fcca3;
        display: block;
        float: left;
        font-family: OpenSansBold, sans-serif;
        text-decoration: none;
    }
    &__button{
        background: none;
        float: right;
        font-size: 100%;
        margin: 0 16px 0 0;
        padding: 15px 0 16px 0;
    }
    &__hidden{
        display: none;
    }
}

.career-popup{
    &__close-img{
        height: 22px;
        width: 22px;
        &--normal{
            background: url('../img/close.svg') no-repeat;
        }
        &--hover{
            background: url('../img/close-hover.svg') no-repeat;
        }
    }
}
