body{
    color: #1e1e1e;
    font-family: OpenSans, sans-serif;
    font-size: 100%;
    line-height: 140%;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper{
    margin: 0 auto;
    width: 1242px;
    padding: 0;
    &--guide{
        padding: 78px 0 30px 0;
        position: relative;
    }
}

.clear{
    clear: both;
}

.overflow-hidden{
    overflow: hidden;
}

@font-face{
    font-family: OpenSans;
    src: url('../fonts/open-sans-regular.ttf');
}

@font-face{
    font-family: OpenSansSemibold;
    src: url('../fonts/open-sans-semibold.ttf');
}

@font-face{
    font-family: OpenSansBold;
    src: url('../fonts/open-sans-bold.ttf');
}

@font-face{
    font-family: GentiumRegular;
    src: url('../fonts/GentiumRegular.ttf');
}

@font-face{
    font-family: GentiumRegularNew;
    src: url('../fonts/GentiumRegularNew.ttf');
}

.itecma{
    background: #fff;
    margin: 0 0 382px 0;
    min-width: 1242px;
    position: relative;
    &__column{
        &--left{
            float: left;
            width: 71%;
        }
        &--right{
            /*float: right;
            position: relative;
            width: 29%;*/
            float: right;
            height: 100%;
            position: absolute;
            right: 0;
            width: 29%;
        }
        &--service{
            width: 24.2%;
        }
    }
    &__main-content{
        /*float: right;*/
        padding: 0 27px 0 0;
        width: 928px;
    }
}

.green-link{    
    color: $green;    
    display: block;
    font-family: $OSBold;
    padding: 7px 0 7px 7px;
    position: relative;
    text-decoration: none;
    transition: 0.25s;
    &__dash{
        display: table;
        font-family: Open Sans, sans-serif;
        opacity: 0;
        position: absolute;
        right: 22px;
        transition: 0.25s;
    }    
    &:hover{
        margin: 0 27px 0 0;
    }
    &--default{
        float: right;
        margin: 0 0 0 0;
        &:hover{
            margin: 0 27px 0 0;
        }
    }
    &--product{
        float: right;
        &:hover{
            margin: 0 14px 0 28px;
        }
    }
    &--downloads{
        float: right;
    }
    &--articles{
        float: right;
        margin: -13px 0 0 0;
        &:hover{
            margin: -13px 27px 0 0;
        }
    }
    &--vacancy{
        display: block;
        float: left;
        margin: 8px 0px 0px -7px;
        &:hover{
            margin: 8px 0px 0px -24px;
        }
    }
    &:hover .green-link__dash{
        opacity: 1;
        right: -20px;
        transition: 0.25s;
    }
}

.green-button{
    height: 52px;
    position: relative;
    width: 100%;
    &:hover .binders__back--green{
        opacity: 0;
        transition-delay: .3s;
    }
    &:hover .binders__back--white{
        opacity: 1;
        transition-delay: .3s;
    }
    &--product{
        padding: 79px 0 86px;
    }
    &--service{
        padding: 69px 0 86px;
    }
    &--vacancy{
        float: right;
        margin: 0 14px 0 0;
        width: 294px;
    }
    &--popup-vacancy{
        margin: 0 auto;
        width: 188px;
    }
    &--popup-description{
        margin: 42px auto 0;
        width: 374px;
    }
    &--contacts{
        margin: 67px auto 0;
        width: 350px;
    }
    &--binders{
        height: 55px;
        margin: 79px auto 0;
        width: 376px;
    }
    &--card{
        height: 55px;
        margin: 17px auto 0;
        width: 376px;
    }
    &--card-description{
        height: 55px;
        margin: 50px 0 0 0;
    }
    &--guide{
        float: left;
        height: 55px;
        margin: -11px 0 0 68px;
        width: 376px;
    }
    &--binders-back{
        float: left;
        margin: 6px 0 0 0;
        width: 233px;
    }
    &--consultation{
        height: 55px;
        margin: 0 auto;
        width: 185px;
    }
    &__container{
        height: 100%;
        margin: 0 auto;
        position: relative;
        &--product{
            height: auto !important;
            width: 375px;
        }
        &--product-compare{
            margin: 30px auto 0;
            width: 375px;
        }
    }
    &__button{
        background: none;
        border: 1px solid #1fcca3;
        color: #1fcca3;
        cursor: pointer;
        display: table;
        font-family: OpenSansBold, sans-serif;
        padding: 11px 29px 12px 24px;
        position: absolute;
        transition: 0.2s;
        width: 100%;
        z-index: 1;
        &--product{
            font-size: 95%;
            padding: 16px 0 17px 0;
            text-decoration: none;
            text-align: center;

            text-decoration: none;
            text-align: center;
        }
        &--index{
            text-align: center;
            width: 181px;
        }
        &--popup-vacancy{
            font-size: 100%;
            padding: 14px 29px 16px 24px;
        }
        &--popup-description{
            font-size: 100%;
            padding: 14px 0 16px 0;
        }
        &--contacts{
            font-size: 100%;
            padding: 15px 29px 16px 24px;
        }
        &--binders{
            font-size: 100%;
            padding: 15px 0 16px 0;
        }
        &--guide{
            font-size: 100%;
            padding: 15px 0 16px 0;
        }
        &--binders-back{
            font-size: 100%;
            padding: 11px 27px 14px 24px;
            text-align: right;
            text-decoration: none;
            width: 175px;
        }    
        &--consultation{
            font-size: 100%;    
            padding: 15px 29px 16px 24px;            
        }
        &--card-description{
            font-size: 100%;
            padding: 15px 0 16px;
        }
        &:hover{
            color: #fff;
            transition-delay: .3s;
        }
        &:after{
            background: #1fcca3;
            content: '';
            height: 1px;   
            margin-top: -1px; 
            position: absolute;
            right: -10px;
            top: 50%;
            transition: 0.2s;
            width: 20px;
            z-index: -1;
        }
        &:before{
            background: rgba(255,255,255,0);
            content: '';
            height: 1px;
            position: absolute;
            top: 50%;
            right: 0;    
            z-index: -1;
        }
    }
}

.green-button__button:hover:after{  
    right: 0;
    width: 100%;
}

.green-button__button:hover:before{
    background: #1fcca3;
    height: 100%;
    position: absolute;
    transition: 0.2s;
    transition-delay: .3s;
    width: 100%;
    top: 0;
}

.black-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    left: 0;
    top: 0;
    z-index: 4;
    display: none;
}

.select{
    cursor: pointer;
    display: table;
    position: relative;
    &--downloads{
        margin: 0 30px 0 0;
    }   
    &--articles-month{
        float: left;        
        margin: 0 0 0 10px;
    }
    &--articles-date{
        float: left;
        margin: 0 0 0 101px;
    }    
    &__input{
        border: 1px solid #d2d2d2;
        color: $black;
        cursor: pointer;
        display: block;
        font-family: $GR;
        font-size: 105%;
        outline: none;
        padding: 4px 11px 5px 13px;
        position: relative;
        width: 100%;
        &--downloads{
            width: 329px;
        }
        &--articles-month{
            width: 107px;
        }
        &--articles-date{
            width: 83px;
        }
        &:hover + .select__select-arrow{
            background: $green;
        }
    }
    &__container{
        background: #fff;
        box-shadow: 0px 2px 8px rgba(100,100,100,0.15);
        display: none;
        left: 0;   
        position: absolute;
        top: 55px; 
        transition: 0.3s;
        width: 100%;
        z-index: 1;
        &--downloads{
            width: 354px !important;
        }
        &--active{
            display: block;
            top: 40px;
        }
    }
    &__select-arrow{
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: .3s;
        width: 40px;
        &--active{
            background: $green;
        }
        &--active .select__select-arrow-image{
            top: 16px;
            transform: rotate(180deg);
        }
        &:hover{
            background: $green;
        }
    }
    &__select-arrow-image{
        position: absolute;
        right: 13px;
        top: 18px;
        transition: .2s;
        width: 13px;
    }
    &__select-category{
        font-family: $GR;
        font-size: 110%;
        padding: 7px 0 7px 15px;
        &:hover .select__select-category-span:after{
            width: 100%;
        }
        &--active{
            color: $green;
        }
    }
    &__select-category-span{
        position: relative;
        &:after{
            background: $green;
            bottom: 3px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: 0.35s;
            width: 0;
        }
    }
    &__select-category:first-child{
        margin: -8px 0 0 0;
    }
    &__select-categories{
        height: auto;
        list-style: none;
        margin: 16px 0 16px;
        max-height: 127px;
        outline: none;
        li{
            font-family: $GR;
            font-size: 110%;
            padding: 7px 0 7px 15px;
            a{
                color: $black;
                position: relative;
                text-decoration: none;

            }
            a.active{
                color: $green;
            }            
            a:after{
                background: #1fcca3;
                bottom: 3px;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                transition: .35s;
                width: 0;
            }
            &:hover a:after{
                width: 100%;
            }
            &:hover a.active:after{
                width: 0;
            }
        }
    }    
}

.select__container--articles .jspContainer{
    width: 130px !important;
}

.select__container--articles-date .jspContainer{
    width: 106px !important;
}

.select__select-category--active:hover .select__select-category-span:after{
    width: 0;
}

.select--downloads .jspContainer{
    width: 350px !important;
}

.select__input::-webkit-input-placeholder{
    color: $black;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.select__input:-moz-placeholder{
    color: $black;
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

.select__input:-ms-input-placeholder{
    color: $black; 
    font-family: GentiumRegular, serif;
    font-size: 110%;
}

#object-1{
    cursor: pointer;
    float: left;
}

#object-2{
    cursor: pointer;
    float: left;
}

.svg-1--active{
    /*transition: 6.5s;    
    stroke-dashoffset: 200;*/
    animation-name: svganimation;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

@keyframes svganimation {
    from {stroke-dashoffset: 215;}
    to {stroke-dashoffset: 0;}
}

#svg-1, #svg-2{
    cursor: pointer;
    float: left;  
    stroke-dasharray: 215px;    
}

.services__service--tech:hover path{
    stroke: #ffffff;
}

.services__service--tech:hover circle{
    stroke: #ffffff;
}

.services__service--science:hover path{
    stroke: #ffffff;
}

.services__service--science:hover circle{
    stroke: #ffffff;
}

@media(max-width: 1242px){
    .itecma{
        &__main-content{
            float: none;
            margin-left: 0 !important;
        }
    }
}

@media(max-width: 1520px){
    .itecma{
        &__main-content{
            width: 875px;
        }
        &__column--right{
            width: 27%;
        }
    }
    .team__employee{
        width: 267px !important;
    }
    .history__info-column {
        width: 745px !important;
    }
    .articles__article{
        width: 270px !important;
    }
    .articles__options, .articles__line, .navigation--articles{
        width: 875px !important;
    }
    .product-slider__content{
        width: 776px !important;
    }
}


@media(max-width: 1200px){
    .header__guide-text{
        display: none;
    }
    .header__guide{
        background: #1e1e1e;
        border: 1px solid #fff !important;
        width: 57px !important;
    }
    .header__guide-img--normal{
        opacity: 1 !important;
    }
    .header__menu{
        padding: 14px 0 15px 14px !important;
        width: 43px !important;
    }
    .header__menu-text{
        display: none;
    }
    .header__search-input--active{
        float: none !important;
        position: absolute !important;
        top: 55px;
        width: 268px !important;
    }
    .header__search-input{
        float: none !important;
        position: absolute !important;
        top: 55px;
    }
    .header__guide:hover .header__guide-img--normal{
        opacity: 0;
    }
    .header__guide:hover .header__guide-img--hover{
        opacity: 1;
    }
}

