$green: rgba(31, 204, 163, 1);
$black: rgba(30, 30, 30, 1);
$OSBold: OpenSansBold,sans-serif;
$OSSemibold: OpenSansSemibold, sans-serif;
$GR: GentiumRegular, sans-serif;
$GRN: GentiumRegularNew, sans-serif;