div.category.category--products
    div.wrapper
        a.category__card(href="#")
            div.category__bg.category__bg--normal.category__bg--binder 
            div.category__bg.category__bg--active.category__bg--binder-active
            div.category__header Связующие
            ul 
                li Полимерные связующие собственной разработки для высокотехнологичных и массовых отраслей
                li Линия связующих для изготовления оснастки
            div.category__temperature
                div.category__temperature-header Температура эксплуатации в изделиях:
                div.category__temperature-text  от -100 до +450 ⁰С
            div.category__link
                img.category__link-image(src="assets/img/arrow-cat.svg" alt="Подробнее")
                div.category__link-text Подробнее

        a.category__card(href="#")
            div.category__bg.category__bg--normal.category__bg--fabric 
            div.category__bg.category__bg--active.category__bg--fabric-active
            div.category__header Ткани и ленты
            ul
                li Из углеродного волокна российских и зарубежных производителей
                li Ткани и ленты с биндером ITECMA не требуют использования клея для временной фиксации.
            div.category__link
                img.category__link-image(src="assets/img/arrow-cat.svg" alt="Подробнее")
                div.category__link-text Подробнее
        div.clear

        a.category__card(href="#")
            div.category__bg.category__bg--normal.category__bg--glue
            div.category__bg.category__bg--active.category__bg--glue-active
            div.category__header Клеи и клеевые пленки
            ul
                li Для склеивания сотовых и композитных конструкций с эффектом вспенивания
                li Тиксотропный клей не течет и может использоваться для заполнения больших полостей
            div.category__temperature
                div.category__temperature-header Температура эксплуатации в изделиях:
                div.category__temperature-text от -100 до +250 ⁰С
            div.category__link
                img.category__link-image(src="assets/img/arrow-cat.svg" alt="Подробнее")
                div.category__link-text Подробнее 

        a.category__card(href="#")
            div.category__bg.category__bg--normal.category__bg--prepregs 
            div.category__bg.category__bg--active.category__bg--prepregs-active
            div.category__header Препреги
            ul
                li На основе углеродных тканей и связующих собственного производства 
            div.category__temperature
                div.category__temperature-header Температура эксплуатации в изделиях:
                div.category__temperature-text от -100 до +250 ⁰С
            div.category__link
                img.category__link-image(src="assets/img/arrow-cat.svg" alt="Подробнее")
                div.category__link-text Подробнее
        div.clear