div.downloads__download-block.downloads__download-block--2-1
    a.downloads__download(href="#")
        div.downloads__hover
            div.downloads__hover-info
                div.downloads__hover-info-container
                    img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                    div.downloads__hover-text Загрузить
                    div.clear
        div.downloads__table-cell                        
            img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
            div.downloads__download-info
                div.downloads__download-name Производство гибкой графитовой фольги 444
                div.downloads__download-size Вес. 340 МБ
            div.clear

    a.downloads__download(href="#")
        div.downloads__hover
            div.downloads__hover-info
                div.downloads__hover-info-container
                    img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                    div.downloads__hover-text Загрузить
                    div.clear
        div.downloads__table-cell                        
            img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
            div.downloads__download-info
                div.downloads__download-name Производство гибкой графитовой фольги 444
                div.downloads__download-size Вес. 340 МБ
            div.clear

    a.downloads__download(href="#")
        div.downloads__hover
            div.downloads__hover-info
                div.downloads__hover-info-container
                    img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                    div.downloads__hover-text Загрузить
                    div.clear
        div.downloads__table-cell                        
            img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
            div.downloads__download-info
                div.downloads__download-name Производство гибкой графитовой фольги 444
                div.downloads__download-size Вес. 340 МБ
            div.clear

    a.downloads__download(href="#")
        div.downloads__hover
            div.downloads__hover-info
                div.downloads__hover-info-container
                    img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                    div.downloads__hover-text Загрузить
                    div.clear
        div.downloads__table-cell                        
            img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
            div.downloads__download-info
                div.downloads__download-name Производство гибкой графитовой фольги 444
                div.downloads__download-size Вес. 340 МБ
            div.clear

    a.downloads__download(href="#")
        div.downloads__hover
            div.downloads__hover-info
                div.downloads__hover-info-container
                    img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                    div.downloads__hover-text Загрузить
                    div.clear
        div.downloads__table-cell                        
            img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
            div.downloads__download-info
                div.downloads__download-name Производство гибкой графитовой фольги 444
                div.downloads__download-size Вес. 340 МБ
            div.clear

    a.downloads__download(href="#")
        div.downloads__hover
            div.downloads__hover-info
                div.downloads__hover-info-container
                    img.downloads__hover-img(src="assets/img/download-hover.svg" alt="скачать")
                    div.downloads__hover-text Загрузить
                    div.clear
        div.downloads__table-cell                        
            img.downloads__download-img(src="assets/img/download-normal.svg" alt="скачать")
            div.downloads__download-info
                div.downloads__download-name Производство гибкой графитовой фольги 444
                div.downloads__download-size Вес. 340 МБ
            div.clear

    div.clear