footer.footer
    div.footer__info
        div.wrapper
            div.footer__links-container
                a.footer__link(href="index.html") Главная
                a.footer__link(href="company.html") О компании
                a.footer__link(href="products.html") Продукция
                a.footer__link(href="services.html") Услуги
                a.footer__link(href="articles.html") Библиотека
                a.footer__link(href="articles.html") События
                a.footer__link(href="downloads.html") Загрузки
                a.footer__link(href="contacts.html") Контакты
                a.footer__link-phone(href="tel:+74959393592") +(495) 939-35-92 
                div.clear
                a.footer__link-email(href="mailto:inumit@info.ru") inumit@info.ru
                div.clear
            div.footer__row
                div.footer__top
                    img.footer__top-image.footer__top-image-normal(src="assets/img/top.svg" alt="Наверх")
                    img.footer__top-image.footer__top-image-hover(src="assets/img/top-hover.svg" alt="Наверх")
                div.footer__social
                    a.footer__social-icon(href="#")
                        include ../../img/twitter.svg  
                        //img.footer__social-icon-image.footer__social-icon-image--twitter(src="assets/img/twitter.svg" alt="твиттер")
                    a.footer__social-icon(href="#")
                        include ../../img/facebook.svg 
                        //img.footer__social-icon-image.footer__social-icon-image--facebook-hover(src="assets/img/facebook-hover.svg" alt="фейсбук")
                    a.footer__social-icon(href="#")
                        include ../../img/vk.svg 
                        //img.footer__social-icon-image.footer__social-icon-image--vk-hover(src="assets/img/vk-hover.svg" alt="вконтакте")
                    a.footer__social-icon(href="#")
                        include ../../img/instagram.svg  
                        //img.footer__social-icon-image.footer__social-icon-image--instagram-hover(src="assets/img/instagram-hover.svg" alt="инстаграм")              
                    div.clear
                form.footer__subscribe
                    div.footer__subscribe-text Подписаться на рассылку
                    input.footer__subscribe-input(placeholder="E-mail")
                    button.footer__subscribe-button Отправить
                    div.clear
                div.footer__column-right
                    div.footer__copyright © 2016 Itecma все права защищены
                    div.footer__netlab
                        | Разработка сайта 
                        a.footer__netlab-link(href="#") Netlab
                div.clear
