div.guide
    div.wrapper.wrapper--guide
        div.guide__close
            img.guide__close-img.guide__close-img--normal(src="assets/img/close-big.svg" alt="закрыть")
            img.guide__close-img.guide__close-img--hover(src="assets/img/close-big-hover.svg" alt="закрыть")  
        h1.guide__header Поможем найти, что вы ищите
        div.green-button.green-button--guide
            div.green-button__container
                button.green-button__button.green-button__button--guide.popup-consultation-button Проконсультироваться у специалиста
        div.clear

        div.guide__row
            h2.guide__row-header Выберите отрасль
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--ship
                div.guide__tab-img-container.guide__tab-img-container--ship
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/ship-normal.svg" alt="Судостроение")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/ship-hover.svg" alt="Судостроение")
                div.guide__tab-text.guide__tab-text--ship Судостроение
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--snap
                div.guide__tab-img-container.guide__tab-img-container--snap
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/snap-normal.svg" alt="Оснастка")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/snap-hover.svg" alt="Оснастка")
                div.guide__tab-text.guide__tab-text--snap Оснастка
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--car
                div.guide__tab-img-container.guide__tab-img-container--car
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/car-normal.svg" alt="Автомобили и тюнинг")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/car-hover.svg" alt="Автомобили и тюнинг")
                div.guide__tab-text.guide__tab-text--car 
                    | Автомобили
                    br
                    | и тюнинг
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--sport
                div.guide__tab-img-container.guide__tab-img-container--sport
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/sport-normal.svg" alt="Спорт, отдых, хобби")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/sport-hover.svg" alt="Спорт, отдых, хобби")
                div.guide__tab-text.guide__tab-text--sport 
                    | Спорт, отдых,
                    br
                    | хобби
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--aviation
                div.guide__tab-img-container.guide__tab-img-container--aviation
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/aviation-normal.svg" alt="Авиация и космос")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/aviation-hover.svg" alt="Авиация и космос")
                div.guide__tab-text.guide__tab-text--aviation 
                    | Авиация
                    br
                    | и космос
            div.clear


        div.guide__row
            h2.guide__row-header Выберите технологии
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--rtm
                div.guide__tab-img-container.guide__tab-img-container--rtm
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/rtm-normal.svg" alt="РТМ")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/rtm-hover.svg" alt="РТМ")
                div.guide__tab-text.guide__tab-text--rtm РТМ
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--winding
                div.guide__tab-img-container.guide__tab-img-container--winding
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/winding-normal.svg" alt="Намотка")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/winding-hover.svg" alt="Намотка")
                div.guide__tab-text.guide__tab-text--winding Намотка
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--autoclave
                div.guide__tab-img-container.guide__tab-img-container--autoclave
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/autoclave-normal.svg" alt="Автоклав")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/autoclave-hover.svg" alt="Автоклав")
                div.guide__tab-text.guide__tab-text--autoclave Намотка
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--infusion
                div.guide__tab-img-container.guide__tab-img-container--infusion
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/infusion-normal.svg" alt="Инфузия")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/infusion-hover.svg" alt="Инфузия")
                div.guide__tab-text.guide__tab-text--infusion Инфузия
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--lamination
                div.guide__tab-img-container.guide__tab-img-container--lamination
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/lamination-normal.svg" alt="Ручное ламинирование")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/lamination-hover.svg" alt="Ручное ламинирование")
                div.guide__tab-text.guide__tab-text--lamination Ручное ламинирование
            div.clear


        div.guide__row
            h2.guide__row-header Выберите характеристики материала
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--high-temp
                div.guide__tab-img-container.guide__tab-img-container--high-temp
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/high-temp-normal.svg" alt="Высокотемпературное применение")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/high-temp-hover.svg" alt="Высокотемпературное применение")
                div.guide__tab-text.guide__tab-text--high-temp
                    | Высоко-
                    br
                    | температурное
                    br
                    | применение
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--solid
                div.guide__tab-img-container.guide__tab-img-container--solid
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/solid-normal.svg" alt="Отверждение при комнатной температуре")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/solid-hover.svg" alt="Отверждение при комнатной температуре")
                div.guide__tab-text.guide__tab-text--solid 
                    | Отверждение
                    br
                    | при комнатной
                    br
                    | температуре
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--high-strength
                div.guide__tab-img-container.guide__tab-img-container--high-strength
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/high-strength-normal.svg" alt="Высокопрочные")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/high-strength-hover.svg" alt="Высокопрочные")
                div.guide__tab-text.guide__tab-text--high-strength Высокопрочные
            div.guide__tab
                div.guide__tab-bg.guide__tab-bg--price
                div.guide__tab-img-container.guide__tab-img-container--price
                    img.guide__tab-img.guide__tab-img--normal(src="assets/img/guide/price-hover.svg" alt="Оптимальная цена")
                    img.guide__tab-img.guide__tab-img--hover(src="assets/img/guide/price-normal.svg" alt="Оптимальная цена")
                div.guide__tab-text.guide__tab-text--price
                    | Оптимальная
                    br
                    | цена
            div.clear

        div.guide__line

        div.guide__result-header Результат

        div.guide__result-item
            div.guide__result-item-column-left Связующее:
            a.guide__result-item-column-right(href="#")
                span.guide__result-item-name SB270
                |  для T < 250C
            div.clear

        div.guide__result-item
            div.guide__result-item-column-left Ткани:
            a.guide__result-item-column-right(href="#")
                span.guide__result-item-name PN-3M
                |  для T < 430C
            div.clear