header.header-container
    div.wrapper
        div.header-logo
            a.header-logo__link(href="index.html")
                img(src="assets/img/logo.png" alt="logo") 
                
        include right-menu-fixed

        div.header
            div.wrapper        
                div.header__menu-container
                    
                    div.header__menu
                        div.header__menu-block-container
                        div.header__menu-hamburger
                            div.header__menu-hamburger-line.header__menu-hamburger-line--1
                            div.header__menu-hamburger-line.header__menu-hamburger-line--2
                            div.header__menu-hamburger-line.header__menu-hamburger-line--3
                        div.header__menu-text Меню 
                    div.header__guide 
                        div.header__guide-text Путеводитель по материалам
                        img.header__guide-img.header__guide-img--normal(src="assets/img/guide.svg" alt="Иконка путеводителя")
                        img.header__guide-img.header__guide-img--hover(src="assets/img/guide-hover.svg" alt="Иконка путеводителя")
                    div.header__phone.popup-consultation-button
                        img.header__phone-image.header__phone-image--normal(src="assets/img/phone.svg" alt="Проконсультироваться")
                        img.header__phone-image.header__phone-image--hover(src="assets/img/phone-hover.svg" alt="Проконсультироваться")
                    div.header__search-close
                        img.header__search-close-img.header__search-close-img--normal(src="assets/img/close.svg" alt="Закрыть")
                        img.header__search-close-img.header__search-close-img--hover(src="assets/img/close-hover.svg" alt="Закрыть")
                    div.header__search                        
                        img.header__search-image.header__search-image--normal(src="assets/img/search.svg" alt="Поиск")
                        img.header__search-image.header__search-image--hover(src="assets/img/search-hover.svg" alt="Поиск")
                    input.header__search-input(placeholder="Введите запрос для поиска")
                    div.clear                        
                div.clear