div.history

    div.history__item
        div.history__date-column
            div.history__date 1992
        div.history__info-column
            div.history__header Разработка и производство новых материалов невозможна без комплекса исследовательского и испытательного оборудования
            div.history__text-container
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. 
                div.history__text-hidden
                    p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.     
            a.green-link.green-link--default.history__link(href="#") 
                span.green-link__dash —
                | Читать все о периоде
            div.clear
        div.clear

    div.history__item
        div.history__date-column
            div.history__date 1994
        div.history__info-column
            div.history__header Разработка и производство новых материалов невозможна без комплекса исследовательского и испытательного оборудования
            div.history__text-container
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. 
                div.history__text-hidden
                    p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.     
            a.green-link.green-link--default.history__link(href="#")
                span.green-link__dash —
                | Читать все о периоде
            div.clear
        div.clear

    div.history__item
        div.history__date-column
            div.history__date 1996
        div.history__info-column
            div.history__header Разработка и производство новых материалов невозможна без комплекса исследовательского и испытательного оборудования
            div.history__text-container
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. 
                div.history__text-hidden
                    p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.     
            a.green-link.green-link--default.history__link(href="#") 
                span.green-link__dash —
                | Читать все о периоде
            div.clear
        div.clear 