div.index-slider(id="mainpage-slider")
    div.index-slide
        div.index-slide__image(style="background-image: url('assets/img/index-slide.png')")
        div.index-slide__textblock
            a.index-slide__header(href="#") PN-3M
            p.index-slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол
    div.index-slide
        div.index-slide__image(style="background-image: url('assets/img/index-slide.png')")
        div.index-slide__textblock
            a.index-slide__header(href="#") PN-3M
            p.index-slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол                         
    div.index-slide 
        div.index-slide__image(style="background-image: url('assets/img/index-slide.png')")
        div.index-slide__textblock
            a.index-slide__header(href="#") PN-3M 
            p.index-slide__text Связующее с температурой эксплуатации композита до 450 С и технологичностью эпоксидных смол  