div.index-services
    div.index-services__column-left
        a.index-services__link.index-services__link--1(href="#")
            //img.index-services__icon(src="/assets/img/service-1.svg" alt="Техническое сопровождение")
            //object(type="image/svg+xml", data="assets/img/service-1.svg" id="object-1")   
            include ../../img/service-1.svg     
            div.index-services__text Техническое сопровождение
            div.clear
            img.index-services__arrow.index-services__arrow--1(src="assets/img/arrow-green.svg" alt="Стрелка")
    div.index-services__column-center
        div.index-services__line
    div.index-services__column-right
        a.index-services__link.index-services__link--2(href="#")
            //object(type="image/svg+xml", data="assets/img/service-2.svg" id="object-2")
            include ../../img/service-2.svg 
            div.index-services__text Научные разработки
            div.clear
            img.index-services__arrow.index-services__arrow--2(src="assets/img/arrow-green.svg" alt="Стрелка") 
    div.clear 