div.popup-description
    div.popup-description__close-container
        div.popup-description__close-img.popup-description__close-img--normal
        div.popup-description__close-img.popup-description__close-img--hover
    div.popup-description__container
        h2 Описание и выгода
        div.popup-description__content
    div.green-button.green-button--popup-description
        div.green-button__container
            button.green-button__button.green-button__button--popup-description.popup-consultation-button Проконсультироваться у специалиста