form.consultation
    div.consultation__close
        div.career-popup__close-img.career-popup__close-img--normal
        div.career-popup__close-img.career-popup__close-img--hover
    div.consultation__header Получить консультацию у специалиста
    div.consultation__text Мы можем позвонить вам абсолютно бесплатно!
    div.consultation__necessary Обязательно к заполнению
    div.consultation__input-container
        input.consultation__input(name="name" placeholder="Имя")
    div.consultation__input-container
        input.consultation__input(name="phone" placeholder="Номер телефона") 
    div.consultation__input-container
        input.consultation__input(name="city" placeholder="Город") 
    div.consultation__input-container
        div.consultation__select
            input.consultation__input.consultation__input--select(name="time" placeholder="Удобное время для звонка") 
            div.consultation__select-arrow
                img.consultation__select-arrow-image(src="assets/img/select-bottom.svg" alt="Стрелочка")
            ul.consultation__select-variants
                li.consultation__select-variants-li 
                    span.consultation__select-variants-li-span Через 1 час
                li.consultation__select-variants-li 
                    span.consultation__select-variants-li-span Через 2 часа
                li.consultation__select-variants-li 
                    span.consultation__select-variants-li-span Через 3 часа
    textarea.consultation__input.consultation__input--textarea(placeholder="Сообщение")
    div.green-button.green-button--consultation
        div.green-button__container
            button.green-button__button.green-button__button--consultation Отправить