form.career-popup
    div.career-popup__close
        div.career-popup__close-img.career-popup__close-img--normal
        div.career-popup__close-img.career-popup__close-img--hover 
    div.career-popup__header Откликнуться на вакансию
    div.career-popup__post топ менеджер
    div.career-popup__necessary Обязательно к заполнению
    div.consultation__input-container
        input.consultation__input(name="careername" placeholder="Имя")
    div.consultation__input-container
        input.consultation__input(name="careerphone" placeholder="Номер телефона")
    div.consultation__input-container
        input.consultation__input(name="careeremail" placeholder="Email")
    div.career-popup__summary-row
        div.career-popup__summary-text Прикрепить резюме
        label.career-popup__summary-label(for="summary") Обзор
        input(type="file" id="summary")
        div.clear
    textarea.consultation__input.consultation__input--textarea(name="career-textarea" placeholder="Сообщение")
    div.green-button.green-button--popup-vacancy
        div.green-button__container
            button.green-button__button.green-button__button--popup-vacancy Отправить