div.product-slider
    div.product-slider__slider
        div.product-slider__slide(style="background:url('assets/img/product-slide.png')")
            div.product-slider__content
                div.product-slider__header Авиация и космос
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
        div.product-slider__slide(style="background:url('assets/img/product-slide.png')")
            div.product-slider__content
                div.product-slider__header Авиация и космос
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
        div.product-slider__slide(style="background:url('assets/img/product-slide.png')")
            div.product-slider__content
                div.product-slider__header Авиация и космос
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.