div.product-slider
    div.product-slider__slider
        div.product-slider__slide(style="background:url('assets/img/product-slide.png')")
            div.product-slider__gradient
            div.product-slider__content
                div.product-slider__header Авиация и космос
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
                a.green-link.green-link--product.product__slider-link(href="#" data-text="<p>В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы. При выборе связующего следует уделять внимание ряду ключевых параметров, которые обусловливают прочностные показатели конечного изделия. Температура эксплуатации (ограничена температурой стеклования полимерной матрицы и падением ее модуля упругости при нагревании. Следует обращать внимание именно на падение модуля упругости полимерной матрицы, так как он приближенно описывает падение прочности конечного изделия); Прочность полимерной матрицы (придает дополнительную прочность в направлениях, в которых отсутствует армирование, прочность при сдвигахмежслоевая прочность)); Трещиностойкость (высокое значение трещиностойкости обуславливает большую устойчивость к развитию трещин в композите, а также способствует устойчивости к ударным нагрузкам и более полной реализации прочности при нагрузках в разных направлениях в разных направлениях </p>")
                    span.green-link__dash —
                    | Подробнее
                div.clear
        div.product-slider__slide(style="background:url('assets/img/prepregs.png')")
            div.product-slider__gradient
            div.product-slider__content
                div.product-slider__header Авиация и космос
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
                a.green-link.green-link--product.product__slider-link(href="#" data-text="2")
                    span.green-link__dash —
                    | Подробнее
                div.clear
        div.product-slider__slide(style="background:url('assets/img/glue.png')")
            div.product-slider__gradient
            div.product-slider__content
                div.product-slider__header Авиация и космос
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
                a.green-link.green-link--product.product__slider-link(href="#" data-text="3")
                    span.green-link__dash —
                    | Подробнее
                div.clear 
        div.product-slider__slide(style="background:url('assets/img/fabric.png')")
            div.product-slider__gradient
            div.product-slider__content
                div.product-slider__header Авиация и космос
                p В полимерном композиционном материале основное назначение полимерной матрицы состоит в равномерном распределении нагрузки на армирующий материал, таким образом, чтобы армирующий материал мог полностью реализовать свою прочность, без разрушения матрицы.
                a.green-link.green-link--product.product__slider-link(href="#" data-text="4")
                    span.green-link__dash —
                    | Подробнее
                div.clear 