div.right-menu-fixed
    div.right-menu-fixed__menu-container
        div.right-menu-fixed__languages
            a.active(href="#") RU
            a(href="#") EN
        div.right-menu-fixed__close  
            div.header__menu-block-container
            div.header__menu-hamburger
                div.header__menu-hamburger-line.header__menu-hamburger-line--2
                div.header__menu-hamburger-line.header__menu-hamburger-line--3
            div.header__menu-text Закрыть
        div.right-menu-fixed__menu           
            ul.right-menu-fixed__ul1
                li.right-menu-fixed__ul1-li
                    a.right-menu-fixed__link1--active(href="index.html") 
                        span.right-menu-fixed__link-span Главная
                li.right-menu-fixed__ul1-li.right-menu-fixed__hidden
                    a.right-menu-fixed__link1.right-menu-fixed__link-1--hidden
                        span.right-menu-fixed__link-span О&nbsp;компании 
                            div.right-menu-fixed__arrow-container 
                                img.right-menu-fixed__arrow.right-menu-fixed__arrow--normal(src="assets/img/right-menu-arrow-normal.svg" alt="стрелка")
                                img.right-menu-fixed__arrow.right-menu-fixed__arrow--hover(src="assets/img/right-menu-arrow-hover.svg" alt="стрелка")
                    ul.right-menu-fixed__ul2 
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="company.html") 
                                span.right-menu-fixed__link-span2 О нас
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="#") 
                                span.right-menu-fixed__link-span2 Команда
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="vacancy.html") 
                                span.right-menu-fixed__link-span2 Вакансии
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="#") 
                                span.right-menu-fixed__link-span2 Фотогалерея
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="history.html") 
                                span.right-menu-fixed__link-span2 История
                li.right-menu-fixed__ul1-li.right-menu-fixed__hidden
                    a.right-menu-fixed__link1.right-menu-fixed__link-1--hidden
                        span.right-menu-fixed__link-span Услуги
                            div.right-menu-fixed__arrow-container 
                                img.right-menu-fixed__arrow.right-menu-fixed__arrow--normal(src="assets/img/right-menu-arrow-normal.svg" alt="стрелка")
                                img.right-menu-fixed__arrow.right-menu-fixed__arrow--hover(src="assets/img/right-menu-arrow-hover.svg" alt="стрелка")
                    
                    ul.right-menu-fixed__ul2
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="service.html") 
                                span.right-menu-fixed__link-span2 Техническое сопровождение
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="service.html") 
                                span.right-menu-fixed__link-span2 Научные открытия
                li.right-menu-fixed__ul1-li.right-menu-fixed__hidden
                    a.right-menu-fixed__link1.right-menu-fixed__link-1--hidden
                        span.right-menu-fixed__link-span Продукция
                            div.right-menu-fixed__arrow-container 
                                img.right-menu-fixed__arrow.right-menu-fixed__arrow--normal(src="assets/img/right-menu-arrow-normal.svg" alt="стрелка")
                                img.right-menu-fixed__arrow.right-menu-fixed__arrow--hover(src="assets/img/right-menu-arrow-hover.svg" alt="стрелка")
                    
                    ul.right-menu-fixed__ul2
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="product.html") 
                                span.right-menu-fixed__link-span2 Связующие
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="product-2.html") 
                                span.right-menu-fixed__link-span2 Ткани и ленты
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="product.html") 
                                span.right-menu-fixed__link-span2 Препреги
                        li.right-menu-fixed__ul2-li
                            a.right-menu-fixed__link2(href="product.html") 
                                span.right-menu-fixed__link-span2 Клеи и клеевые пленки
                li.right-menu-fixed__ul1-li
                    a.right-menu-fixed__link1(href="#") 
                        span.right-menu-fixed__link-span Библиотека
                li.right-menu-fixed__ul1-li
                    a.right-menu-fixed__link1(href="#") 
                        span.right-menu-fixed__link-span События
                li.right-menu-fixed__ul1-li
                    a.right-menu-fixed__link1(href="downloads.html") 
                        span.right-menu-fixed__link-span Загрузки
                li.right-menu-fixed__ul1-li
                    a.right-menu-fixed__link1(href="contacts.html") 
                        span.right-menu-fixed__link-span Контакты
    div.clear