a.fancybox.team__employee(href="assets/img/employee-1.png" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="assets/img/employee-1.png") 
    div.fancybox__image-container.fancybox__image-container--team
        div.fancybox__green-doodle 
        img.fancybox__image-container-image(src="assets/img/employee-1.png")
    div.team__employee-header Мирослав Нестеров
    div.team__employee-text Ведущий разработчик
a.fancybox.team__employee(href="assets/img/employee-2.png" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="assets/img/employee-2.png") 
    div.fancybox__image-container.fancybox__image-container--team
        div.fancybox__green-doodle
        img.fancybox__image-container-image(src="assets/img/employee-2.png")
    div.team__employee-header Мирослав Нестеров
    div.team__employee-text Ведущий разработчик
a.fancybox.team__employee(href="assets/img/employee-3.png" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="assets/img/employee-3.png") 
    div.fancybox__image-container.fancybox__image-container--team
        div.fancybox__green-doodle
        img.fancybox__image-container-image(src="assets/img/employee-3.png")
    div.team__employee-header Мирослав Нестеров
    div.team__employee-text Ведущий разработчик
a.fancybox.team__employee(href="assets/img/employee-4.png" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="assets/img/employee-4.png") 
    div.fancybox__image-container.fancybox__image-container--team
        div.fancybox__green-doodle
        img.fancybox__image-container-image(src="assets/img/employee-4.png")
    div.team__employee-header Мирослав Нестеров
    div.team__employee-text Ведущий разработчик
a.fancybox.team__employee(href="assets/img/employee-5.png" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="assets/img/employee-5.png") 
    div.fancybox__image-container.fancybox__image-container--team
        div.fancybox__green-doodle
        img.fancybox__image-container-image(src="assets/img/employee-5.png")
    div.team__employee-header Мирослав Нестеров
    div.team__employee-text Ведущий разработчик
a.fancybox.team__employee(href="assets/img/employee-6.png" rel="gallery" title="Мирослав Нестеров" data-post="Ведущий разработчик" data-text="<p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p><p>В 1986 г. была создана отраслевая лаборатория Химии новых углеродных материалов под руководством молодого ученого В.Авдеева, основной задачей которой была разработка конструкционных материалов для аэрокосмической техники.</p><p>Наша история начинается в 70-х годах в лаборатории химии углеродных материалов МГУ им. М.В. Ломоносова, где учениками и последователями научной школы академика Л. Ф. Верещагина проводились фундаментальные исследования физических свойств твёрдых тел при высоких давлениях.</p>" data-bg="assets/img/employee-6.png") 
    div.fancybox__image-container.fancybox__image-container--team
        div.fancybox__green-doodle
        img.fancybox__image-container-image(src="assets/img/employee-6.png")
    div.team__employee-header Мирослав Нестеров
    div.team__employee-text Ведущий разработчик
div.clear