div.video-fixed
    video.video-fixed__video(loop muted autoplay poster="assets/video/video.jpg")
        source(src="assets/video/video.webm" type="video/webm")
        source(src="assets/video/video.mp4" type="video/mp4")
        source(src="assets/video/video.ogv" type="video/ogv")